[2021-03-23 17:56] #264 closed

[2021-03-24 07:24] knjk04 opened #664 "Create forgot password modal"
**Describe the solution you'd like**

Create a forgot password modal as shown in the screenshot below.

It should be centred in the middle of the screen and be responsive.

The modal component should be generic as it'll be used in other places

**Additional context**

![image](https://user-images.githubusercontent.com/11173328/112270520-aefde500-8c71-11eb-897f-6c60a150aead.png)

[2021-03-25 04:53] RivaD2 commented on #664
@knjk04,
  Hello, I hope all is well. May I give this issue a try?

Thank you :)

[2021-03-25 07:58] knjk04 commented on #664
Hi Riva, sure! Thanks again for the help!

[2021-03-25 08:28] knjk04 commented on #280
@SeonghoLee4 Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-03-25 21:50] RivaD2 commented on #664
@knjk04 I have some questions for you as I'm planning out the best way to build the modal.
For the modal:
  - What is the parent container? I know that we have the settings page and the login page. Who would trigger the modal?
  -  You mentioned that you want a generic modal so it can be used elsewhere. Does this mean you don't want it hooked up to anything quite yet? If that is the case, then the

[2021-03-26 07:20] knjk04 commented on #664
![image](https://user-images.githubusercontent.com/11173328/112596112-46467200-8e03-11eb-9a94-eb83ebbdc604.png)

This modal should be brought up when the user clicks on 'Forgot password', so perhaps the Login component?

Either's fine, whichever one you feel is best!

Could we have a new `components` folder in `shared/` that contains the modal (no further subdirectory needed at this point)?

[2021-03-26 07:29] knjk04 opened #665 "Create add shelf modal"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/112597347-eb157f00-8e04-11eb-84d1-115564317e97.png)

Create an add shelf modal that is centered in the middle of the screen. It should also be responsive.

The modal should be brought up when the user clicks on 'Add shelf'. When the user clicks on the 'cancel' button in the modal, it should close.

[2021-03-26 07:31] knjk04 commented on #665
Blocked by #664

[2021-03-26 16:27] RivaD2 commented on #664
@knjk04 Thank you for answering my questions:)
  When you have time, if you can look into portals a bit more and give me some additional guidance, that would be great! I have read the documentation and it says, "Portals provide a first-class way to render children into a DOM node that exists outside the DOM hierarchy of the parent component."

In my mind I am trying to craft the DOM tree of this a

[2021-03-27 07:47] knjk04 commented on #664
Sure, I'll look into this & get back to you shortly

[2021-03-28 07:53] kumawatanupriya commented on #80
Hi @knjk04, please check the pull request again.  #662

[2021-03-28 16:09] knjk04 commented on #632
(Discussed offline)

[2021-03-28 16:13] knjk04 commented on #661
@hieu-t-tran How are you getting on with this?

[2021-03-29 07:15] hieu-t-tran commented on #661
Hi Karan! I am still working on the issue and I plan to make an initial draft PR in the next few days. Thank you for checking in.

[2021-03-29 07:26] knjk04 commented on #661
Hi Hieu, no problem. Thanks for the update. Let us know if you need a hand

[2021-03-29 08:04] knjk04 opened #666 "Create reading goal section"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/112805256-434eba00-906d-11eb-8566-c874dd70ec2d.png)

Create the reading goal section as shown above.

**Additional context**

![image](https://user-images.githubusercontent.com/11173328/112805396-71cc9500-906d-11eb-94c2-4f5b059572d5.png)

The above screenshot shows what it should look like within the c

[2021-03-30 02:42] ZackHollander commented on #280
Can I take this?

[2021-03-30 06:57] knjk04 commented on #280
@SeonghoLee4 At your request, I'll reassign you the issue. As discussed, please feel free to reach out for any help required. We're more than happy to assist

[2021-03-30 06:59] knjk04 opened #667 "Create delete account endpoint"
Create a delete account endpoint that deletes the currently logged in account. It should take in the password as a parameter to re-authenticate the user (to handle the time of check to time of use issue).

[2021-03-30 07:02] knjk04 commented on #280
@ZackHollander Are you interested in #667, instead?

[2021-03-30 11:53] ZackHollander commented on #667
I can take this.

[2021-04-01 21:27] RivaD2 commented on #664
@knjk04 I think I will go ahead and build the modal using Material-UI:
  - I will create the `Modal` Class based component and in the render have an onClick to hide the modal
  - In the `Login.tsx` file, I will need to add in a `showModal` method
  - As the user clicks on `forgotPassWord` to trigger the Modal, it is there that I should pass in an `onClick` prop and pass in the method to show it

[2021-04-03 11:39] knjk04 commented on #664
@RivaD2 Sorry, I hadn't had time to look into this yet, but the material-ui approach sounds good!

You're right that clicking outside of the modal should close it. The 'cancel' button should also close the modal.

Thanks again for your help on this!

[2021-04-04 11:41] kumawatanupriya commented on #80
Hi @knjk04 , please check the PR #662 again. I have used different approach.Let me know if that works or not.

[2021-04-04 16:11] knjk04 commented on #80
@kumawatanupriya Sure, I'll take a look. Thanks

[2021-04-05 02:03] ofvoler commented on #666
Can I take this, please?

[2021-04-05 05:48] knjk04 commented on #666
Sure, thanks a lot!

[2021-04-05 10:36] hieu-t-tran commented on #661
Hi Karan, just a question. Previously, we will not allow an `Author` with either null/blank `firstName` or null/blank `lastName`. Now that we combine the 2 fields into `fullName`, do we allow an `Author` with only one word in this field? For example, `"Hieu"` instead of `"Hieu Tran"`

[2021-04-06 05:49] knjk04 commented on #661
Hi Hieu. Yes, one word is fine

[2021-04-06 14:36] hieu-t-tran commented on #661
Hi Karan! Sorry for taking longer than needed with this issue. Let me know if you have any feedback for me to address.

[2021-04-06 16:19] knjk04 commented on #661
Hi Hieu, no problem!

[2021-04-09 07:34] #639 closed

[2021-04-09 07:53] #208 closed

[2021-04-09 07:53] #661 closed

[2021-04-09 07:53] #80 closed

[2021-04-09 07:54] #656 closed

[2021-04-09 07:55] #543 closed

[2021-04-09 07:55] #214 closed

[2021-04-09 07:56] #225 closed

[2021-04-09 07:57] #267 closed

[2021-04-11 06:06] knjk04 opened #673 "Fix failing GenreStatistics tests"
**Describe the bug**

- `notShowMostLikedGenreWhenOnlyOneReadGenreExists()`
- `notShowLeastLikedGenreWhenOnlyOneReadGenreExists()`

The above tests fail. There are more books in the read shelf than is expected. As we rely on StatisticTestUtils, these tests can be hard to follow, so they need to be rewritten to make it easier to reason about

[2021-04-12 05:51] kumawatanupriya commented on #232
@knjk04 I would like to work on this issue.

[2021-04-12 06:12] knjk04 commented on #232
@kumawatanupriya Sure, thanks again!

[2021-04-12 06:18] kumawatanupriya commented on #232
@knjk04 please assign this to me.

[2021-04-12 19:36] ofvoler opened #674 "Create a layout component"
**Describe the solution you'd like**
Create a layout component that can be reused for all pages. Include the nav bar, set automatic margins and padding, and add the title of the page so that it is consistent throughout the web app.

**Additional context**
![my books](https://user-images.githubusercontent.com/25254891/114450908-9a43ab80-9ba4-11eb-8886-45c1278a8d33.png)

Should look similar to this,

[2021-04-13 06:08] #664 closed

[2021-04-13 06:08] #666 closed

[2021-04-13 06:09] #213 closed

[2021-04-13 06:10] #8 closed

[2021-04-13 06:10] #3 closed

[2021-04-13 09:55] tmrd993 commented on #673
Is this fixed? The tests run fine for me (W10).

Also, this is probably not related but why are we using the actual service beans for the genre statistics tests? Shouldn't we create mock services for this? That way, we probably don't have to reset the bookservice for the tests. They seem to run longer than typical tests probably because they require database connections? Not too sure about this, m

[2021-04-14 05:53] knjk04 commented on #673
No, they fail for me on Windows 10. I've disabled them for the time being because they need to be rewritten.

I agree that we should be mocking the services for this. It will be a lot quicker, like you said

[2021-04-14 20:59] ofvoler commented on #674
I can work on this

[2021-04-15 05:35] knjk04 commented on #674
Thanks!

[2021-04-15 05:43] knjk04 opened #677 "Create password reset confirmation modal"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/114819445-64c1dc80-9db5-11eb-8650-e3c624cc990e.png)

Create the password reset confirmation modal as shown above. This modal should be responsive and use our existing modal component as a starting point.

As with our other modal, this modal should show in the middle of the screen.

**Additional context

[2021-04-15 05:48] knjk04 opened #678 "Create delete account page"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/114820003-3db7da80-9db6-11eb-8f7b-85c59db4629f.png)
Add a red 'Delete account' link on the settings page.

![image](https://user-images.githubusercontent.com/11173328/114819906-19f49480-9db6-11eb-8001-2c774b6c326d.png)

Also, create the delete account page as shown above. This should be responsive.

Th

[2021-04-15 05:51] knjk04 opened #679 "Create shelf view toggle"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/114820440-e403e000-9db6-11eb-9986-1a3e39d31a4e.png)

Add a shelf view toggle on the 'My books' page that uses our existing toggle, as shown above (without the red line).

For the time being, when the user enables list view, the currently shown shelves should not show.

[2021-04-16 12:31] skeyas commented on #678
Could I work on this?

[2021-04-16 16:38] knjk04 commented on #678
@skeyas Sure, thanks!

[2021-04-19 16:33] ofvoler commented on #580
A preview of these mockups is currently featured on the [README page](https://github.com/Project-Books/book-project/tree/0.2.0/#readme).

[2021-04-19 23:56] RivaD2 commented on #677
@knjk04 I would be happy to take this one! Seems like a natural progression since my last contribution :)

[2021-04-20 05:29] knjk04 commented on #677
@RivaD2 That's great, thank you very much!

[2021-04-20 22:20] RivaD2 commented on #677
@knjk04 My approach would be this:
  First create the `PasswordResetModal` Class-based component which makes use of `IModalProps`. I would import in the base `Modal` component and make the necessary changes for the text and button.

From there I have a quick question. For right now, since there is no endpoint, am I hooking up the 'Send me a password reset Link' button to just open the new `Passwor

[2021-04-21 15:40] knjk04 commented on #677
The approach sounds good!

Yes, that would be great.

Thanks!

[2021-04-21 16:46] RivaD2 commented on #677
@knjk04 I am going to build this out as mentioned above and then possibly refactor as I can tell there will be a lot of redundant code between the `forgotPasswordModal` and `passwordResetModal` (Both share the same styles and the only thing that changes are the buttons and text values). I think it might set a variable in state that will control the text etc. and depending on the change, will show

[2021-04-22 13:41] knjk04 commented on #677
@RivaD2 That's great, thanks!

[2021-04-27 06:44] kumawatanupriya commented on #232
@knjk04 created PR https://github.com/Project-Books/book-project/pull/686, please have a look

[2021-04-28 06:40] knjk04 commented on #678
How are you getting on with this?

[2021-05-01 06:52] knjk04 opened #688 "Verify password strength"
**Describe the solution you'd like**
Check that the password strength is very strong on the backend with zxcbn4j. If it isn't, we shouldn't save the user/update the user's password. We need to update our controller endpoints to notify the frontend why the operation was not successful.

**Additional context**
Branch from `0.2.0` and set it as the destination branch in your pull request.

[2021-05-01 06:54] knjk04 opened #689 "Create user role enum"
Instead of using a String to represent the user role type, use an enum instead.

We need the following role types (case sensitive):
- USER
- ADMIN

Branch from `0.2.0` and set it as the destination branch in your pull request.

[2021-05-01 06:58] #232 closed

[2021-05-01 11:12] jamalkhattab commented on #689
Hello, can I try to make this my first contribution?

[2021-05-01 17:21] knjk04 commented on #689
Hello, sure. Thanks! Let us know if you need a hand with anything

[2021-05-02 10:42] jamalkhattab commented on #689
Hey @knjk04, just wondering if I should only create the enum or also refactor the following classes: UserService, UserServiceTest to use the enum instead of the String "USER".

[2021-05-02 18:34] jopijuco commented on #689
@jamalkhattab yes I believe you must do it in order to implement the enum you created.

[2021-05-02 18:47] kndarp commented on #436
Hi @knjk04 👋🏽
I'm looking forward to my first contribution to this repo. If this issue is still available, I'd like to be assigned to this issue.

[2021-05-03 03:08] BOYLOVEOI commented on #688
Hello, I would like to contribute! I would like to work on this for a project that I am completing, and I was wondering if I could have help throughout this process?

Thank You,
Paul

[2021-05-03 08:44] knjk04 commented on #688
Hi Paul, thanks for your interest in this issue! I'll assign you to it.

If you need any help about the issue itself, feel free to create a GitHub discussion or ask on our Slack workspace.

I saw your email, but I think it's best to ask on GitHub or on Slack as it allows others to benefit from the answers.

In the `register()` method in `UserService.java`:

[code]

On the frontend, we're using [zx

[2021-05-03 08:57] knjk04 commented on #436
Hi @kndarp,

Unfortunately, this issue is blocked. I'll let you know if another good first issue comes up, though!

[2021-05-03 09:09] #689 closed

[2021-05-03 11:54] olusolaa commented on #665
@knjk04 I can take this

[2021-05-03 15:51] knjk04 commented on #665
@olusolaa Sure, thanks!

[2021-05-03 19:09] olusolaa commented on #665
Hi @knjk04 where can I find the React application for this project?

[2021-05-04 05:11] Rishi6229 commented on #679
hey i would like to work on this issue if you want me to?

[2021-05-04 05:14] Rishi6229 commented on #679
i would like to know the section on which i will have to work

[2021-05-04 05:49] knjk04 commented on #679
Hi, I'll assign you to the issue. Thanks!

You'll need to add this toggle to my books file in the frontend/ directory. Note that you'll need to branch from 0.2.0

[2021-05-04 05:57] knjk04 opened #692 "Add test user in README"
Describe how to use the test user (including what the credentials are) in the README.

Target 0.2.0

[2021-05-04 18:15] olusolaa commented on #665
@knjk04 I can't access the MY_BOOKS route.
I have started both frontend and backend locally and I tried signing up however there was no redirection. Is there something I'm missing?

[2021-05-04 21:54] olusolaa commented on #665
Oh! thanks

[2021-05-06 16:43] knjk04 opened #694 "Make service tests unit tests"
Currently, our service tests are integration tests. Make them unit tests, instead.

[2021-05-07 16:28] cmadhumita5 commented on #280
I want to work on it.

[2021-05-07 16:29] cmadhumita5 commented on #688
i want to work on it but cold not understand the requirement comparisons.please help

[2021-05-07 16:59] knjk04 commented on #667
@cmadhumita5 Unfortunately, this is already assigned to Zack. Feel free to request to be assigned on an unblocked and unassigned issue

[2021-05-07 17:00] knjk04 commented on #280
@cmadhumita5 This issue is also taken. Please also note that, as per our contributing guidelines, we only assign at most one issue to new contributors

[2021-05-07 17:01] knjk04 commented on #688
@cmadhumita5 This issue is already assigned

[2021-05-07 17:01] knjk04 commented on #694
We will have integration tests as well, but they'll call our controllers

[2021-05-08 07:49] #553 closed

[2021-05-08 09:47] knjk04 commented on #678
@skeyas As we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines

[2021-05-08 09:49] knjk04 opened #696 "Create export account data endpoint"
**Describe the solution you'd like**
Create a new controller and endpoint to export a user's book data:
- All of the books in their predefined and custom shelves
- All tags, publishers, etc.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Branch from `main` and set `main` as the destination bra

[2021-05-08 15:26] jwlai commented on #696
@knjk04 I'll take this on-

I'm assuming this will be consumed by an import. Do we have that feature? If not- What do you prefer for the export? JSON, XML, CSV, something else?

[2021-05-08 16:53] knjk04 commented on #696
@jwlai Thanks, I'll assign you to the issue!

Yes, we have an ImportService that you can use that exports as JSON. If you use our 0.1.0 demo, you can examine the structure of the exported JSON data

[2021-05-08 17:32] knjk04 opened #698 "Only save a UserCreatedShelf if its name is not taken"
**Describe the solution you'd like**
The name of a `UserCreatedShelf` should not match any of the predefined shelves (see the `PredefinedShelfName` enum) or any existing `UserCreatedShelf`.

We need to ensure that this check is case insensitive (e.g. 'READ' is not allowed if 'read' exists). One way of checking whether the shelf name exists is by writing custom JPQL queries. Alternatively, we can u

[2021-05-08 17:36] knjk04 opened #699 "Handle many-to-many relationship between Book and Publisher"
In `Book.java`, the parent of the many-to-many relationship, we should have methods to add and remove a publisher to handle the bidirectional relationship.

Once this is implemented, we can remove the `addBookToPublisher()` method in `PublisherService.java`.

**Additional context**

Branch from `0.2.0` and create a pull request to merge into it.

[2021-05-08 17:39] knjk04 opened #700 "Write MySQL script to prepopulate data"
**Is your feature request related to a problem? If so, please describe.**
Currently, we have a lot of code in `PredefinedShelfService` for pre-populating data for testing purposes. This should be removed.

**Describe the solution you'd like**

Take the data we are using to pre-populate our database in `PredefinedShelfService` and create a script that is executed when the app runs in our dev enviro

[2021-05-08 18:06] knjk04 opened #701 "Fix codecov report upload"
![image](https://user-images.githubusercontent.com/11173328/117549068-4f487700-b030-11eb-98f7-03ba1d2252ae.png)

Our code coverage reports are not being sent to Codecov. The most recent commit shown in their UI was four months ago.

See our [build pipeline log](https://dev.azure.com/project-books/Book%20Project/_build/results?buildId=378&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=9c939e41-

[2021-05-09 11:42] SivaTharun commented on #700
@knjk04 can i work on this issue, i see that `PredefinedShelfService` has the method `populateTestData`, that has to be refactored, and the DML scripts are to be added to insert the data data.

[2021-05-09 16:14] knjk04 commented on #700
@SivaTharun Thanks, I'll assign you to the issue. Your approach sounds good

[2021-05-10 06:17] RivaD2 commented on #678
@knjk04 I would be happy to take this one on!

[2021-05-10 06:20] knjk04 commented on #678
@RivaD2 Thanks!

[2021-05-11 07:15] knjk04 commented on #678
@RivaD2 We've merged in the endpoint (see https://github.com/Project-Books/book-project/pull/668), so you may want to pull from origin

[2021-05-11 17:49] knjk04 commented on #679
@Rishi6229 How are you getting on with this?

[2021-05-11 17:50] knjk04 opened #703 "Add controller integration tests"
Add controller integration tests. Strive towards 100% code coverage and test various scenarios (happy path, edge cases).

[2021-05-13 05:33] knjk04 opened #704 "Configure Checkstyle for Google style"
Change our Checkstyle configuration to use the rules specified in Google's Java style guide.

Branch from `0.2.0` and set it as the destination branch in your pull request.

[2021-05-13 05:34] knjk04 commented on #701
We're now using SonarCloud to track coverage

[2021-05-13 05:34] #701 closed

[2021-05-13 05:34] knjk04 commented on #590
This now works

[2021-05-13 05:34] #590 closed

[2021-05-13 05:34] #619 closed

[2021-05-13 05:34] #667 closed

[2021-05-13 05:36] knjk04 commented on #226
Relevant 0.2.0 issues exist for this feature

[2021-05-13 05:36] #226 closed

[2021-05-13 13:03] jwlai commented on #696
@knjk04 Wanted to start this discussion... shortened JSON output here. I'm creating a Serializers for the different objects as needed. Also the structure was just one that should hopefully match the object...  or did you want closer to the GoodRead import?

I have 2 questions...
1. Is it acceptable to have a "null" value.
2. What do you think of the format so far-
[code]

[2021-05-13 18:26] knjk04 commented on #696
@jwlai Thanks, this looks good so far and looks similar to what we had before!

Regular null is fine

Could we have a numeric data type `pagesRead`, `numberOfPages` and `yearOfPublications` instead of strings?

[2021-05-14 16:33] #285 closed

[2021-05-14 16:34] #224 closed

[2021-05-14 16:35] #674 closed

[2021-05-15 07:49] #217 closed

[2021-05-15 07:50] knjk04 commented on #436
This file no longer exists as we have moved it to the predefined shelf service

[2021-05-15 07:51] #436 closed

[2021-05-15 07:51] #394 closed

[2021-05-15 07:52] #296 closed

[2021-05-15 07:52] #64 closed

[2021-05-15 07:52] #313 closed

[2021-05-15 07:53] #65 closed

[2021-05-15 07:54] #121 closed

[2021-05-15 07:55] #137 closed

[2021-05-15 07:55] #124 closed

[2021-05-15 07:56] #211 closed

[2021-05-15 07:57] #120 closed

[2021-05-15 07:58] #162 closed

[2021-05-15 07:58] #237 closed

[2021-05-15 08:03] #305 closed

[2021-05-15 08:05] #463 closed

[2021-05-15 08:08] knjk04 opened #705 "Add Shelf controller"
**Describe the solution you'd like**
We need the following endpoints:
- Get all shelves (predefined and custom)
- Delete a custom shelf
- Rename a custom shelf

The ShelfController should take in an autowired `PredefinedShelfService` and a `CustomShelfService`.

This should be thoroughly tested with both unit and integration tests.

[2021-05-15 08:09] knjk04 commented on #688
@BOYLOVEOI How are you getting on with this?

[2021-05-15 08:10] knjk04 opened #706 "Rename CustomShelf to UserCreatedShelf"
This is for readability to make it clearer what we mean by 'custom'

[2021-05-15 08:25] knjk04 opened #707 "Include author name in Book's equal() and hashCode()"
Include the author name in Book's equal() and hashCode()

Branch from `0.2.0` and set it as the destination branch in your pull request

[2021-05-15 08:47] #706 closed

[2021-05-15 08:50] knjk04 commented on #696
@jwlai Could you bring the latest 0.2.0 changes into your feature branch? We've renamed `CustomShelf` to `UserCreatedShelf`

[2021-05-15 08:51] #347 closed

[2021-05-15 12:51] Vaidehi-Joshi commented on #707
Hi, I would like to take up this issue

[2021-05-15 17:56] knjk04 commented on #707
@Vaidehi-Joshi Thanks, I'll assign you to it.

I've also updated the issue description to state that you should branch from `0.2.0` and set it as the destination branch

[2021-05-15 23:48] RivaD2 commented on #678
@knjk04 What I'm thinking for the approach is:
   - Create a new route for delete account page on `route.tsx`
   - Add delete account link on `Settings.tsx`
      - Use `Link` with included path to take user to the delete account page once link is clicked on
     - For building the page itself, I can make use of a container div with a drop shadow and reuse other components we have and use  the opt

[2021-05-16 06:10] Vaidehi-Joshi commented on #707
Okay will do that, also can you tell me how to join the slack or discord channel if there is one?

[2021-05-16 23:54] olusolaa commented on #665
@knjk04 My sincere apology for the delay and late response will revert in a few hours time.

[2021-05-17 00:59] olusolaa commented on #665
I think I mistakenly committed node modules and the demo alongside. Should I send a new pull request?

[2021-05-17 02:16] olusolaa commented on #705
@knjk04 I can work on this.

[2021-05-17 02:17] olusolaa commented on #698
@knjk04 I can take this.

[2021-05-17 08:08] kumawatanupriya commented on #699
@knjk04 I would like to work on it.

[2021-05-18 05:21] knjk04 commented on #707
There's a link to our Slack workspace on our README at the top

![image](https://user-images.githubusercontent.com/11173328/118594372-42025980-b7a1-11eb-9c78-e84eee90113a.png)

[2021-05-18 05:27] knjk04 commented on #699
@kumawatanupriya Thanks!

[2021-05-18 05:42] knjk04 commented on #678
@RivaD2 Your approach sounds good! This page is a bit different to the others, which follow a more consistent format. I think it would be better to avoid using the layout component for this. If we find that we need a similar page to this delete account page in the future, then we can perhaps either modify the layout component to make it more general or create a new shared parent component.

Feel f

[2021-05-18 16:22] RivaD2 commented on #678
@knjk04 Sounds good, thank you!
  Regarding page responsiveness, the nav bar is there even when the page hits the breakpoint. To free up space for mobile, it would have to collapse into another type of menu or we might need to add responsive styles to it separately. I looked at our mock ups but know that we might not have mobile designs quite yet.

I am happy to make a ticket for the layout compon

[2021-05-18 19:07] olusolaa commented on #698
Alright.

[2021-05-19 16:02] knjk04 commented on #678
@ofvoler What are your thoughts on this?

[2021-05-20 06:11] Swarnima-27 commented on #705
Hi @knjk04,I would like to work on this.

[2021-05-20 07:09] knjk04 commented on #705
@Swarnima-27 Thanks, I'll assign you to it! Could you please create your branch from `0.2.0` and set `0.2.0` as the destination branch in your pull request?

[2021-05-20 16:14] knjk04 commented on #679
@Rishi6229 As we have not heard back from you in a while, despite following up, I will unassign you from the issue

[2021-05-20 16:17] Rishi6229 commented on #679
I understand that I couldn't reply you reason being I'm currently covid
positive and my whole family is not well coping up with the losses of many
of my family members also.....so please reassign task to someone else.

On Thu, May 20, 2021, 21:44 Karan Kumar ***@***.***> wrote:

[2021-05-20 16:20] knjk04 commented on #679
@Rishi6229 I'm sorry to hear that. I hope you get better soon!

[2021-05-21 05:15] knjk04 commented on #698
@F0rgiv Sure, thanks!

[2021-05-21 07:32] kumawatanupriya commented on #699
Hey @knjk04 why do you want to do that?. why addBookToPublisher() function be in PublisherService.java?

[2021-05-21 16:05] knjk04 commented on #699
Hi, we're looking to move the method from `PublisherService` to the `Book` class

[2021-05-21 19:00] RivaD2 commented on #665
@olusolaa I reviewed your PR and added in some comments for changes to be made. Nice work so far, and it is almost ready!

[2021-05-22 07:37] knjk04 commented on #700
@SivaTharun How are you getting on with this?

[2021-05-22 07:37] #339 closed

[2021-05-22 07:47] knjk04 opened #712 "Add list view"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/119218800-31701d00-bada-11eb-9cd0-d444238f783a.png)

Connect to the get all books endpoint on the backend and populate a table as shown above (we can ignore the thumbnails for now).

Focus on implementing the part in the blue box.

This should be responsive.

**Additional context**
Branch from `0.2.0`

[2021-05-22 07:57] #660 closed

[2021-05-24 05:59] SivaTharun commented on #700
@knjk04 i have started working on this issue, i will raise a PR, in the next two days.

[2021-05-25 09:56] kumawatanupriya commented on #699
@knjk04 please review this PR https://github.com/Project-Books/book-project/pull/714

[2021-05-25 16:39] knjk04 commented on #707
@Vaidehi-Joshi How are you getting on with this?

[2021-05-25 16:54] ofvoler commented on #678
I think adding the 'back' in the layout component would be great! I actually have that in some of the mockups but didn't actually implement it.

Also, I agree that the menu doesn't work on smaller screens. I think that a collapsible hamburger menu or something similar would be great here. It might be good to implement this on vertical tablet screens as well.

TLDR; I think it's great to go ahead w

[2021-05-25 18:00] RivaD2 commented on #678
@knjk04 and @ofvoler How would we like to proceed with responsive designs for tickets? In this case, I can try and get the delete Account page as responsive as possible and of course add the `back` arrow into `Layout` along with given props, but until the Nav bar is made responsive, this page (and others) will not be truly responsive. Thank you for your help :)

[2021-05-26 07:08] knjk04 opened #716 "Build failing for PRs"
The build fails on Azure for PRs. This may be due to a problem with the SonarCloud integration

[2021-05-26 07:10] knjk04 opened #717 "Use eslint to check style violations in pull requests"
**Describe the solution you'd like**
Add eslint to our build pipeline so that we are identified of any issues in pull requests. It should not fail the build if there are violations.

Discuss approach with us first.

Branch from `main` and set it as the destination branch in your pull request.

[2021-05-27 06:47] knjk04 commented on #678
@RivaD2 We don't have responsive designs in place yet, but we may need to redesign things to make it work well as a progressive web app.

Either's fine

Sure, that's fine

Thanks!

[2021-05-31 06:18] #692 closed

[2021-05-31 06:50] Anu-123-gif commented on #712
Hey @knjk04 I would like to work on this issue , with some guidance if possible :)
Meanwhile I'll start searching of possible solutions and discuss them here as soon as possible.

[2021-06-02 11:19] knjk04 commented on #712
Thanks!

[2021-06-02 11:22] knjk04 commented on #280
@SeonghoLee4 As we have not heard back from you in a while, despite following up, I've unassigned you from the issue

[2021-06-02 11:23] knjk04 commented on #707
@Vaidehi-Joshi Unassigning due to no response

[2021-06-02 11:24] knjk04 commented on #705
@Swarnima-27 How are you getting on with this?

[2021-06-02 11:25] knjk04 commented on #688
@BOYLOVEOI Unassigning due to no response

[2021-06-06 13:21] kumawatanupriya commented on #688
@knjk04 Hi I would like to work on it.

[2021-06-06 14:16] knjk04 commented on #688
@kumawatanupriya Hi, thanks! I'll assign you to this!

[2021-06-07 16:15] F0rgiv commented on #698
@knjk04 Hey there! Quick clarifying question.
I have created the method UserCreatedShelfService.shelfWithNameExists() That is now working as expected. Would you like me to add call to this within the createCustomShelf() method and throw an error if the shelf exists?

[2021-06-08 05:02] KACHIDA commented on #707
Hi , I would like to work on this issue. @knjk04

[2021-06-08 06:09] knjk04 commented on #707
Thanks, I'll assign you to it

[2021-06-08 06:15] knjk04 commented on #698
@F0rgiv Yes, a custom exception would be great. Thanks!

[2021-06-10 23:40] yasuomaidana commented on #707
Could you assign it to me?

[2021-06-11 07:42] knjk04 commented on #707
@yasuomaidana This is already assigned, unfortunately

[2021-06-13 20:54] comnk commented on #278
Is this issue available?

[2021-06-14 02:36] toshmanuel commented on #705
@knjk04 If this is still up for grab, I will like to take it up

[2021-06-14 06:37] knjk04 commented on #278
Unfortunately not. This is already assigned

[2021-06-14 06:38] knjk04 commented on #705
@Swarnima-27 Unassigning due to no response

[2021-06-14 06:38] knjk04 commented on #705
@toshmanuel Thanks, I'll assign you to this!

[2021-06-16 17:57] knjk04 commented on #712
@Anu-123-gif How are you getting on with this?

[2021-06-16 17:58] knjk04 commented on #688
@kumawatanupriya How are you getting on with this?

[2021-06-16 18:31] knjk04 opened #722 "Add JWT token to header in API requests"
**Describe the solution you'd like**
In every API call apart from logging in and signing up (e.g. deleting an account), we should safely store the JWT token we receive after logging in. Then, we need to send it on every subsequent request in the header.

Check this works as intended by running the server

[2021-06-16 18:37] RivaD2 commented on #722
@knjk04 can you assign me this ticket? :) When I open the issue, I am unable to assign myself for some reason.(Perhaps some sort of setting is not enabled etc.)

[2021-06-17 06:08] Anu-123-gif commented on #712
Hey @knjk04 I have understood how to approach the issue. I have two doubts:
-> In the backend, where can I find the endpoints using which i'll populate the list,
-> When I open the frontend in IntelliJ IDEA I am shown ' *.ts files are supported by IntelliJ IDEA Ultimate' , do I have to switch that instead?

Thank you for your time :)

[2021-06-17 06:30] knjk04 commented on #712
See https://github.com/Project-Books/book-project/blob/0.2.0/backend/src/main/java/com/karankumar/bookproject/backend/controller/BookController.java#L107. It's a GET on [localhost]:/api/books.

Do you have IntelliJ IDEA Ultimate? If not, you may want to open the frontend in something else (e.g. Visual Studio Code)

[2021-06-17 07:32] Anu-123-gif commented on #712
Thanks a lot for your help!
I shifted to VS code and it works perfectly there.
I was shown an error `'--jsx' is not set`, to solve this I had to change [https://github.com/Project-Books/book-project/blob/main/frontend/tsconfig.json](url) . I changed `"jsx": "react-jsx"` to `"jsx": "react"` here. Is there something else I should've done?

[2021-06-17 17:08] kumawatanupriya commented on #688
@knjk04 I didn't get time, I'll work on  it this weekend.

[2021-06-17 17:24] RivaD2 opened #723 "Refactor dark mode switch to only work on Nav Bar"
We currently have dark mode implemented using Material-UI's [Palette](https://material-ui.com/customization/palette/). We want current pages/future pages have a white background, so dark mode is not needed for the entire site at this time.

Please refactor this implementation so that when the `Enable dark mode` switch is clicked, the nav bar **only** is switched to a dark background. The nav bar s

[2021-06-17 18:12] knjk04 commented on #688
@kumawatanupriya That's fine, thanks for letting us know

[2021-06-17 20:03] amanjmd commented on #81
Hi, can I take this up? Although I am new to open source but I have gone through the contributors guide and am keen to work on such a project.

[2021-06-18 05:33] knjk04 commented on #81
Hi, sure. Thanks! If you need any help, feel free to create a GitHub discussion or connect with us over Slack

[2021-06-18 05:34] knjk04 commented on #698
@F0rgiv Unassigning due to no response on the PR

[2021-06-18 05:36] knjk04 commented on #712
You're welcome! The link takes me to a no results page, unfortunately

[2021-06-18 07:30] Anu-123-gif commented on #712
Sorry about that, here is the working link https://github.com/Project-Books/book-project/blob/main/frontend/tsconfig.json

[2021-06-18 09:42] amanjmd commented on #81
Hi , sure thanks . Will share the approach document soon.

[2021-06-19 17:38] knjk04 commented on #712
No matter. I haven't needed to change that setting myself, but the change you made is fine if it works for us (we'll see when reviewing your PR)

[2021-06-22 13:05] kumawatanupriya commented on #688
@knjk04 please find the rough patch in pull request https://github.com/Project-Books/book-project/pull/724

Actually I see there is a folder called constraints which has password strength checker,  why didn't you suggested that. Is there anything wrong with that folder. I couldn't figure out. Please review the PR and let me know.

[2021-06-22 16:35] amanjmd commented on #81
[BookProject-re-read.pdf](https://github.com/Project-Books/book-project/files/6695991/BookProject-re-read.pdf)
Hi , please find attached the approach document. Kindly let me know , when can we discuss further.

[2021-06-23 06:56] knjk04 commented on #688
@kumawatanupriya You're right, I forgot about that. You can look at our previous implementation in 0.1.0 (you'd have to look back in the main branch) to see how we were handling that

[2021-06-23 06:58] knjk04 commented on #696
@jwlai Unassigning as we did not hear back from you

[2021-06-23 06:58] knjk04 commented on #707
@KACHIDA How are you getting on with this?

[2021-06-23 06:58] #699 closed

[2021-06-23 20:41] RivaD2 commented on #722
Here's what I'm thinking for the approach:

**1st pt of this: Safely storing the token, quick breakdown for the frontend**
- I have to first extract token  from the response
- Store access token in memory/set HTTP header by using token from memory variable.
( Refresh tokens would need to be used to renew access/implement a silent refresh so that the user doesn't have to keep re-authenticating ever

[2021-06-26 15:29] Syemon commented on #698
Hi @knjk04, can I take this one?

[2021-06-26 15:41] knjk04 commented on #698
Hi @Syemon, sure. Thanks a lot!

[2021-06-27 14:55] Anu-123-gif commented on #712
Hey @knjk04 ,
I am trying to update my fork but its only updating the main branch, can you please help me access the 0.2.0 branch?
Thanks!

[2021-06-27 16:37] knjk04 commented on #712
Hi @Anu-123-gif,

I assumed you forked, not cloned, the repository. Have you tried switching to the 0.2.0 with `git checkout`?
`$ git checkout -b 0.2.0`
`$ git pull origin 0.2.0`

[2021-06-27 18:01] Anu-123-gif commented on #712
Thanks!
There was some issue with my fork it seems ,I deleted the fork and forked the repo again.

[2021-06-29 16:24] Syemon commented on #698
Can I trim shelfName during check as well? I want to avoid saving names like " READ".

[2021-06-30 07:04] knjk04 commented on #698
Sure, that's a good idea

[2021-06-30 19:04] Syemon commented on #698
Hey, my branch is ready for review, but I can't read contributing document. The content inside [link](https://project-books.github.io/docs/development/contributing/) is broken. I assume that I should make PR into 0.2.0?

[2021-07-01 08:30] kumawatanupriya commented on #688
@knjk04 Hi....I don't see any code in main branch for backend, I just see target and .iml file.

[2021-07-02 11:46] knjk04 commented on #688
Note that you'll need to create your branch from 0.2.0 and set it as the destination branch in your pull request. You can ignore the main branch

[2021-07-03 17:00] knjk04 commented on #707
@KACHIDA Unassigning due to no response.

@yasuomaidana Are you still interested in this?

[2021-07-03 17:01] knjk04 commented on #700
@SivaTharun How are you getting on with this?

[2021-07-04 08:14] #665 closed

[2021-07-04 10:50] olusolaa commented on #696
@knjk04 I can take this

[2021-07-04 15:41] #678 closed

[2021-07-04 15:41] RivaD2 commented on #678
This has been merged

[2021-07-04 17:10] knjk04 commented on #696
@olusolaa Thanks!

[2021-07-04 18:14] SivaTharun commented on #700
@knjk04 i have raised this [PR](https://github.com/Project-Books/book-project/pull/728) , to address this issue, i have noticed that the integration tests are failing after the change and i am triaging it.

[2021-07-04 18:33] knjk04 commented on #700
@SivaTharun Thanks for the update. Let us know if you need a hand with diagnosing the problem

[2021-07-05 00:55] Stevade-stephen commented on #280
I want to work on this issue

[2021-07-05 06:19] knjk04 commented on #280
@Stevade-stephen Thanks, I'll assign you to it

[2021-07-05 07:52] Stevade-stephen commented on #280
Thanks

[2021-07-06 05:21] knjk04 commented on #705
@toshmanuel How are you getting on with this?

[2021-07-06 05:21] knjk04 commented on #712
@Anu-123-gif How are you getting on with this?

[2021-07-06 07:54] konkos opened #732 "StringUtils.pluralize doesn't take into consideration all cases"
StringUtils.pluralize doesn't seem to work properly
e.g if word=bus => StringUtils.pluralize("bus",2) would return buss when buses is the correct form.
 OR if word=phenomenon => StringUtils.pluralize("phenomenon ",2) would return phenomenos when phenomena is the correct form.

[2021-07-06 17:56] knjk04 commented on #732
Thanks for bringing this up! It seems like it might be quite difficult to cover all of the possible cases. What do you think?

[2021-07-07 01:56] konkos commented on #732
There is probably some api that could do that but it sounds like it is too much work. The simpler solution to cover some cases "manually". I will PR a proposed solution

[2021-07-07 02:16] konkos commented on #732
Another solution I have found is to use ( atteo/evo-inflector ). I have tested is a bit seems to work relatively well

[2021-07-07 07:53] knjk04 commented on #732
Thanks for looking into this! Unfortunately, given that we only need it for one specific use case, I think it would be better to not use the library right now. It's an extra dependency to manage that we do not currently need.

I'll close this issue. However, I appreciate you bringing this up and for raising a PR. If we do find ourselves in a situation where we need the more general solution, we ca

[2021-07-07 07:53] #732 closed

[2021-07-08 09:32] toshmanuel commented on #705
@knjk04, sorry for the delay. I will turn it in this week.

[2021-07-09 15:59] abhity16 commented on #707
@knjk04 Can I take it up ?

[2021-07-10 05:32] knjk04 commented on #707
@abhity16 Sure, thanks!

[2021-07-13 05:57] kumawatanupriya commented on #688
@knjk04 Hi, please check the PR  #724

[2021-07-14 22:39] olusolaa commented on #696
@knjk04, I had issues running the app. It solved now; so I have started working on the task. I should have communicated earlier sorry about that.

[2021-07-16 06:29] knjk04 commented on #712
@Anu-123-gif Unassigning due to no response

[2021-07-16 06:29] knjk04 commented on #705
@toshmanuel Do you have an update on this?

[2021-07-16 06:30] knjk04 commented on #280
@Stevade-stephen How are you getting on with this?

[2021-07-16 12:47] Stevade-stephen commented on #280
I'm still working on it. I will let you know when I have questions.

[2021-07-18 07:42] knjk04 commented on #280
OK, do you know when you'll have this finished?

[2021-07-18 12:48] olusolaa commented on #696
@knjk04 How do I access the export endpoint I just created? If I am to use postman, do I have to log in first with user@user.user and password to prevent access denial? which endpoint will I call to do the login?

[2021-07-19 05:38] knjk04 commented on #696
http://localhost:8080/api/export-user-book-data passing in the correct verb, etc. into Postman

Yes, you'll need to login via the /login POST endpoint. See this guide for more information and feel free to ask any more questions: https://github.com/Project-Books/book-project/wiki/Connecting-to-the-backend-via-Postman

[2021-07-23 01:51] Stevade-stephen commented on #280
I am trying to push to a branch I created and it is telling me that I do not have access rights.
![Screen Shot 2021-07-23 at 2 50 28 AM](https://user-images.githubusercontent.com/75506167/126728956-96fd743a-e379-4620-bf3a-d0dbe818bebd.png)

[2021-07-23 08:02] knjk04 commented on #280
Are you trying to push to your fork or the cloned repository? Only the former should work

[2021-07-23 10:14] Stevade-stephen commented on #280
Oh! I cloned it.

[2021-07-26 05:42] toshmanuel commented on #705
@knjk04, I had issues testing my endpoints, but I finally solved the issues. Please sorry for the delay.
I will commit some changes now and complete the rest in less than 48hours. Thanks

[2021-08-04 14:06] toshmanuel commented on #705
@knjk04, what is the current update on the task?

[2021-08-06 05:28] knjk04 commented on #705
@toshmanuel Sorry, what do you mean by this? I thought you were still working on the pull request as it's still a draft?

[2021-08-06 05:28] #698 closed

[2021-08-06 05:28] knjk04 commented on #707
@abhity16 Do you have an update on this?

[2021-08-06 05:29] knjk04 commented on #81
@amanjmd How are you getting on with this?

[2021-08-12 18:26] rhit-namburs commented on #723
Hi I would like to work on this issue!

[2021-08-12 18:28] rhit-namburs commented on #712
Hi I would like to work on this issue!

[2021-08-12 18:29] rhit-namburs commented on #707
Hi I would like to work on this issue and will get it done in a timely manner.

[2021-08-12 18:30] rhit-namburs commented on #628
Hi I would like to work on this issue!

[2021-08-12 18:32] rhit-namburs commented on #228
Hi I would like to work on this issue

[2021-08-13 05:34] abhity16 commented on #707
@knjk04
Sorry for delayed response. I got busy in other work and could not spend time on it. Please assign it to any other interested member.

[2021-08-13 06:38] knjk04 commented on #723
@rhit-namburs Thanks, I'll assign you to it!

[2021-08-13 06:39] knjk04 commented on #712
Hi @rhit-namburs, thanks for your interest in this issue. Please note that, as per our contributing guidelines, we only assign at most issue at a time to new contributors

[2021-08-13 06:39] knjk04 commented on #628
Hi, this is already assigned

[2021-08-13 06:40] knjk04 commented on #228
Hi, we only assign at most issue at a time to new contributors (see contributing guidelines)

[2021-08-13 06:41] knjk04 commented on #707
@abhity16 That's fine, thanks for letting us know

[2021-08-13 06:42] knjk04 commented on #707
@rhit-namburs As we only assign one issue at a time to new contributors, you're welcome to re-request to work on this after completing your currently assigned issue

[2021-08-13 06:42] knjk04 commented on #280
@Stevade-stephen How are you getting on with this?

[2021-08-21 03:27] drunkenlegend commented on #707
Hi @knjk04 , I would like to take up the issue. I am new to spring and this would be a good start for me in open-source.

[2021-08-21 08:25] knjk04 commented on #707
Hi @drunkenlegend, thanks! I'll assign you to this. Feel free to reach out via a GitHub discussion or post on our #book-project Slack channel should you need any help

[2021-08-21 08:26] knjk04 commented on #723
@rhit-namburs How are you getting on with this?

[2021-08-21 08:26] knjk04 commented on #280
@Stevade-stephen Unassigning as we haven't heard back from you in a while (as per our contributing guidelines)

[2021-08-22 10:55] vicardo11 commented on #705
@knjk04, what's the status of this issue? I'd like to work on it.

[2021-08-22 10:57] knjk04 commented on #705
@toshmanuel Unassigning due to no response in a while (as per our contributing guidelines)

[2021-08-22 10:59] knjk04 commented on #705
@vicardo11 Thanks, I'll assign you to it. I've clarified which branch to branch from and set as the destination branch in your PR. If you need a hand, feel free to create a new GitHub discussion or ask on our Slack channel

[2021-08-22 11:00] vicardo11 commented on #705
@knjk04, could you give me the link to the Slack channel?

[2021-08-22 11:02] knjk04 commented on #705
Sure, it's https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A (you can also find this through the Slack badge on our README)

[2021-08-22 11:02] knjk04 commented on #81
Discussed offline

[2021-08-24 07:22] Pranjal-dew commented on #723
hi there, can I contribute to this issue?

[2021-08-24 07:23] Pranjal-dew commented on #712
hi there, can I contribute to this issue?

[2021-08-24 07:23] Pranjal-dew commented on #679
hi there, can I contribute to this issue?

[2021-08-29 08:36] #707 closed

[2021-08-29 15:20] knjk04 commented on #280
@adrianbranescu You can test this manually by checking the database after hitting the endpoint

[2021-08-29 19:31] RivaD2 commented on #722
@knjk04 I closed this as PR was merged 👍

[2021-08-29 19:33] RivaD2 commented on #712
@knjk04 Hey there!

I will take this one on 👍

[2021-08-30 06:33] knjk04 commented on #712
@RivaD2 Hi Riva, thanks!

[2021-08-30 06:35] knjk04 commented on #722
@RivaD2 Thanks! We may need to also do this for creating a new shelf?

[2021-08-30 14:38] RivaD2 commented on #722
@knjk04 Ok cool! I will take this one first then 👍

[2021-08-30 14:50] RivaD2 commented on #722
I think will start with integrating JWT for creating new shelf then first. I can reopen this ticket (unless we want to make a new ticket for token integration for shelf).

 Is there anything in particular I need to know before I start (is there anything different for creating new shelf etc. vs login and delete?)

Thank you for your help!

[2021-08-31 17:38] knjk04 commented on #722
Great, thanks! I don't think so, this should be the same and relatively straightforward

[2021-09-04 18:37] RivaD2 commented on #722
@knjk04 Hey there Karan, the tokens are built in to the HTTPClient so anytime we make a new endpoint, they will already be included. When we build the functionality for adding the shelf, the token will be included already.

I'm gonna close this ticket and move on to list view ticket.

 If there are other endpoints that already exist that are not using the HTTPClient then we can create a new ticket

[2021-09-04 18:37] #722 closed

[2021-09-05 21:14] RivaD2 commented on #712
@knjk04 I have started working on this. How will the user get to the list view? Once the user logs in, they land on `My Books` with the shelf view.

[2021-09-06 11:30] knjk04 commented on #723
@Pranjal-dew How are you getting on with this?

[2021-09-06 11:37] knjk04 commented on #712
@RivaD2 There'll be a toggle at the bottom (see the screenshot in the issue description). There's a separate issue for this (#679)

[2021-09-06 17:25] RivaD2 commented on #712
@knjk04, thank you!

 I believe that the toggle functionality should be built first, then I could move on to this ticket. Can you assign me #679?

[2021-09-06 18:14] knjk04 opened #742 "Failed to lazy initialize roles when updating user's password"
**Describe the bug**

Lazy initialization exception thrown when attempting to a change a user's password.

**To Reproduce**
Steps to reproduce the behaviour:
1. Hit the login endpoint
2. Hit the change user password endpoint
3. See error

**Expected behaviour**

No exception thrown.

**Additional context**

See https://gist.github.com/knjk04/f415707752be709a8355398fadd66202 for stack trace

[2021-09-06 18:50] #742 closed

[2021-09-07 10:07] knjk04 commented on #705
@vicardo11 How are you getting on with this?

I've added a shelf controller with one endpoint (#744). You can merge the latest 0.2.0 changes to get it

[2021-09-07 10:08] knjk04 opened #745 "Call add shelf endpoint"
**Describe the solution you'd like**
When we click on the [add shelf button](https://github.com/Project-Books/book-project/blob/main/frontend/src/my-books/MyBooks.tsx#L175), we should call the add shelf endpoint: https://github.com/Project-Books/book-project/blob/0.2.0/backend/src/main/java/com/karankumar/bookproject/backend/controller/ShelfController.java#L4.

- Verb: POST
- Endpoint: `localhost:

[2021-09-07 12:08] #637 closed

[2021-09-08 06:17] brandon-hoang-le commented on #745
Hi @knjk04, new to this but I would like to work on this!

[2021-09-09 07:22] knjk04 commented on #745
Hi @brandon-hoang-le, thanks! I'll assign you to this. Feel free to create a new GitHub discussion or ask on the #book-project channel on Slack if you need a hand with anything

[2021-09-09 11:42] brandon-hoang-le commented on #745
Awesome, thank you!

[2021-09-09 16:07] knjk04 opened #748 "Limit the number of failed password attempts"
**Is your feature request related to a problem? If so, please describe.**
A malicious user can repeatedly try as many different possible passwords to gain unauthorised access to an account.

**Describe the solution you'd like**
Limit the number of failed login attempts to three attempts. After three attempts, we should block the user for a day.

**Additional context**
Discuss your implementation w

[2021-09-09 16:29] knjk04 opened #749 "User not redirected to my books page after creating a new account"
**Describe the bug**

The newly registered user is not routed to the my books page

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on 'Create account'
2. Sign up
3. See error

**Expected behaviour**

A newly registered user should be routedto the my books page if the response code from hitting the POST user endpoint is 201 created.

[2021-09-09 16:31] knjk04 opened #750 "User not informed of a server error when creating an account"
**Describe the bug**

We should display the following text when we get a 500 server error when attempting to create a new account: 'Something went wrong. Please try again later.' in red text (see how we currently display error text for weak passwords).

**Additional context**

Branch from 0.2.0 and set it as the destination branch in your pull request

[2021-09-11 14:49] knjk04 opened #752 "Set up GitHub actions"
Switch from Azure Pipelines to GitHub actions

[2021-09-12 18:08] RivaD2 commented on #679
@knjk04 I can take this one on 👍

[2021-09-15 17:31] #712 closed

[2021-09-19 10:48] knjk04 commented on #745
Unassigning at your request

[2021-09-19 10:49] knjk04 commented on #582
Still WIP (see comment in #751)

[2021-09-19 10:50] knjk04 commented on #280
@adrianbranescu How are you getting on with this?

[2021-09-19 10:51] knjk04 commented on #679
@RivaD2 Great, thanks!

[2021-09-19 10:52] knjk04 commented on #723
@Pranjal-dew Unassigning due to no response, as per our contributing document

[2021-09-19 11:00] brandon-hoang-le commented on #750
Hey @knjk04 ! I'll sign up for this.

[2021-09-19 12:04] knjk04 commented on #750
Thanks, @brandon-hoang-le!

[2021-09-20 02:34] adrianbranescu commented on #280
@knjk04 Hello. I answered you on Slack.

[2021-09-25 09:37] #752 closed

[2021-09-25 09:39] knjk04 opened #756 "Spring REST docs: 'include file not found asciidoc'"
'include file not found asciidoc' in the index.adoc file. The project.build.directory in pom.xml should be looking in the target/ directory, but this needs to be confirmed because asciidoc is looking in the src/main/asciidoc directory

[2021-09-25 09:44] dchhatani commented on #632
Hi, can I be assigned this issue.

[2021-09-25 10:31] knjk04 commented on #632
Thanks!

[2021-09-25 13:01] Lexinka291 commented on #748
Can I take this issue?
My implementation whould be that after each failed attempt warning "Your email or password is incorrect. Please try again" will be extended with frase "Remaining attempts [numOfRemainingAttempts]". If the user will fail 3 attemps I would block email address for 24 hours. (With message like "This address is blocked for [remaining hours], please contact administrator for more

[2021-09-25 14:02] knjk04 commented on #748
@Lexinka291 Thanks for our interest in this! Just to clarify, are you looking to work on the frontend (React) or backend (Spring) for this?

[2021-09-25 15:05] adrianbranescu opened #757 "Invalidate JWT token after account deletion"
Currently, JSON Web Tokens (JWTs) are used for passing authentication information. These tokens expire automatically, after a period of time.

Most requests need authorization information; otherwise, the requests are rejected (server returns 403 Forbidden response).

For example, if you want to list users, you will have to send valid authentication information.

The problem is that, after user acc

[2021-09-25 19:41] Lexinka291 commented on #748
I would rather use Spring but cant promise that it wont end with React :) . In any case I will post here if I consider changing from Spring to React

[2021-09-25 20:32] RivaD2 commented on #679
Hi there Karan!
My approach is this:

- Import in Switch into myBooks
- into ` interface IState` add in `showListView` property and set value to boolean
- Add `showListView` into state and set it to false
- Create method `onToggleListView` that toggles state of list by setting it to be opposite of state value
- Conditionally render `BookList` component if `this.state.showListView ?` : `ShelfCarous

[2021-09-26 06:02] knjk04 commented on #748
How would you go about recording failed login attempts?

[2021-09-26 06:03] knjk04 commented on #679
Hi Riva, that sounds great. Thanks!

[2021-09-26 06:41] #716 closed

[2021-09-26 06:41] knjk04 commented on #716
Using GitHub actions now

[2021-09-26 06:42] knjk04 commented on #81
Hi @amanjmd, how are you getting on with this issue?

[2021-09-26 06:46] knjk04 opened #759 "Build failing: communications link failure"
The build on `main` is failing with GitHub actions. See https://github.com/Project-Books/book-project/runs/3644431587

[2021-09-26 06:59] #759 closed

[2021-09-26 07:46] Lexinka291 commented on #748
Actually I found some good example how to make it.  I will need to create some boolean variable in dtbs for User to know if acc is locked also save time to know how long will be locked. The example is here: [example](https://www.codejava.net/frameworks/spring-boot/spring-security-limit-login-attempts-example ). Do you think its a good way to implement this or have you any other ideas?

[2021-09-26 18:12] knjk04 commented on #748
I was thinking of a similar approach where we have a table to record all failed login attempts. We can store the email address and a timestamp. Even if a user has only failed log in attempt, it would be good if we can record this (e.g. in the future, we may want to send an email to inform a user about this in case it's not them)

[2021-09-26 18:45] Lexinka291 commented on #748
Deal ;) Thanks!

[2021-09-26 22:50] hungle132 commented on #745
Hello @knjk04 I would like to attempt this issue.

[2021-09-27 06:24] knjk04 commented on #745
Hello @hungle132, thanks! I've assigned you to this. If you need a hand with anything, do let us know over Slack or through a GitHub discussion

[2021-09-27 06:29] knjk04 commented on #745
@hungle132 I've edited the issue description. You can branch from the `main` branch and set `main` as the destination branch in your pull request

[2021-09-27 16:18] knjk04 commented on #704
Use Sonarcloud

[2021-09-27 16:18] #704 closed

[2021-09-27 16:22] #582 closed

[2021-09-27 16:22] knjk04 commented on #582
See #756

[2021-09-27 21:53] olusolaa commented on #757
I can take this

[2021-09-27 21:55] olusolaa commented on #655
I can take this

[2021-09-27 22:23] olusolaa commented on #757
@knjk04 can I take this?

[2021-09-28 01:17] RivaD2 opened #762 "Create one component to render all shelves"
**Describe the solution you'd like**

Currently we have `ShelfBook` which is a single component. On the `myBooks` page, this shelf component is being rendered for each shelf.

**Task:**
  - Create one component that renders all the shelves (see `bookList.tsx`). The component should receive an array of books like `bookList.tsx` (see listview by toggling switch at bottom of `myBooks` page to list vi

[2021-09-28 01:18] RivaD2 commented on #762
@knjk04 can you confirm the endpoint needed for this one?

[2021-09-28 06:05] 1411dolly0 commented on #749
I would like to work on it.

[2021-09-28 07:01] #679 closed

[2021-09-28 07:39] knjk04 opened #763 "Create 'Add book' modal"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135040275-d67be4d9-1011-4ea9-8bdc-b3fa12eff9b7.png)

Create a new 'Add book' modal component:

- Have red asterisks and validation for the required fields
- Clicking reset should clear all of the fields (and not show any error text)
- Page count should only accept numbers
- This should be responsive an

[2021-09-28 07:44] knjk04 opened #764 "Create bottom navigation bar for mobile"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135044682-de70edfd-29fb-47ea-91a0-21316129b7f3.png)

Create a bottom navigation bar component and show this instead of this side navigation bar for mobile devices. This bottom navigation bar should look like the above image.

We should use the icons we already using in the side navigation bar.

**Addit

[2021-09-28 11:34] knjk04 commented on #723
@grace-ko Hi, sure. Thanks! If you need a hand, feel free to ask on our #book-project channel on Slack or create new GitHub Q&A discussion

[2021-09-28 11:38] knjk04 commented on #762
@RivaD2 Ah, we'll need a new endpoint for this. I'll make a new ticket for that. Should we block this until that endpoint is ready?

[2021-09-28 11:43] knjk04 opened #765 "Make shelf/list view toggle 'sticky'"
**Currently**

![image](https://user-images.githubusercontent.com/11173328/135079827-6b2f1f57-828e-46a5-9d92-c788a43b0f15.png)

Currently, we display the toggle at the bottom of the page.

**Describe the solution you'd like**

See page 2 of our [mockups](https://www.figma.com/proto/MWYSlKNoyg3Ja3EAeectcQ/Book-Project-UI-Copy?node-id=1%3A2&scaling=min-zoom). The toggle is always present, even when

[2021-09-28 11:46] knjk04 opened #766 "Include name of book in thumbnail for list view"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135080612-b3f842aa-eab0-4cce-a3a4-b787ffcd87e9.png)

Similar to the above image where we include the title of the book in the thumbnail, we should do the following in the list view. Currently, it looks like the following screenshot:

![image](https://user-images.githubusercontent.com/11173328/135080729

[2021-09-28 11:50] knjk04 opened #767 "Add filter and search bar"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135081135-44cb88c8-edb3-4089-b0e7-785f35cc5344.png)

Add the filter and search bar:
- For now, the filter shouldn't do anything when clicked
- The results in the list view should filter to match the query (the book title that was searched for)

**Additional context**
- Be sure to read the contributing

[2021-09-28 11:54] knjk04 opened #768 "Fix genre name sent to client"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/135081742-e3faac04-137b-4dee-93b1-8dadf7405a25.png)

In the list view on the frontend, we are not displaying the genres the way we want to.

**Steps to reproduce**

Either
- Run the frontend and backend, go the 'my books' page on the frontend and toggle 'list view',
- Or examine the response in a REST

[2021-09-28 15:40] qwe123coder commented on #767
hey i could try this

[2021-09-28 15:54] knjk04 commented on #767
Hi @qwe123coder, thanks! I've assigned you to it. If you need a hand with anything, feel free to get in touch with us over our #book-project channel on Slack or by creating a new GitHub Q&A discussion

[2021-09-28 16:12] knjk04 commented on #757
@olusolaa Thanks for your interest in this! We're currently using a MySQL database (H2 in-memory database for tests). Our JWT tokens are set to expire after 7 days.

I think it's better if we don't use an in-memory database for this. It would require us to have a separate one from our persistent one only for this. If we would need to restart the database for whatever days, a user may have to be is

[2021-09-28 16:17] knjk04 opened #769 "Create PredefinedShelf controller"
**Describe the solution you'd like**

Create a new PredefinedShelvesController with GET endpoints that return a list of books in each of the four predefined shelves.

- See the 4 shelves in this enum: https://github.com/Project-Books/book-project/blob/main/backend/src/main/java/com/karankumar/bookproject/backend/model/PredefinedShelfName.java
- Entity: https://github.com/Project-Books/book-project

[2021-09-28 16:17] knjk04 commented on #762
Blocked by #769

[2021-09-28 16:24] knjk04 opened #770 "Fix how we send ratings to frontend"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/135126677-8e3f3018-aa93-4a12-9d04-cf545c50bb0c.png)

We shou

**To Reproduce**
Steps to reproduce the behaviour:
1. Run frontend and backend
2. Go to 'my books'
3. Toggle list view
4. See error

Alternatively, see the responses in Postman,

**Expected behaviour**

![image](https://user-images.githubusercontent.com/11

[2021-09-28 16:31] knjk04 opened #771 "Make 'VIEW ALL' text the same height as the shelf name"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/135128099-584f6010-0edd-4181-9d7d-5a02d51a1338.png)

Make 'VIEW ALL' the same height as the shelf name. It is currently aligned with the bottom, but it should also have the same height as the top

**Expected behaviour**

![image](https://user-images.githubusercontent.com/11173328/135127924-e1672130-77a4-4796-9a8a-f9c

[2021-09-28 16:37] knjk04 opened #772 "Connect frontend to Books API (GraphQL)"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/135128777-365588a9-e9d5-4305-a035-58f89c5c6dce.png)

Design a new search page that looks like the above image. We need 'Search' in the navigation bar with the material icon. The search page should be responsive.

After a user has typed in a query and presses enter, call [findByTitle](https://github.co

[2021-09-28 16:50] knjk04 opened #773 "Make shelves responsive"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/135130341-2fce78e5-e353-4084-9f42-c1d0a974db80.png)

Currently, the shelves in the 'my books' page look like the above image.

![image](https://user-images.githubusercontent.com/11173328/135130427-c6a07131-aa96-4096-83d7-85a9a20c1207.png)

However, we want it to take up more of the available space, as

[2021-09-28 16:58] knjk04 opened #774 "Apply spine effect"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135131649-da391796-f4f8-41c4-b16e-a04fb2c87569.png)

We want to apply a spine effect to all books in the shelves that have an image (see the two below). This effect should look like the image above -- the vertical gradient on the left-hand side to replicate the appearance of the spine.

![image](https:

[2021-09-28 17:01] knjk04 opened #775 "Create a JSON patch method in the book controller"
**Describe the solution you'd like**
In the [update ](https://github.com/Project-Books/book-project/blob/main/backend/src/main/java/com/karankumar/bookproject/backend/controller/BookController.java#L131)method of our BookController, use JSON patch to determine what attribute to change.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approa

[2021-09-28 17:04] RivaD2 commented on #772
@knjk04 Per slack convo, I am happy to take this on :)

[2021-09-28 17:16] mslowiak commented on #775
Hi @knjk04, can I work on that issue? :)

[2021-09-28 17:28] knjk04 opened #776 "Create goal modal"
**Describe the solution you'd like**
When a user clicks on the following

![image](https://user-images.githubusercontent.com/11173328/135134544-e55fd60a-26ff-47f5-b357-321b1a1b7703.png)

we should open a new goal component that looks like the image below:

![image](https://user-images.githubusercontent.com/11173328/135134592-48fe4f10-bfb4-40b7-8f39-5ec9a8f609a8.png)

If 'Books' is selected rather

[2021-09-28 17:32] knjk04 commented on #775
Hi @mslowiak, sure! Thanks! If you need a hand with anything, feel free to ask on our #book-project channel on Slack or by creating a new GitHub Q&A discussion

[2021-09-28 17:35] knjk04 opened #777 "Create Goal CRUD controller"
**Describe the solution you'd like**

Create a Goal controller
- Endpoint to get the existing goal
- Endpoint to get all previous goals (from previous years)
- POST method to save a goal if a goal doesn't already exist (only one goal allowed at a time). This method should take in an `int` representing the number of books or pages to read. It should also specify whether the goal type should be page

[2021-09-28 17:40] knjk04 opened #778 "Make list view sortable"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135137628-fd530c24-08d2-4148-be47-345d1d3b6fdd.png)

Clicking on any of the columns should sort by that column. By default, we should sort from in ascending order (A-Z for all columns except for rating, where should sort numerically). We should display a small up arrow next to the column to indicate it

[2021-09-28 17:56] knjk04 opened #779 "Send email confirmations"
**Describe the solution you'd like**
Send an email confirmation when a user creates a new account, changes their password or deletes their account.

We should have a new Maven module for this email notification service.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Branch from `main` and set

[2021-09-28 17:59] knjk04 opened #780 "Create book overview page"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/135140577-114dfec0-29d2-43b2-bca0-45babb5928ed.png)

Create a book details that looks like the following. It should use the details we get back from the backend. We should route to this page if a user clicks on one of the rows in the list view (not the shelf view for now).

Clicking on the pencil icon

[2021-09-28 18:42] DBar98 commented on #777
Hi, may I work on this issue?

[2021-09-28 23:15] rachelsalazar commented on #771
Hi @knjk04, could I please work on this issue?

[2021-09-29 06:26] knjk04 commented on #771
Hi @rachelsalazar, sure. Thanks!

[2021-09-29 06:26] knjk04 commented on #777
Hi @DBar98, sure. Thanks!

[2021-09-29 09:30] aryanchopra commented on #776
hey, I'd like to work on this feature, could you assign me to it?

[2021-09-29 11:51] knjk04 commented on #776
Hi @aryanchopra, sure! Thanks a lot! If you need a hand with anything, feel free to ask on our #book-project channel on Slack or by creating a new GitHub Q&A discussion

[2021-09-29 12:23] MartinSedlacko commented on #779
Hello,

I would like to work on this task.

[2021-09-29 12:24] pato060 commented on #780
Hello, I would like to work on this issue.

[2021-09-29 13:10] pedro-cze commented on #768
Hi, can I have a look at this one?

[2021-09-29 13:55] Devenkapoor7303 commented on #778
Hey can I work on this issue?

[2021-09-29 14:29] srijit2002 commented on #774
**My Approach**
Create a pseudo element and apply linear gradient on that.Using percentage for height and width so that it works regardless of the image size.

Can you please assign it to me? and please list those files I need to change

[2021-09-29 14:41] RivaD2 opened #781 "Refactor HttpClient to use Axios"
Currently we have a customer built instance called HttpClient. We want to replace this with Axios for more robust API calls and easier maintenance.

- You should work out the `HttpClient.js` file and keep the same methods and exported instance. The consumers of HTTP client don't need to change.
- TypeScript linter may cause some bumps in the road

**Additional context**

- Be sure to read the cont

[2021-09-29 15:10] knjk04 commented on #779
Hi @MartinSedlacko, thanks for your interest in this! Could you please let us know what your implementation approach is before we assign you?

[2021-09-29 15:10] knjk04 commented on #780
Hi @pato060, sure, I'll assign you to the issue. Thanks!

[2021-09-29 15:11] knjk04 commented on #768
Hi @pedro-cze, thanks for your interest! Before I assign you to this, could you please let us know what your implementation approach is?

[2021-09-29 15:11] knjk04 commented on #778
Hi @Devenkapoor7303, sure, I'll assign you to the issue. Thanks!

[2021-09-29 15:13] knjk04 commented on #774
Hi @srijit2002, thanks for your interest in this and for you sharing your implementation approach. I'll assign you to this.

Take a look here: https://github.com/Project-Books/book-project/tree/main/frontend/src/my-books. The `my-books` folder contains the shelf component and corresponding css file that you'll be working on

[2021-09-29 15:18] pavolo99 commented on #769
Hi @knjk04, I would like to work on this issue. May I ?

[2021-09-29 15:20] knjk04 commented on #769
Hi @pavolo99, sure, I'll assign you to the issue. Thanks!

[2021-09-29 15:31] pavolo99 commented on #769
Thanks.

So, the PredefinedShelvesController should contain of 4 separate endpoints for each shelf name (TO READ, READING, READ, DID_NOT_FINISH), correct?

[2021-09-29 15:32] knjk04 commented on #769
@pavolo99 That's right

[2021-09-29 18:53] kpnigalye commented on #766
If I understood correctly, in the list view title of the book should be there in the thumbnail. If the text is too long, is it ok to the change size of the thumbnail? It yes, I would like to give it a try.

[2021-09-29 20:37] Wildschut commented on #756
Hi, can I work on this issue?

[2021-09-29 23:25] arshxyz commented on #765
Hi, I would like to claim this issue, thanks.

[2021-09-30 06:15] knjk04 commented on #766
That's correct

If the text is too long, we can truncate the title and use ellipsis (e.g. 'Harry Potter and the Order ...').

Would you still like to work on this?

[2021-09-30 06:17] gitaalekhyapaul commented on #781
Hi :wave: , I could help in converting `HttpClient` to Axios. I am planning to use Axios instances to replace the class-based approach.

Please assign the issue to me, if you think this approach is what you are looking for!

Reference: https://axios-http.com/docs/instance

[2021-09-30 06:18] knjk04 commented on #756
Hi, sure, I'll assign you to the issue. Thanks!

[2021-09-30 06:19] knjk04 commented on #756
If you need a hand with this, feel free to get in touch with us over our Slack workspace (link is the badge in the README) or by creating a new GitHub Q&A discussion

[2021-09-30 06:21] knjk04 commented on #765
Hi @arshxyz, sure, I'll assign you to the issue. Thanks!

[2021-09-30 06:30] MartinSedlacko commented on #779
This would be my approach
        * create parent pom and new module for EmailService
	* add dependency for spring-boot-starter-mail
	* configuration to application.properties for Spring Boot Mail(host, port, username, password, auth, starttls)
	* create EmailServiceImpl which contains method to sendEmail(from, to, subject, body)
	* create EmailTemplate class for newAccount, changePassword and del

[2021-09-30 06:32] knjk04 commented on #779
@MartinSedlacko Thanks, I've assigned you to the issue!

[2021-09-30 06:33] knjk04 commented on #781
Hi @gitaalekhyapaul, thanks for your interest in this!

@RivaD2 Is Gita's approach what we're looking for?

[2021-09-30 06:46] #771 closed

[2021-09-30 06:46] kpnigalye commented on #766
yeah sure..thanks

[2021-09-30 06:46] knjk04 commented on #766
If you need help with anything, we'll be happy to help you over a [GitHub Q&A discussion](https://github.com/Project-Books/book-project/discussions/categories/q-a) or our [Slack workspace](https://camo.githubusercontent.com/eef8443bce0a2fdc0706ffcd99f91181ac849a4ef423a1ed61386ca0a8b448bb/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f736c61636b2d7465616d626f6f6b70726f6a6563742d344131353

[2021-09-30 06:47] pedro-cze commented on #768
Hi, @knjk04 sure, the fix seems to be pretty easy here. Using [`@JsonValue`](https://fasterxml.github.io/jackson-annotations/javadoc/2.8/com/fasterxml/jackson/annotation/JsonValue.html) on the `genre` field...

`@JsonValue
    private final String genre;
`

[2021-09-30 06:49] knjk04 commented on #768
Hi @pedro-cze, that would work well. Thanks! I'll assign you to this

[2021-09-30 06:52] srijit2002 commented on #774
@knjk04 I have created the spine effect like [this](https://ibb.co/T0WDC9X). Can you please check if it is correct or not?

[2021-09-30 08:32] srijit2002 commented on #749
# My Approach
Go to `Register.tsx` file and after ` if` statement at line number `132` add another `else if` statement to check if status code is `201` and if it is then use `useHistory` hook to redirect user to my-book page

Can you please assign it to me?

[2021-09-30 13:11] umang345 commented on #770
Hello. I am new to open source but I want to learn. Can I work on to this issue?

[2021-09-30 15:27] RivaD2 commented on #781
Yes indeed! Using the instance is great 👍

[2021-09-30 16:00] knjk04 commented on #770
Hi @umang345. Sure, the implementation approach could be similar to #768. I'll assign you to this issue.

If you need help with anything, we'll be happy to help you over a [GitHub Q&A discussion](https://github.com/Project-Books/book-project/discussions/categories/q-a) or our [Slack workspace](https://camo.githubusercontent.com/eef8443bce0a2fdc0706ffcd99f91181ac849a4ef423a1ed61386ca0a8b448bb/68747

[2021-09-30 17:08] dro-1 commented on #773
Hello @knjk04 ,
I'd love to work on this issue. My approach to solving it will be to use CSS Flexbox.

[2021-09-30 17:09] knjk04 commented on #773
Hi @dro-1, thanks! I'll assign you to the issue.

[2021-09-30 17:10] dro-1 commented on #773
Thanks. I'll start working on it tomorrow.

[2021-09-30 17:24] knjk04 opened #787 "Remove drop shadow from buttons"
**Describe the solution you'd like**
Our buttons should not have any drop shadow. Change the following set of buttons:

The add buttons on the 'my books' page
![image](https://user-images.githubusercontent.com/11173328/135501222-abb36bcb-f002-445e-818b-0296f85feaeb.png)

The buttons in the 'Add shelf' modal
![image](https://user-images.githubusercontent.com/11173328/135501285-c6cc258e-5b59-4fe8-ae

[2021-09-30 17:26] knjk04 opened #788 "Make the frontend a progressive web app"
**Describe the solution you'd like**
Make the frontend a progressive web app. See https://create-react-app.dev/docs/making-a-progressive-web-app/

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Branch from `main` and set `main` as the destination branch in your pull request

If you need help wi

[2021-09-30 17:30] Wildschut commented on #756
Thank you for the heads up. Will do so if I get stuck somewhere...

[2021-09-30 17:30] knjk04 opened #789 "Add React tests"
**Describe the solution you'd like**
We currently don't have any tests for our React frontend. Add some meaningful React tests.

See https://reactjs.org/docs/testing.html

**Additional context**
- Be sure to read the contributing guidelines first!
- Come up with a list of suggestions on what to test before we assign you.
- Branch from `main` and set `main` as the destination branch in your pull re

[2021-09-30 17:35] knjk04 commented on #788
Duplicate of #242

[2021-09-30 17:35] #788 closed

[2021-09-30 18:05] ProCode2 commented on #787
@knjk04 Can I take this up? If so, Please assign me this issue.

[2021-09-30 18:08] harshmathurx commented on #787
I would like to take this issue up
I tried this in my own fork
We need to add a prop called `disableElevation` to the button element
Please assign it to me

[2021-09-30 18:31] ShlokMohanty commented on #789
@knjk04 i want to take up and work on this issue can you assign me the task ?

[2021-09-30 18:39] knjk04 commented on #787
Hi @ProCode2, sure, I'll assign you to the issue. Thanks!

[2021-09-30 18:41] knjk04 commented on #787
Hi @harshmathurx, sorry but Pradipta got there ahead of you by a few minutes. I can let you know if this becomes available again for whatever reason, though

[2021-09-30 18:42] knjk04 commented on #789
@ShlokMohanty Thanks for your interest in this.

Note that for this issue we can require you to look through our code and come up with a list of things to test before assigning you to ensure we're both in agreement

[2021-09-30 18:43] harshmathurx commented on #787
it's all good, I understand :)
sure lmk, thanks

[2021-09-30 18:55] ShlokMohanty commented on #789
sure @knjk04 will come up with some suggestions

[2021-09-30 19:56] brandon-hoang-le commented on #764
hey @knjk04, I'm down to attempt this one!

[2021-10-01 06:11] Snape25 commented on #688
Is this issue still open? if yes, i would like to work on this.

[2021-10-01 06:46] ProCode2 commented on #787
Sorry guys, I didn't check this one anymore as @harshmathurx had already done it and uploaded screenshots. You can take this one up.

[2021-10-01 06:48] knjk04 commented on #787
@harshmathurx I'll assign you to this, thanks!

[2021-10-01 06:49] knjk04 commented on #688
Hi @Snape25, thanks I'll assign you to the issue!

If you need help with anything, we'll be happy to help you over a [GitHub Q&A discussion](https://github.com/Project-Books/book-project/discussions/categories/q-a) or our [Slack workspace](https://camo.githubusercontent.com/eef8443bce0a2fdc0706ffcd99f91181ac849a4ef423a1ed61386ca0a8b448bb/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f73

[2021-10-01 07:03] harshmathurx commented on #787
Thanks

[2021-10-01 08:28] DBar98 commented on #764
Hi @knjk04, may I work on this issue?

[2021-10-01 12:09] kvnal commented on #764
I would like to work on this, Please assign me this task

[2021-10-01 12:10] knjk04 commented on #762
Unblocked. GET endpoints (see https://github.com/Project-Books/book-project/blob/main/backend/src/main/java/com/karankumar/bookproject/backend/controller/PredefinedShelfController.java):
- /api/shelf/books/to-read
- /api/shelf/books/reading
- /api/shelf/books/read
- /api/shelf/books/did-not-finish

[2021-10-01 12:10] knjk04 commented on #764
Hi @DBar98, sure, I'll assign you to the issue. Thanks!

[2021-10-01 12:11] knjk04 commented on #764
@kvnal Sorry Kunal, @DBar98 got there first. If this issue becomes available again for whatever reason, I can let you know

[2021-10-01 22:34] olusolaa commented on #757
@knjk04 it's only the blacklisted token we want to save in the H2, it doesn't affect the other users.

[2021-10-02 03:20] Snape25 commented on #688
Hello, so i just need to check if the password strength constraint is getting violated, and respond with a 400 status right?

[2021-10-02 07:51] varadeth commented on #749
Hi @knjk04 , I would like to try this issue and resolve it

[2021-10-02 13:18] #765 closed

[2021-10-02 13:34] #787 closed

[2021-10-02 15:35] knjk04 commented on #632
@dchhatani Hi Deepak, how are you getting on with this?

[2021-10-02 16:07] kpnigalye commented on #766
I have added a character limit for the text to be displayed inside the thumbnail. The screen will look like this now.
![image](https://user-images.githubusercontent.com/8084464/135724167-b682645d-8101-432c-884c-a83fdd4b15fe.png)
Let me know if it will work for you.

[2021-10-02 16:27] knjk04 commented on #766
This looks good, thanks!

[2021-10-02 18:39] odfsoft commented on #81
Is this issue still available for assigment? I would like to work on it

[2021-10-03 03:09] kpnigalye commented on #766
I have created a PL but I am bot able to assign it to you. Can you please check my PL?

[2021-10-03 09:30] jhanna60 opened #802 "Fix for the use of deprecated methods - parser()"
While browsing the code I noticed we are using a few deprecated methods for our JWT code, in JwtTokenVerifier.java we are using parser() which is now marked as Deprecated.

I'd like to update this so we are using parserBuilder() instead. Please see below for more information on my proposed fix.

![image](https://user-images.githubusercontent.com/13537877/135747597-c1717571-856f-463b-89cb-a62e2ed4d

[2021-10-03 11:02] #775 closed

[2021-10-03 11:12] mslowiak commented on #757
A blacklisted tokens table can be created in an existing database.
We can check if the used token is on the blacklist.
To prevent this table from growing so much, we can apply some corn jobs that will be deleting records from the database for blacklisted tokens that already had an expiration date in the past. Then those tokens will be rejected in a normal way, the same as expired tokens.

[2021-10-03 11:16] knjk04 commented on #757
@mslowiak Agreed, I think this is a better approach

[2021-10-03 18:34] #756 closed

[2021-10-04 00:21] RivaD2 commented on #772
@knjk04 My approach so far is:
  - Add in another <NavItem /> to Nav.tsx
  - Add in material search icon and add style to display them side by side
  - Create <Search /> component (thinking functional component using hooks if that works)
  - Add /search to Routes.tsx
  - Add <Search /> as new Route into App.tsx
  - Regarding query, I will make a separate method to handle this (not sure where it sh

[2021-10-04 07:13] grace-ko commented on #723
@knjk04 sorry for the delay, just got set up. I think easiest way would be to add customization in the theme file for the dark mode, what do you think?

[2021-10-04 14:14] knjk04 commented on #772
@RivaD2 This all sounds good!

[2021-10-05 11:37] #802 closed

[2021-10-05 13:39] varadeth commented on #762
Hi @knjk04 , I want to contribute in this enhancement. I want to get better understanding in this and then I will start working on this

[2021-10-05 14:08] EvaKrizal commented on #763
Hi, is this issue available?

[2021-10-05 15:17] dchhatani commented on #632
Hi @knjk04 , I am yet to get started with this as something else came up. I'll target for this weekend.

[2021-10-06 02:05] RivaD2 commented on #772
@knjk04 Can you verify endpoint for this? 👍

[2021-10-06 11:08] #766 closed

[2021-10-06 11:40] knjk04 commented on #763
Hi, this issue is currently blocked. We're working on finalising our design for this. I can let you know once it's unblocked and available to pick up

[2021-10-06 11:41] knjk04 commented on #749
Hi @varadeth, we only assign at most one issue at a time to new contributors (see contributing guidelines). Once you've finished your currently assigned issue, we can assign you to this if it is still available

[2021-10-06 11:44] knjk04 commented on #772
@RivaD2 There's only one endpoint in GraphQL, but see here: https://github.com/Project-Books/books-api/blob/main/src/main/java/com/karankumar/booksapi/datafetchers/BookDataFetcher.java#L56. You can call findByTitle and pass in the title of the book passed into the search bar

[2021-10-06 13:19] kpnigalye commented on #749
I would like to work on this.

[2021-10-07 15:17] shangyilim commented on #717
@knjk04 i would like to try working on this issue

[2021-10-08 00:25] mreza-kiani commented on #749
Hi @knjk04 I can work on this issue has no assignees.

[2021-10-08 17:19] knjk04 commented on #764
@DBar98 How are you getting on with this?

[2021-10-08 17:20] knjk04 commented on #745
@hungle132 How are you getting on with this?

[2021-10-08 17:20] #750 closed

[2021-10-08 17:23] knjk04 commented on #764
@kvnal Are you still interested in working on this?

[2021-10-08 17:23] knjk04 commented on #779
How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A)

If you need more time, that's fine, but please let us know.

[2021-10-08 17:27] knjk04 commented on #778
@Devenkapoor7303 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A)

If you need more time, that's fine, but please let us know.

[2021-10-08 17:27] knjk04 commented on #773
@dro-1 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A)

If you need more time, that's fine, but please let us know.

[2021-10-08 17:28] knjk04 commented on #769
@pavolo99 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A)

If you need more time, that's fine, but please let us know.

[2021-10-08 17:29] knjk04 commented on #777
@DBar98 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A)

If you need more time, that's fine, but please let us know.

[2021-10-08 17:31] DBar98 commented on #777
Thank you. In my opinion, the implementation part is ready, currently working on unit tests but Im gonna create PR for this in two days.

[2021-10-08 17:33] knjk04 opened #813 "Create statistics page"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/153915797-b741eaf3-4470-4629-aaaa-8927bf3a2358.png)

Create a statistics page that looks like the above. For the image, you can use one of the existing images we're already using. This data should be hardcoded for now (we'll later fetch this from the backend).

You'll also need to add a new item to the

[2021-10-08 17:40] knjk04 commented on #749
Thanks, @kpnigalye!

@mreza-kiani Sorry, Krishna got there first

[2021-10-08 17:40] adrianrojek commented on #813
Hello is this issue still open ?  I´d like to help, can you assign it to me ?

[2021-10-08 18:07] umang345 commented on #770
@knjk04 Hi, sorry for not being active, but perhaps I need to learn a few more things before contributing to projects like this. For the flow please unassign me, I would like to come back to contribute to this project after I have learned more.

[2021-10-09 06:03] ManishOffi commented on #813
Hye @knjk04 ,
Please assign me for this issue?

[2021-10-09 06:41] pavolo99 commented on #769
@knjk04 Issue is resolved. You can close it.

[2021-10-09 07:19] kibi11 commented on #764
Hey , I would like to work on this.

[2021-10-09 08:08] knjk04 commented on #764
Hi @kibi11, thanks, I'll assign you to the issue

[2021-10-09 08:10] knjk04 commented on #813
Hi @ManishOffi, this is already assigned to Adrian. If this becomes available again for whatever reason, I'll let you know

[2021-10-09 08:11] #769 closed

[2021-10-09 09:43] MartinSedlacko commented on #779
Almost done, I need to make just a few changes and it will be ready for PR.

[2021-10-09 10:51] dro-1 commented on #773
I'm still working on it. I should submit a PR before the end of tomorrow.
One question though, what screen size were the screenshots taken on?

[2021-10-09 12:16] pedro-cze commented on #770
Hi @knjk04  this seems to be the same problem as #814 right?

[2021-10-09 14:06] knjk04 commented on #773
Thanks. 2560 x 1440

[2021-10-09 17:31] knjk04 opened #816 "Only run Maven workflow if a backend file was modified"
**Is your feature request related to a problem? If so, please describe.**
When someone makes only a frontend or documentation change, we still trigger our backend workflow.

**Describe the solution you'd like**
Set the maven command to run only if a `.java` was modified. See https://github.com/Project-Books/book-project/blob/a10c0832131ddf2f318c71aeff32c0b74b7a2804/.github/workflows/build.yml#L45

[2021-10-09 17:44] #768 closed

[2021-10-09 17:53] knjk04 opened #817 "Add more integration tests"
**Describe the solution you'd like**
In addition to testing our entire backend (from the endpoint to the database call), we will also have Spring REST docs for that controller.

Similar to our [UserControllerIntegrationTest](https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/test/java/com/karankumar/bookproject/integration/UserControllerIntegrationTest.java), add some mea

[2021-10-09 18:00] #688 closed

[2021-10-09 18:03] knjk04 opened #818 "Show server down text"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/136669382-25eac97e-e809-4987-8a66-deeadd505291.png)

The error message shown above should not show if the credentials were correct but the server is not running/down.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

Sh

[2021-10-09 18:08] knjk04 commented on #749
Hi @kpnigalye, if you don't want to run it in an IDE like IntelliJ or Eclipse, try these instructions: https://github.com/Project-Books/book-project#1-start-locally-with-mysql-and-phpmyadmin-running-in-docker

[2021-10-09 18:24] DarkSoul26 commented on #818
Hey @knjk04 may I work on this issue?

[2021-10-09 18:43] dro-1 commented on #773
Sorry, I don't really understand the description you gave.

1. What is the max no of books that can be on a row?
2. And can the add book button stay on the same row as the books or it must always be on the next line?
3. Lastly, if the button can stay on the same row as the books, does it add towards the max count of books that can be on that row?

[2021-10-10 01:16] RivaD2 commented on #772
@knjk04
   I was reading more about GraphQL (fun stuff but a lot happening here :) ) and I will for sure need an endpoint to hit so I can make the query.

   From the above images you sent, those are the query for the database, but I will need the full route that the frontend calls and also a sample of what the request body in JSON format would be. I think then I could possibly try and put somethi

[2021-10-10 01:34] JohnAyling1979 commented on #818
Looking into this issue.

[2021-10-10 02:15] spencerwi commented on #705
Hi hi! I'd like to pick this up. Looks like there's already a Shelf controller, shouldn't be too hard to add `all()`/`rename`/`delete` endpoints.

For the "rename", I was thinking it'd be a `PUT` request to `/{shelfName}`, where the body of the request would be the new desired shelf name. Does that approach seem sound?

[2021-10-10 06:17] knjk04 commented on #705
Hi @spencerwi, that sounds good. Thanks! I've updated the issue description (branch from `main`, not `0.2.0`).

[2021-10-10 06:35] knjk04 opened #820 "Show error message if server is down"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/136685389-e42147a9-14f4-4d18-b32e-761f2f3894a7.png)

When a user attempts to create an account and the input is valid (passwords match, password strength is at least strong, etc.), we should show an error message if our server is down.

**To Reproduce**
Steps to reproduce the behaviour:
1. Attempt to create an accoun

[2021-10-10 06:36] knjk04 commented on #655
Thanks, @Snape25. I'll assign you to it

[2021-10-10 06:39] knjk04 commented on #773
1. We want 7 slots, 6 of which are books and one is the 'Add book' slot.

2. We want all of the slots, including add book, to be on the same row (see the mockup design, which is the 2nd image in the issue description).

It counts towards the maximum of 7 slots (a slot being either a book or 'add book')

Hope this helps!

[2021-10-10 07:17] dro-1 commented on #773
What then happens if we have say, 10 books to display? How does it fit with the 'Add Book' button?
I hope I'm not stressing you too much but I just want to get this correctly. Thanks.

[2021-10-10 07:22] knjk04 commented on #773
If we have more than 6 books to display, we'll only show at most 6. A user will be able to click on 'VIEW ALL' to see the rest (when implemented). The purpose of this shelf here on the 'my-books' page is to feature some but not all books.

Not at all, these are all good and relevant questions! I'm happy to clarify and help :)

[2021-10-10 11:08] kartik-tiwari commented on #820
Hi, I would like to work on this issue. How should we discuss the implementation?

[2021-10-10 11:30] knjk04 commented on #820
Hi @kartik-tiwari, thanks! I'll assign you to this issue. I've removed the need to discuss the implementation first for this because it should be relatively straightforward (see #819)

[2021-10-10 12:07] #717 closed

[2021-10-10 12:10] knjk04 opened #821 "Only run frontend linter if frontend file was modified"
**Is your feature request related to a problem? If so, please describe.**
We don't need the frontend linter to run if the frontend was modified. We want to reduce the time it takes for a successful build (all checks passed on GitHub).

**Describe the solution you'd like**
Only run the frontend linter workflow if a `.ts`, `.js`, `.html`, `.json` or `.css` file was modified.

**Additional context**

[2021-10-10 15:58] knjk04 commented on #821
@shangyilim Not at all, thanks again for your help!

[2021-10-10 17:46] RivaD2 commented on #772
@knjk04 thank you, I will give this a try 👍

[2021-10-10 18:26] knjk04 opened #825 "Avoid Lombok pitfalls"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/136708571-cbf93334-f923-4eda-865e-b7c614a0502d.png)

Ensure the code in our [model package](https://github.com/Project-Books/book-project/tree/main/backend/src/main/java/com/karankumar/bookproject/backend/model) adheres to newly added Lombok section in [our style guide](https://project-books.github.io

[2021-10-10 18:31] knjk04 commented on #703
See #817

[2021-10-10 18:31] #703 closed

[2021-10-10 18:33] knjk04 opened #826 "Fix SonarCloud not being able to analyse project"
![image](https://user-images.githubusercontent.com/11173328/136708825-24a3e711-0865-442f-9784-7d341eb4daca.png)

Despite having our workflow set up (GitHub actions) and the Sonar secret token saved, SonarCloud is not running an analysis.

[2021-10-10 18:35] #655 closed

[2021-10-10 18:37] knjk04 opened #827 "Handle Cross Site Request Forgery (CSRF)"
**Describe the solution you'd like**
We have re-enabled CSRF protection on the backend, so we need to handle this on the frontend.

As this is a high-priority task, this needs to be completed relatively quickly. Let us know how long you estimate it'll take you.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assi

[2021-10-10 18:50] knjk04 commented on #826
Fixed in https://github.com/Project-Books/book-project/commit/f87800f280a4dc71045bc9faf9bf60740c2a4f2a. The wrong project key was used (books API)

[2021-10-10 18:50] #826 closed

[2021-10-11 05:55] varadeth opened #828 "Storing JWT and sending it in every request"
Currently, JWT is stored in memory. The problem due to this is when we refresh a page, JWT is unavailable and hence for every request, the API returns 403 even if we are logged in

**Describe the solution you'd like**
Storing JWT in sessionStorage and retrieving it if available in sessionStorage

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementat

[2021-10-11 05:56] varadeth commented on #828
Hi @knjk04, I have raised the ticket. Could you please assign it and I will fix this. Thanks

[2021-10-11 11:51] pedro-cze commented on #825
Hi @knjk04, I could have a look at this one in case it's available. Many thanks.

[2021-10-11 18:27] #828 closed, assigned to nobody

[2021-10-11 18:32] RivaD2 commented on #723
I think that sounds like a good approach!

[2021-10-11 23:52] maykim51 commented on #817
@knjk04  Could I work on this issue? I'd like to work on this case:
- "check if the service passes in a weak password or an email that already exists in our db when creating an account, an exception is thrown"

[2021-10-12 03:43] kpnigalye commented on #749
I tried those steps but I am getting errors while building the project. However I have added a logic to navigate user to My Books page after successful registration.
[code]
I tried on FE side by hardcoding the logic. Its working fine. Do you want me to create a PL for this?

[2021-10-12 06:17] knjk04 opened #830 "Add Material UI clicked animations to buttons"
**Describe the solution you'd like**
Add the material UI ripple animation when clicked. See https://mui.com/components/buttons/#basic-button

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Branch from `main` and set `main` as the destination branch in your pull request

If you need help with an

[2021-10-12 17:30] #821 closed

[2021-10-12 18:24] vittooh commented on #816
@knjk04 done, i test a few times and worked.

https://github.com/Project-Books/book-project/pull/831

[2021-10-13 04:49] shangyilim opened #833 "Frontend linter not checking for ts compilation errors"
**Describe the bug**

When sending a push or a PR, the frontend linter will execute which basically runs `eslint`. This checks tsx and ts files based on the configuration in `.eslintrc`.
The output shows no error.
[code]

However, when running `yarn start` , the typescript compilation produces error:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Change directory to 'frontend'
2. Ru

[2021-10-14 11:47] #833 closed, assigned to shangyilim

[2021-10-14 11:56] knjk04 opened #838 "Add refresh tokens"
**Is your feature request related to a problem? If so, please describe.**
This would enable the frontend to still know the user is authorised even after the page was refreshed.

**Describe the solution you'd like**

Provide a refresh token on login (we're already passing a JWT token, so we want to continue sending the JWT token in addition to the refresh token).

We need to read the httpCookie and

[2021-10-14 12:00] knjk04 opened #839 "Add paging for get all books endpoint"
**Is your feature request related to a problem? If so, please describe.**
Returning all books may be a very large payload.

**Describe the solution you'd like**
Return a fixed size (for now, we will hardcode this to 50 per page) of results per page. Our [endpoint](https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/controller/BookContro

[2021-10-14 15:28] knjk04 commented on #839
Hi @kapilgahlot1998, sure. Thanks!

[2021-10-15 15:58] kapilgahlot1998 commented on #839
Hi
I have updated the all book API endpoint. Now it will also take page number as a request param. But for this change in UI also need to update API call. Can I update the API call in UI ?

[2021-10-16 05:24] knjk04 commented on #820
@guptnis This is already assigned, unfortunately. I'll let you know if becomes available again

[2021-10-16 05:46] knjk04 commented on #764
@kibi11 How are you getting on with this?

[2021-10-16 05:46] knjk04 commented on #767
@qwe123coder Unassigning due to no response, as per our contributing guidelines

[2021-10-16 06:37] hungle132 commented on #745
@knjk04 I tried building the backend with the following steps on the main page and I get an infinite loops and nothing builds.

[2021-10-16 16:08] kapilgahlot1998 commented on #839
Hi
There was one sonar cloud issue for a todo comment that i have added for informing purpose. As of now I have removed that todo.
Please review

[2021-10-17 07:00] knjk04 commented on #745
How long has this been running for?

[2021-10-17 07:24] hungle132 commented on #745
This is what I get when i run mvnw.cmd clean install and it runs for 1 minute max.

[2021-10-19 19:51] kibi11 commented on #764
Hey @knjk04 , I'm facing some issues with getting the backend running, could you help me with that ?
I have the backend running but while sending the login request via postman, I get status as Forbidden and Spring is new to me :)

[2021-10-19 22:11] dark-coder155 opened #845 "I want to add a BENGALI README.MD for bengali people"
Hey i want to add bengali readme

[2021-10-30 11:54] knjk04 commented on #723
@grace-ko Appreciate you may have been busy, but how are you getting on with this? Also, there may not be enough time to get this merged in before the 31st, so would you still be interested in working on this outside of Hacktoberfest?

[2021-10-30 11:54] knjk04 commented on #745
@hungle132 Do you have an update on this?

[2021-10-30 11:55] knjk04 commented on #749
@kpnigalye Do you have an update on this?

[2021-10-30 11:55] knjk04 commented on #764
@kibi11 How are you getting on with this?

[2021-10-30 11:56] knjk04 commented on #780
Hi @pato060, how are you getting on with this?

[2021-10-30 11:57] pato060 commented on #780
Hey, it is completed you have already approved my PR.

[2021-10-30 11:59] knjk04 commented on #780
@pato060 Oops, thanks!

[2021-10-30 11:59] #780 closed

[2021-10-30 12:00] knjk04 commented on #830
@kits4 Ah, my bad. You're right. In that case, we'll close this issue.  Thanks & apologies!

[2021-10-30 12:00] #830 closed

[2021-10-30 12:42] knjk04 commented on #778
Hi @LoicB, thanks! I'll assign you

[2021-10-30 17:31] RivaD2 commented on #772
<img width="1185" alt="Screen Shot 2021-10-30 at 10 26 41 AM" src="https://user-images.githubusercontent.com/67027945/139543075-c92be191-2762-4698-bcaf-aad159b1cc4a.png">
<img width="739" alt="Screen Shot 2021-10-30 at 10 26 50 AM" src="https://user-images.githubusercontent.com/67027945/139543079-37595b2c-57d9-49ba-b60e-6eaf42c24a4b.png">

@knjk04 I was reviewing your screenshots in slack and have

[2021-10-30 22:52] grace-ko commented on #723
@knjk04 Yes please, thanks for your patience. Update coming shortly!

[2021-10-31 10:06] LoicB commented on #778
Hi @knjk04 Yes, I am still interested, thanks

[2021-10-31 12:00] #767 closed

[2021-10-31 12:19] #825 closed

[2021-10-31 18:26] #532 closed

[2021-11-02 03:11] olusolaa commented on #696
You mean the output should look like this, and it should contain all the books of the logged in user.

[code]

[2021-11-03 03:23] kpnigalye commented on #749
I am still getting error related to this and errors are different every time I ran it. I have a fix for this. Please check the code below. This is the code of my Register component.

[code]

[2021-11-03 06:55] knjk04 commented on #749
@kpnigalye What's your fix for this?

[2021-11-07 17:55] knjk04 commented on #764
@kibi11 Unassigning due to no response, as per our contributing guidelines

[2021-11-07 17:56] knjk04 commented on #745
@hungle132 Unassigning due to no response

[2021-11-07 18:19] #776 closed

[2021-11-07 19:32] #348 closed

[2021-11-13 16:18] Emiliano-Russo commented on #813
Hello is this issue still open ? I´d like to help, can you assign it to me ?

[2021-11-13 16:37] knjk04 commented on #813
Hi @adrianrojek, I know you said you were still working on this, but how are you getting on (it's fine if you need more time)?

[2021-11-14 03:30] kpnigalye commented on #749
I have added the same logic as login. I can create a PL so that you can check.

[2021-11-20 10:19] #280 closed

[2021-11-21 07:41] knjk04 commented on #772
@RivaD2 So sorry for the delay on this, things have been extremely hectic lately!

![image](https://user-images.githubusercontent.com/11173328/142753779-d8d50134-2f82-40f5-8164-b8842514dd2e.png)

A couple of things I noticed when I ran this:

1) We're getting a 404 on port 8080. The Book Project runs on port 8080 and so does the Books API by default. I'll change the Books API to port 8082 by defau

[2021-11-21 12:01] hiyingnn commented on #745
Hello, I'm interested in taking up this issue! Do let me know if it's available!

[2021-11-21 23:01] RivaD2 commented on #772
@knjk04 I totally understand, no worries! Thank you for your help!

I will take a closer look at this issue again this week and your thoughts on why we are getting the 404 make perfect sense to me :)  I will follow up you soon! 👍

[2021-11-22 17:44] sushantohalder commented on #839
is this issue closed?

[2021-11-22 17:47] sushantohalder commented on #839
@knjk04 please assign this to me.. I am interested to work on this

[2021-11-27 09:09] knjk04 commented on #745
Thanks, @hiyingnn! I'll assign you to this

[2021-11-27 18:48] RivaD2 commented on #772
@knjk04 I attempted to work on this but the default port is still 8080. Let me know know when you have updated the default port and I will pull in the changes. 👍

[2021-11-27 19:05] knjk04 commented on #772
https://github.com/Project-Books/books-api/blob/main/src/main/resources/application-dev.properties#L15

@RivaD2 Hmm, do you see the line above in the application-dev.properties file? Also, when the backend runs, do you see that in the log that it is using the dev environment?

[2021-11-27 20:43] RivaD2 commented on #772
@knjk04 Ohhh I see now, this is a separate repo. My apologies, I am workin
on it now. I ran the docker compose file and am now running `
BooksApiApplication.java` but I am getting `command not found`. Hmm, I
might be missing a step...

On Sat, Nov 27, 2021 at 11:05 AM Karan Kumar ***@***.***>
wrote:

[2021-11-28 07:31] knjk04 commented on #772
@RivaD2 What command did you run?

No, that's not a typo. Graphiql is the interactive playground we use for testing out queries/mutations

[2021-11-28 19:38] RivaD2 commented on #772
@knjk04 I followed instructions on README.md for running the app. I am trying to run `Run BooksApiApplication.java`

[2021-12-05 18:34] RivaD2 commented on #772
@knjk04 I am still unable to run the file mentioned above/build the project. Can you offer any guidance here?

I followed the instructions on the README.md but there aren't any instructions for how to build the project. I have tried different options but still no success.

It would be great if we could set up deployment of backend so I can focus on frontend tasks etc (I have lots of backend server

[2021-12-14 18:45] knjk04 commented on #772
@RivaD2 Sorry for the delay in getting back to you!

I'm not quite sure just yet. However, we are currently working on wrapping the backend and database with Docker, so hopefully that'll help (and if it doesn't, it should hopefully be easier for me to reproduce because we'll be using the same OS, Java versions, etc.). I appreciate it might be quite annoying if you're not able to get the backend wo

[2021-12-14 20:58] RivaD2 commented on #772
@knjk04 Totally understand Karan:) Thank you for getting back and letting me know about updates. Yes the roadblock I am hitting right now is I can't seem to run the app properly. Docker desktop is up and running fine, but when I try to run the `Run BooksApiApplication.java` file, nothing is happening.

Do you have any suggestions on this? I am not seeing the DGS codegen errors. I am seeing error '

[2021-12-15 20:48] viniciusrplima commented on #748
The task remains unresolved? Can I work on it?

[2021-12-15 20:57] viniciusrplima commented on #230
Can I work on this issue?

[2021-12-16 06:47] knjk04 commented on #745
@hiyingnn How are you getting on with this?

[2021-12-16 06:48] knjk04 commented on #839
@sushantohalder How are you getting on with this?

[2021-12-16 06:49] knjk04 commented on #81
@amanjmd Unassigning due to no reply

[2021-12-16 06:49] knjk04 commented on #81
@odfsoft Are you still interested in working on this?

[2021-12-16 06:50] knjk04 commented on #632
@dchhatani How are you getting on with this?

[2021-12-16 06:53] knjk04 commented on #772
@RivaD2 We've merged the Docker PR in, so try again using Docker. If it still doesn't work, could you please send some logs so I can look to reproduce this? (You may need to add this in, uncommented, into the Books API docker-compose file if it doesn't work for you on the Apple M1 chip: https://github.com/Project-Books/book-project/blob/0.2.0/backend/docker-compose.yml#L6)

[2021-12-16 13:53] amanjmd commented on #81
Yes Karan … I will work on it by next week … give some more time … I’ve
travelling quite a lot … not able to s type down much … will connect with
you by next week

On Thu, 16 Dec 2021 at 12:19 PM, Karan Kumar ***@***.***>
wrote:

[2021-12-18 12:34] vladimirr9 commented on #839
Hello I'd be willing to try this if possible.

[2021-12-20 07:39] danielfrentz commented on #230
Hello,

Please correct me if I am misunderstanding what you are after, but I'm wondering if the following would satisfy your requirements:

Add a list of shelf names to the application.properties. This would allow users to create a list of any size, although of course it could just be the 4 shelves you have in mind right now.

The code for adding these to the database can be implemented in a metho

[2021-12-20 16:32] knjk04 commented on #748
Sure, @viniciusrplima. I'll assign you to it. Thanks!

[2021-12-20 17:02] knjk04 commented on #813
@adrianrojek Unassigning due to no response

[2021-12-20 17:03] knjk04 commented on #813
Hi @Emiliano-Russo, are you still interested in picking this up?

[2021-12-20 17:03] knjk04 commented on #749
Sorry, what's a 'PL'?

[2021-12-22 15:09] viniciusrplima commented on #748
Thank you!

[2021-12-22 15:16] viniciusrplima commented on #748
I think that the example given by previous guy is good. I will make some adjustments and comment here tonight.

[2021-12-23 08:38] knjk04 commented on #632
@dchhatani Unassigning due to no response

[2021-12-23 08:44] knjk04 commented on #839
@sushantohalder Unassigning due to no repsonse

[2021-12-23 08:44] knjk04 commented on #839
@vladimirr9 Thanks, I'll assign you to it!

[2021-12-23 08:45] knjk04 commented on #745
@hiyingnn Unassigning due to no response

[2021-12-24 04:06] adrianbranescu opened #861 "Add input validation when updating user password"
When a user wants to change account password, certain constraints for the new password need to be met.
Currently, a user can change a password with an invalid one.

Password validation constraints are already applied at user registration, but nothing prevents the user from later changing the password with an invalid one.

![ChangePassword](https://user-images.githubusercontent.com/59761765/1473148

[2021-12-25 17:57] shivampapat commented on #778
Hey, is this issue still open?

[2021-12-26 17:36] knjk04 commented on #778
Hi @shivampapat, @LoicB is currently working on this

[2021-12-26 19:30] RivaD2 commented on #772
@knjk04 Docker is running and graphiql is working fine, but I am still get a 403 on the OPTIONS request for `/graphql`. I am not seeing any logs in Docker.

I have pushed my changes so you can check out my branch and run it through the frontend because the graphiql and Postman tools don't make options requests (but they are required in web browsers etc.)

See below:

<img width="1384" alt="Screen

[2021-12-27 01:36] viniciusrplima commented on #748
I propose some changes in this [example](https://www.codejava.net/frameworks/spring-boot/spring-security-limit-login-attempts-example). I think that we can move MAX_FAILED_ATTEMPTS and LOCK_TIME_DURATION to application.properties.

[2021-12-27 02:52] viniciusrplima commented on #748
We can change the success and failure handles with listeners to AuthenticationSuccessEvent and AuthenticationFailureBadCredentialsEvent.

[2021-12-27 11:09] #779 closed

[2021-12-29 01:24] BigOsvaap commented on #861
I would like to work on this issue if that is possible

[2021-12-29 10:27] knjk04 commented on #772
@RivaD2 I've set up CORS and disabled CSRF (for the time being), so hopefully it works now

[2021-12-29 10:42] knjk04 commented on #861
Thanks, @BigOsvaap!

[2021-12-29 18:17] RivaD2 commented on #772
@knjk04 Awesome, thank you! I will revisit this today 👍

[2021-12-30 01:53] viniciusrplima commented on #748
I already implemented it. I'll do some refactorings and then i'll do a PR.

[2021-12-30 05:58] RivaD2 commented on #772
@knjk04 I did a pull to get my branch even with main. I then did the clean install for maven and attempted to run the jar file on the book-project backend. I now get the error of: `java -jar target/book-project-0.2.0.jar`.

I checked:
  - my editor
  - java version
  - path to file ( I don't see the jar file in /target directory, but I might be looking in the wrong place)

Can you confirm the prop

[2022-01-05 03:05] ppalanisami commented on #745
Hi, I am a new comer. I would like to take this issue. Will you please assign this to me?

[2022-01-05 09:08] knjk04 commented on #745
Hi @ppalanisami, thanks for your interest! When do you think you could have a non-draft pull request ready?

[2022-01-05 11:40] ppalanisami commented on #745
@knjk04 Just I had a deep dive in to this issue and I see the actual functionality has been implemented. Can you please provide some more information what exactly to be implemented?

[2022-01-05 14:55] ppalanisami commented on #745
@knjk04 Just FYI: I have around 20 Hours time until end of this weekend.

[2022-01-06 07:52] knjk04 commented on #745
@ppalanisami Here is the line in React: https://github.com/Project-Books/book-project/blob/main/frontend/src/my-books/ShelfModal.tsx#L38. We are not calling the backend endpoint (this is a frontend React issue)

[2022-01-06 12:39] ppalanisami commented on #745
@knjk04 sorry. I am a backend developer. I can't help on React. Is there anything in Backend?

[2022-01-08 08:55] knjk04 commented on #772
Thanks for bringing this up. I usually run it through my IDE, not Maven, so I wasn't aware. I'll look into this

That's strange. This is what I see:

![image](https://user-images.githubusercontent.com/11173328/148638333-3dafe70c-0b07-4e49-818a-b722250e4c00.png)

[2022-01-08 16:43] #778 closed

[2022-01-08 17:00] knjk04 commented on #745
@ppalanisami That's fine, I'll unassign you from this issue. Note that this was issue had the 'react' and 'frontend' labels. You can look for other labels of interest, such as Spring: https://github.com/Project-Books/book-project/issues?q=is%3Aopen+is%3Aissue+label%3Aspring

[2022-01-08 17:00] knjk04 commented on #839
@vladimirr9 How are you getting on with this?

[2022-01-08 17:01] knjk04 commented on #749
@kpnigalye Unassigning due to no response

[2022-01-08 17:01] knjk04 commented on #81
@amanjmd Do you have an update on this?

[2022-01-08 17:12] knjk04 opened #864 "Material UI text field text overlaps with text field border"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/148653312-7fa97766-a9b6-4ba4-a792-fef83b494de0.png)

The text for a text field overlaps the text field border when you click on it.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to http://localhost:3000/
2. Click on the username or password text field
3. See the error

**Expected behaviour**

![image](htt

[2022-01-08 17:42] #838 closed

[2022-01-08 19:06] RivaD2 commented on #772
@knjk04 I figured we might get some errors like that since I won't want to map over the data just yet. I can comment that out for now. I have a note in component explaining that I will console.log data for now (as ticket asks vs mapping)

[2022-01-09 01:04] Krishpandya682 commented on #864
Hi, this is literally my first open source contribution and I do not know if this solution is feasible to you or not but I have just figured out that the issue gets resolved by installing the @mui/material library along with a couple other libraries and changing a few imports from @material-ui/core to @mui/material. If this is an appropriate solution can I implement that change?

[2022-01-09 10:14] knjk04 commented on #864
Hi @Krishpandya682. Sure, go for it. We still want it to be pill-shaped rather than rectangular. Thanks!

[2022-01-11 08:54] vladimirr9 commented on #839
Going well, we discussed it on slack

[2022-01-11 12:03] #861 closed

[2022-01-16 19:08] lrvignesh commented on #696
Hi @knjk04 - Is this still up for grabs ? Can I take if you are okay ?
Thanks!

[2022-01-17 03:32] Kalshone commented on #813
Hello is this issue still open? I´d like to help, can you assign it to me?

[2022-01-19 10:50] knjk04 commented on #813
Hi @Kalshone, it's still open. Thanks, I'll assign it to you

[2022-01-20 17:49] knjk04 commented on #772
@RivaD2 Sorry for the delay. Here it is:

![image](https://user-images.githubusercontent.com/11173328/150393857-c0db1d52-5938-4017-87c6-acbca5f7f345.png)

![image](https://user-images.githubusercontent.com/11173328/150393791-10d94d78-6b29-4263-bb0e-5793522c0bd0.png)

[2022-01-20 18:10] RivaD2 commented on #772
@knjk04 Thank you for sending over the screenshots. I will take a look soon! 👍

[2022-01-22 18:01] priya1712d commented on #745
Hi @knjk04  Do you still need help on this? Could I work on this issue?

[2022-01-22 18:04] priya1712d commented on #63
Hi, @knjk04  Could I work on this issue?

[2022-01-23 07:42] knjk04 commented on #745
Hi @priya1712d, thanks for the offer! I'll assign it to you

[2022-01-23 07:43] knjk04 commented on #81
@amanjmd Unassigning due to no response

[2022-01-23 07:45] knjk04 commented on #63
Hi @priya1712d, we only assign at most one issue at a time to new contributors (see https://project-books.github.io/docs/development/contributing/#new-contributors-assigned-to-at-most-one-issue-at-a-time in our contributing document). Once you've completed your currently assigned issue, if this issue is still available, you are free to work on this if you are still interested

[2022-01-23 07:46] knjk04 commented on #696
Hi @lrvignesh, it's still available. I'll assign you to it. Thanks!

[2022-01-23 20:04] priya1712d commented on #745
Hi @knjk04
Thank you for assigning the issue.

I am facing this issue while accessing DB
[HY000][1130] null, message from server: "Host '172.21.0.1' is not allowed to connect to this MySQL server". I am not connected to any VPN.

These are the logs I see in Docker.
MY-000061] [Server] 1105  Input Output error while reading file /data/application/init.sql, line 0, I/O error code 1

Could you help?

[2022-01-25 09:36] knjk04 commented on #745
Hi @priya1712d, what OS are you using?

[2022-01-25 09:40] priya1712d commented on #745
@knjk04 MacOS

[2022-01-25 09:56] knjk04 commented on #745
How did you start the database?

[2022-01-25 09:58] priya1712d commented on #745
I followed this section

Access database
To access the MySQL database when docker-compose is running:

Go to http://localhost:8081/
Log in with the details below:
Username: root
Password: rootpassword
Click on connect

[2022-01-25 10:21] #748 closed

[2022-01-25 12:50] #839 closed

[2022-01-25 12:56] knjk04 commented on #745
![image](https://user-images.githubusercontent.com/11173328/150980760-5118c2dc-af77-45eb-9bf1-b3491d58ed63.png)

I wasn't able to reproduce this, so it may be something on your end.

Are you using a new Mac with an Apple silicon chip? If so, did you uncomment this line: https://github.com/Project-Books/book-project/blob/0.2.0/backend/docker-compose.yml#L6?

[2022-01-25 18:43] knjk04 opened #871 "Verify that the BookDto has the required fields"
**Is your feature request related to a problem? If so, please describe.**

For simplicity, we assumed that the object being passed into the response is valid.

**Describe the solution you'd like**

Verify that the `BookDto` object being passed in has the required fields (title, author & predefined shelf): https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/ka

[2022-01-25 19:00] jackippolito4 commented on #871
I will take this up!

[2022-01-26 08:52] #772 closed

[2022-01-26 09:34] knjk04 opened #872 "Upgrade project to JDK 17"
**Describe the solution you'd like**
Upgrade project from OpenJDK 11 to OpenJDK 17

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main` and set `main` as the destination branch in your pull request

I

[2022-01-26 14:27] priya1712d commented on #745
@knjk04  Hey I was able to resolve that by creating a new init.sql in db folder, some reason it was not able to access it.

So, now I can access the DB, but not using IDE. I have the same error :(

[2022-01-26 17:08] RivaD2 commented on #764
@knjk04 I would be happy to take this one on!

![thumbs up](https://media.giphy.com/media/1ZkMDj88mQ1rO/giphy.gif)

[2022-01-26 20:10] vladimirr9 commented on #817
Hello, I'd maybe want to look more into practicing writing tests as well as help you out. The links seem broken on my side.

[2022-01-26 20:34] priya1712d commented on #745
@knjk04
All issues resolved. Apparently, I already had some version of MySql server running on my machine on the same port which was creating issues.

I have started working on this issue.

Approach:-

Step 1. Create a common method for post requests in HTTPClient.
Step 2. Call the create shelf API in ShelfModal.
Step 3. Show errors on modal or a message saying 'Shelf created successfully'.

Queri

[2022-01-27 00:50] gabrielronei commented on #871
Hi, can i take this one?

To solve this, i'm going to use `@Valid` from `javax.validation` on parameter of the controller to validate fields on BookDTO that i'm going to anotate with `@NotBlank` from `javax.validation.constraints` and with this, the controller will throw a BAD REQUEST if is invalid.

I think that i can finish it in an hour, to setup the project, add the validation and test.

[2022-01-27 02:26] jackippolito4 commented on #871
I would like to do this part I have been talking directly to knjk04 directly about it

[2022-01-27 11:41] knjk04 commented on #871
Thanks, @jackippolito4. I'll assign this to you

[2022-01-27 11:42] knjk04 commented on #871
Hi @gabrielronei, I'm afraid Jack asked first, but I'll be adding some more backend issues in due course

[2022-01-27 13:31] gabrielronei commented on #871
@jackippolito4 @knjk04 no problem guys, thank you for the answer :heart:

[2022-01-27 19:21] jackippolito4 commented on #871
@gabrielronei If you join the slack, we can communicate there and you can assist me

[2022-01-28 09:37] knjk04 opened #873 "Unable to find apollo client module with Docker"
**Describe the bug**

https://gist.github.com/knjk04/5f1d961acf1a12f5885d0139cbd6070a

In App.tsx, the @apollo/client module cannot be resolved. This may be due to the the module not getting installed correctly with yarn install.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the frontend directory
2. Run `docker-compose up`
3. See error

**Expected behaviour**

The module is install

[2022-01-28 09:52] knjk04 opened #874 "User not informed if password is not strong enough"
**Describe the bug**

If a user types in a strong password when trying to create an account, we should inform them that only very strong passwords are allowed. We should only show this error message (red text underneath the 'sign in' button, like our other error messages) when the user clicks on the 'Create account' button (or presses enter).

**To Reproduce**
Steps to reproduce the behaviour:
1.

[2022-01-28 09:56] knjk04 opened #875 "Blank password error shown when not blank"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/151525866-ac26ee4c-3448-4292-9ee2-88bf4b959639.png)

When the frontend passes in a non-blank email and password, the backend is returning a 'must not be blank' error message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to http://localhost:3000/sign-up
2. Enter in valid credentials (very strong password)

[2022-01-28 10:28] knjk04 opened #877 "Show email taken error message"
**Is your feature request related to a problem? If so, please describe.**
We currently do not show an error message when this fails, so a user may not know what is wrong (they are clicking the create account button but nothing is happening).

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/11173328/151530989-05fffc44-5605-4b4d-8d87-eb9cc590fa43.png)

If an e

[2022-01-28 10:31] knjk04 opened #878 "Make logout button text red"
**Describe the solution you'd like**

Current:

![image](https://user-images.githubusercontent.com/11173328/151531497-d35dc5d8-7b03-49f9-bfbf-27be21cbb84d.png)

Desired:

![image](https://user-images.githubusercontent.com/11173328/151531456-5cc31770-dafe-457c-8080-ae8256e6b509.png)

We would like the logout button text to be red and not bold, as in the image above (this should always be the case,

[2022-01-28 10:37] knjk04 opened #879 "Redesign navigation bar"
**Describe the solution you'd like**

Our current navigation bar:

![image](https://user-images.githubusercontent.com/11173328/151532004-47a8a5fd-103a-47d1-b68f-5c6d9cea54e1.png)

Desired:

![image](https://user-images.githubusercontent.com/11173328/151531976-05602c83-dcc7-45e9-b7a0-425443cdde11.png)

We would like our navigation bar to look like the image above. This includes:

- Showing a rectan

[2022-01-28 10:37] knjk04 commented on #878
Closing in favour of #879

[2022-01-28 10:37] #878 closed

[2022-01-28 10:40] #875 closed

[2022-01-28 10:46] knjk04 opened #880 "Create book overview page"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/151533411-c0964b22-362f-48b5-a584-0056dd0c6763.png)

Implement the mockup design as above. For now, we should hardcode all values (including the thumbnail image, the rating, book details, etc.).

This will be connected up later, but for now, a unique URL (localhost:3000/overview/1) where 1 represents

[2022-01-28 10:48] knjk04 opened #881 "Redesign the book stats page"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/151533938-51703204-f2e9-45b6-ba5e-dbdf1f8cccfe.png)

Redesign the book statistics page to look like the mockup above. For now, we should hardcode all the values (including the image thumbnails, as above).

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your imple

[2022-01-28 10:52] knjk04 opened #882 "Show book search results"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/151540891-d7908cb4-8c92-4549-8a5d-b99033688b84.png)

Show the book search results we get from our Books API (GraphQL server). It should look like the mockup above. For now, we can use the same image for all of the search results because we won't be able to retrieve the thumbnails from the backend, but

[2022-01-28 11:13] knjk04 opened #883 "Create add book modal"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/151536084-8d89e06a-b590-41ee-9204-5ed6e0211383.png)

When a user clicks on the add book button on the 'my books' page, we should show the modal above.

- Pressing cancel or the 'X' button should close the modal
- Clicking reset should reset all fields to their default state

- For now, we will assume

[2022-01-28 11:16] knjk04 opened #884 "Redesign add goal modal"
**Describe the solution you'd like**

Current add goal modal:

![image](https://user-images.githubusercontent.com/11173328/151537583-22d4cfe3-c77f-4221-a338-7d641cfcdce1.png)

To see this, go to localhost:3000/goal and click on the no goal set box.

We would like the add goal modal to look like the following:

![image](https://user-images.githubusercontent.com/11173328/151537549-c605b59b-c93c-407a

[2022-01-28 11:21] knjk04 opened #885 "Show name of book in my books"
**Describe the solution you'd like**

Currently:

![image](https://user-images.githubusercontent.com/11173328/151538149-1c269b21-f97a-4bed-9299-cfc1fbcb437c.png)

We would like to show the name of the book instead of a blank rectangle:

![image](https://user-images.githubusercontent.com/11173328/151538214-f9cdcf25-3fca-4ace-b542-ddf0061ca948.png)

![image](https://user-images.githubusercontent.com

[2022-01-28 11:27] knjk04 opened #886 "Redesign book placeholder in list view on my books page"
**Describe the solution you'd like**

Current design:

![image](https://user-images.githubusercontent.com/11173328/151539081-2003d429-9f10-4bd8-b715-396913de3bd1.png)

Desired:

![image](https://user-images.githubusercontent.com/11173328/151538902-690fe056-7231-4c21-a533-032f32a6bc0f.png)

The book thumbnails should be taller and we should show an ellipsis (3 dots: ...) rather than cutting off the

[2022-01-28 11:40] knjk04 commented on #882
@RivaD2 Would you be interested in picking up this issue?

[2022-01-28 11:45] knjk04 opened #887 "Create review modal"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/151541374-ce181477-2434-483a-bcc1-f9fe40df9146.png)

We should create a review modal that looks like the image above. Clicking on bold, italicise or strikethrough should apply the relevant formatting to the text until it is manually switched off. We should also have an emoji selector:

![image](https:

[2022-01-28 11:51] knjk04 opened #888 "Redesign view all button"
**Describe the solution you'd like**

Currently:

![image](https://user-images.githubusercontent.com/11173328/151542316-ed3df2b9-c874-4724-b386-f8e9fb2f5841.png)

Desired:

![image](https://user-images.githubusercontent.com/11173328/151542289-5b721a4b-c373-46dc-9c5c-f0c72ee4b026.png)
###

On the my books page, we should redesign the view all button to look the like above image. This should show fo

[2022-01-28 11:53] knjk04 commented on #817
Hi @vladimirr9, thanks for your interest in this. I've updated the links. Before I assign you, could you please come up with a list of what to test and let us know?

[2022-01-28 12:01] #763 closed

[2022-01-28 12:04] knjk04 commented on #764
@RivaD2 Would it be possible to look into #827 and #882 tickets, instead?

+1 for the amusing gifs (here and in your PRs)

[2022-01-28 12:06] knjk04 opened #889 "Update book to author relationship"
**Describe the solution you'd like**
As a book can have multiple authors and an author can have multiple books, we should update the relationship in Book.java to be many-to-many (a bridge table is also needed). You should also ensure that the fetch type is still lazy and we avoid lazy initialisation exceptions.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss

[2022-01-28 12:12] knjk04 opened #890 "Create statistics controller"
**Describe the solution you'd like**

We would like a statistics controller with endpoints to get
- the most liked book
- the least liked book
- the longest read book
- the most read genre (books that have been marked as 'read')
- average rating given to read books
- most liked genre
- average page length for read boks

If there are multiple books with the same rating or page length, take the firs

[2022-01-28 12:15] knjk04 commented on #757
@mslowiak Would you be interested in working on this?

[2022-01-28 12:15] knjk04 commented on #283
See #67

[2022-01-28 12:15] #283 closed

[2022-01-28 12:17] knjk04 commented on #304
No longer relevant

[2022-01-28 12:17] #304 closed

[2022-01-28 12:17] #628 closed

[2022-01-28 13:12] knjk04 opened #891 "Only use email service if profile is prod"
**Describe the solution you'd like**
We only want to use the email service if the current active profile is prod, not dev (we mock this for test).

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main`

[2022-01-28 16:28] RivaD2 commented on #764
@Karan, you got it! I will take a look at the two issues above and see which one I should tackle first 👍

[2022-01-28 16:52] RivaD2 commented on #882
@knjk04, yes I would be happy to take this one on 👍

My approach here would be continuing to build off of my last PR (Issue #772). I should map over the `data` returned from the GraphQL query and render it (I already set the component up for this).

 I will use CSS grid and build a responsive layout similar to the layout I built for our list view ( I think flexbox could work nicely here too). I ca

[2022-01-28 17:07] gabrielronei commented on #891
Hey @knjk04, can i take this one?

So for it, i'm going to create a Interface with the method to send the email and make two implementations, one is EmailService and the other is FakeEmailService and anotate with `@Profile` to make spring know which one he is going to inject.

[2022-01-28 18:46] knjk04 commented on #882
Sounds good, thanks!

I don't think we need this as a separate component right now, but it's a good idea

I'll ask Braja (the person working on the mockups) for the image and I'll email the link over. Yes, we can ignore the filter button for now (I should have mentioned that!)

[2022-01-28 19:01] knjk04 commented on #891
Hi @gabrielronei,

I've updated the issue description. We can ignore the test profile because we're mocking the email service for that, so I don't think we'll need to create a fake email service.

One workaround we are using is here where we check the active environment: https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/account/UserCo

[2022-01-28 19:09] gabrielronei commented on #891
Oh @knjk04, i think that i've made a mistake on my explanation, the workaround to ignore this **if(environment...)** is to use the annotation `@Profile` on EmailService, and the spring will inject only on prod mode.
I can do a simple version for you to see and check if you approve.

[2022-01-28 19:40] knjk04 commented on #891
That sounds good, thanks. I'll assign you to this

[2022-01-28 19:44] RivaD2 commented on #882
@knjk04 I assigned myself to the ticket 👍  ( I forgot I could do that :)).

[2022-01-28 20:18] Ashu5 commented on #884
Hi @knjk04 Can I take this up?

[2022-01-28 22:07] JustinStrik commented on #879
Can I pick up this issue?

[2022-01-29 03:58] OrlundoHubbard commented on #888
@knjk04 I'd like to work on this issue.

[2022-01-29 06:32] knjk04 commented on #884
Hi @Ashu5, thanks for your interest. How long do you think it will take you to complete this?

[2022-01-29 06:32] knjk04 commented on #879
Hi @JustinStrik, thanks for your interest. How long do you think it will take you to complete this?

[2022-01-29 06:33] knjk04 commented on #888
@OrlundoHubbard thanks for your interest. How long do you think it will take you to complete this?

[2022-01-29 18:19] OrlundoHubbard commented on #888
I can have it done in a day or so.

[2022-01-29 18:20] OrlundoHubbard commented on #888
@knjk04

[2022-01-29 18:31] knjk04 commented on #888
@OrlundoHubbard Thanks, I'll assign you to this

[2022-01-29 19:10] OrlundoHubbard commented on #888
thanks! @knjk04

[2022-01-29 19:26] RivaD2 commented on #882
@knjk04
Last two questions for now:

Will I be using same query to show book results (`findByTitleIgnoreCase()`)?

Do we already have books in the database? I see the model in Book-API but can't seem to locate the books.

[2022-01-29 19:53] samspecial commented on #883
Glad the design for the add-book feature is finally out and I am interested in bringing this to reality @knjk04

[2022-01-30 09:38] knjk04 commented on #883
Thanks, @samspecial. How long do you think this will take you?

[2022-01-30 10:04] knjk04 opened #893 "Unable to find the ModelMapper class"
**Describe the bug**

![image](https://user-images.githubusercontent.com/11173328/151695263-b7393a04-1881-4ab6-9271-fd437eaea24d.png)

When the steps above (from the README) are followed, I get a NoClassDefFound error from ModelMapper. This results in not being able to initialise and run the main class.

![image](https://user-images.githubusercontent.com/11173328/151695246-cf0b22d3-2dc7-410a-9480-

[2022-01-30 18:19] knjk04 opened #902 "Upgrade react-scripts to 5.0.0"
**Is your feature request related to a problem? If so, please describe.**
react-scripts@4.0.1 depends on various packages that have security flaws.

**Describe the solution you'd like**
Upgrade react-scripts@4.0.1 to react-scripts@5.0.0.

There may be some breaking changes, so take a look at the [changelog](https://github.com/facebook/create-react-app/blob/main/CHANGELOG.md).

**Additional context

[2022-01-30 18:33] lrvignesh commented on #696
Hi, Just an update -
I have been taking a look at the project this week to understand it a bit more. Got some basic understanding to proceed on this feature.

Your latest comment on this - _"Could we have it so that instead of showing every book in every shelf, we have an array of books, which each contain a list of the predefined and user-created shelves inside it? My thinking is that this could

[2022-01-30 21:21] OrlundoHubbard commented on #888
@knjk04 where can I find the code for this "view all" button? Which component is it in?

[2022-01-31 06:42] knjk04 commented on #888
Here it is: https://github.com/Project-Books/book-project/blob/main/frontend/src/shared/book-display/ShelfCarousel.tsx#L86

[2022-01-31 06:57] knjk04 commented on #696
Agreed, a book can be in exactly one predefined shelf only but in any number (0 or more) of user-defined shelves .

[2022-01-31 07:18] knjk04 opened #905 "Make Book to UserCreatedShelf relationship many-to-many"
**Describe the solution you'd like**
Make the [Book](https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/model/Book.java) to [UserCreatedShelf](https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/shelf/model/UserCreatedShelf.java) relationship many-to-many.

You should also e

[2022-01-31 09:37] samspecial commented on #883
2 days

[2022-01-31 15:12] OrlundoHubbard commented on #888
@knjk04 ah ok thank you.

[2022-01-31 15:13] GrahamKirwan commented on #874
@knjk04 Can I take this? Can have it completed today

[2022-01-31 20:35] OrlundoHubbard commented on #888
@knjk04 how are the dependencies supposed to be run? What's the command? I get the below error when running `npm install -g yarn`
<img width="661" alt="Screen Shot 2022-01-31 at 2 33 30 PM" src="https://user-images.githubusercontent.com/88997637/151868813-451cd29e-8c1f-4f21-87a2-d88bcccfbd84.png">

[2022-02-01 06:50] knjk04 commented on #874
@GrahamKirwan sure, thanks!

[2022-02-01 19:30] lrvignesh commented on #696
Hi @knjk04
I have been taking a look at the data model and can see that the table user_created_shelf and book are not currently setup to handle Many to Many as we would like it to be and as you have told above.

i.e table book has a single field for user_created_shelf_id and table user_created_shelf doesn't have any mapping to book. So a book can sit only in one user created shelf atm.

1. Should

[2022-02-01 20:43] samspecial commented on #883
I am currently in the middle of a task which might hinder me from not working on this immediately.
Kindly let me know if this seats well with you

[2022-02-02 16:55] Ashu5 commented on #884
Hi @knjk04 1 day of effort is fine. So I can complete it by 04 Feb.

[2022-02-02 19:44] knjk04 commented on #888
@OrlundoHubbard What commands did you follow to start the frontend?

You can try

`yarn install`

to install the dependencies, followed by

`yarn start`

to run the app. (This is instead of running `docker-compose up`).

If that doesn't work, it may be something specific on your machine

[2022-02-02 19:45] knjk04 commented on #883
@samspecial That's fine, do you know roughly when you would be able to start working on this?

[2022-02-02 20:41] brunbs commented on #905
Hi, I'd like to help with this if you still want. But I need some directions: should I fork it first then find a solution and then discuss the implementation? Or do I discuss the implementation first, get assigned to and just then fork the project?

[2022-02-03 09:40] samspecial commented on #883
I should commence in the new week - 7th February 2022 to be precise

[2022-02-05 18:26] knjk04 commented on #905
Hi @brunbs, thanks for offering to help with this.

Either is fine, but I'd recommend the former:

The purpose of this is so that we can discuss early on whether that's the best approach (and perhaps alternative approaches that may be better) before you go off and actually implement the solution to save you time (and in case your solution is not what we were looking for).

[2022-02-05 18:49] #745 closed

[2022-02-05 19:07] #874 closed

[2022-02-05 19:09] knjk04 commented on #883
That's fine, thanks for the update!

[2022-02-05 19:09] knjk04 commented on #813
@Kalshone How are you getting on with this?

[2022-02-05 19:11] knjk04 commented on #696
Hi @lrvignesh, thanks for picking up on this. I should have mentioned that sooner. We have an open ticket for this: https://github.com/Project-Books/book-project/issues/905

[2022-02-05 19:20] RivaD2 commented on #882
@knjk04 Do you have any updates on the above? ( I know you are super busy 👍  I wanted to follow up on this so I can work on it soon) 👍

[2022-02-05 19:25] knjk04 commented on #882
@RivaD2 Thanks for following up. Sorry, I thought I responded to this.

Yes, it'll be the same query.

We have books in our test database. The books we have in this script are the ones you should see if you search for them: https://github.com/Project-Books/books-api/blob/main/src/main/resources/db/migration/V23__INSERT_BOOKS.sql.

[2022-02-05 19:35] RivaD2 commented on #882
I tried making the query last week but I remember that it was not returning any books. Just to confirm, the graphql endpoint is still the same and I don't need to hit any other endpoints to return the books right?

 The query should just return the books from my understanding.

[2022-02-05 19:48] knjk04 commented on #882
It should be the same:

![image](https://user-images.githubusercontent.com/11173328/152656618-de3077b6-6b0b-41cd-8b40-74a38098366d.png)

If it doesn't work for you, perhaps check the logs to see if you encountered any errors. If no errors, you can check the database to check that you do have data in there. Let me know if you need a hand with any of this

[2022-02-05 20:53] priya1712d commented on #893
@knjk04
Hello! Could I help with this?

[2022-02-05 20:57] priya1712d commented on #885
@knjk04 Hi!
I would like to work on this.

[2022-02-06 06:29] knjk04 commented on #893
Hi @priya1712d, thanks for offering to help again! I'll assign you to this

[2022-02-06 06:30] knjk04 commented on #885
@priya1712d Thanks!

[2022-02-06 06:36] knjk04 opened #907 "Can't resolve @apollo/client with Docker"
**Describe the bug**

The frontend fails to compile when I try to start it with Docker. It is not able to find the @apollo/client module.

https://github.com/Project-Books/book-project/blob/main/frontend/src/shared/http/HttpClient.ts#L23

**To Reproduce**
Steps to reproduce the behaviour:
1. Go the frontend directory
2. Run docker-compose up
3. See error

**Expected behaviour**

The frontend compi

[2022-02-06 07:12] #873 closed

[2022-02-06 07:12] #907 closed

[2022-02-06 07:27] knjk04 commented on #209
as Docker is our recommended approach

[2022-02-06 07:27] #209 closed

[2022-02-06 07:33] knjk04 opened #909 "Unable to find app.jar"
**Describe the bug**

When running the backend with Docker, I get 'Error: unable to access jarfile app.jar'

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

It should be able to find the app jar file (book-app).

**Additional context**

Error: https://gist.github.com/knjk04/9bb26824e6c2e9af98bc77ac7

[2022-02-06 09:25] knjk04 commented on #909
Blocked by #893

[2022-02-06 09:50] knjk04 commented on #872
JDK 17 not yet supported by Flyway: https://flywaydb.org/documentation/getstarted/firststeps/maven

[2022-02-06 10:12] knjk04 opened #911 "Migrate from MySQL to PostgreSQL"
**Is your feature request related to a problem? If so, please describe.**
Using Postgres for the Books API and MySQL here.

**Describe the solution you'd like**
For consistency, it would be good if we use Postgres for both the Books API (which currently does) and the Book Project (we currently use MySQL here).

Benefits:
- Easier to maintain (e.g. Dockerfiles) when we're using Postgres for both pr

[2022-02-07 19:31] RivaD2 commented on #882
@knjk04 I have a question regarding the layout. For now, when I search by author, it is not working. Do we have the query set up for this? If I search by title, that works fine.

Currently, at most, only 1 book will show. I type in  the name of one book into the searchbar and it returns that one book. If we were to search by authors, then that could potentially show more one.

[2022-02-08 07:49] knjk04 commented on #871
@jackippolito4 How are you getting on with this?

[2022-02-08 17:45] RivaD2 commented on #882
@knjk04 How many books do we have in the DB? Is it 4?  It looks like we have 4 books, all with different titles and authors but with the same isbn #'s.

Currently, if I type in the title of one of the books into the search bar, I get that 1 book back which is great!

However, my blockage right now is figuring out a way to get all books showing from the database using one query.

Currently, the way

[2022-02-12 08:04] knjk04 commented on #813
@Kalshone Unassigning due to no response

[2022-02-12 08:05] knjk04 commented on #888
@OrlundoHubbard How are you getting on with this?

[2022-02-12 08:05] knjk04 commented on #696
Hi @lrvignesh, how are you getting on with this?

[2022-02-12 08:06] #891 closed

[2022-02-12 08:49] knjk04 opened #912 "Proxy error: Could not proxy request /api/shelf/books/read from localhost:3000 to http://localhost:8080."
**Describe the bug**

When running the frontend in a docker container, I get a proxy error:

[code]

Log: https://gist.github.com/knjk04/0d7e7dca7fb1394030b707a60c60580c

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the frontend using Docker (see instructions in the README)
2. Log in with the test user credentials
3. Inspect network tab
4. Go to list view
5. See error

**Expected beha

[2022-02-12 11:32] knjk04 commented on #882
@RivaD2 That's right, we currently have 4 (this is just in the test database, I'm looking to add more once I've sorted out some other issues with cloud providers).

I'll need to change findByTitleIgnoreCase to return an array. I can also look to add some more books with the same name so we can test this properly (I've made a new GitHub issue ticket for this: https://github.com/Project-Books/books-

[2022-02-12 17:07] #893 closed, assigned to priya1712d

[2022-02-12 17:11] #909 closed

[2022-02-12 17:45] RivaD2 commented on #882
@knjk04 sounds good! I will go ahead and update the component to show 8 books as requested.

 I believe I don't have access to the `cover` yet/thumbnails (as mentioned in issue) and the issue says to use same image for all books for now so I will see what I can find there. 👍

[2022-02-12 19:08] RivaD2 commented on #882
@knjk04 I followed the instructions on the repo for running the database and running the backend. I am getting an error: ` message from server: "Host '172.20.0.1' is not allowed to connect to this MySQL server"`.

I am not sure where the ip is coming from etc. so perhaps you can take a look at recent changes 👍

[2022-02-12 19:11] mslowiak commented on #757
Yes, I will take care of that ticket

[2022-02-12 19:24] knjk04 commented on #757
@mslowiak Thanks a lot!

[2022-02-13 02:30] priya1712d commented on #912
Hi @knjk04
Could I work on this?
:)

[2022-02-13 11:55] knjk04 opened #917 "Use Testcontainers instead of h2 for integration tests"
**Describe the solution you'd like**
Use Testcontainers instead of h2 for integration tests so that we are actually using a PostgreSQL database.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main` an

[2022-02-13 12:34] knjk04 opened #918 "Remove duplicated interface"
**Is your feature request related to a problem? If so, please describe.**
Two ExcludeFromJacocoGeneratedReport.java files exist: [in book-app](https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/ExcludeFromJacocoGeneratedReport.java) and in the [email-service](https://github.com/Project-Books/book-project/blob/main/backend/email-service

[2022-02-13 13:09] #911 closed

[2022-02-13 13:13] knjk04 commented on #882
@RivaD2 Someone else recently encountered the [same issue](https://github.com/Project-Books/book-project/discussions/870#discussioncomment-2152141). I've migrated us from MySQL to PostgreSQL, so try the new instructions in the README and let me know if it's still not working (if you see any flyway issues in the backend, you can try running `./mvnw flyway:clean`

[2022-02-13 14:20] knjk04 opened #919 "Fix backend not running in Docker"
**Describe the bug**

[code]

When I run `docker-compose up`, the database starts fine but the backend is not able to start because it cannot find model mapper.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the backend/book-app directory
2. Run docker-compose up
3. See error

**Expected behaviour**

Backend container runs.

**Additional context**

- Read our contributing guidelines

[2022-02-13 16:13] #885 closed

[2022-02-13 18:29] RivaD2 commented on #882
@knjk04  Hi there!

I used the repo instructions in the readme prior to my last message but I am still getting errors. There are two errors occurring, one for `running the database` , the other for `running the backend`.  The repo instructions for `running the db`  asks for users to:
 - Navigate to the [backend/](https://github.com/Project-Books/book-project/tree/main/backend)[](https://github.com

[2022-02-13 19:30] lrvignesh commented on #696
Hi @knjk04, Sorry, been busy lately so it took more time than I anticipated.
I have raised a PR now for review .

[2022-02-14 06:56] knjk04 commented on #882
You're right, I've corrected the instructions in the readme. Let me know if the issue still persists with postgres

[2022-02-14 06:57] knjk04 commented on #883
Hi @samspecial, how are you getting on with this?

[2022-02-14 07:00] knjk04 opened #921 "Add bot to close PR and label as stale"
**Is your feature request related to a problem? If so, please describe.**
Closing a stale pull request is currently a manual process, which is tedious.

**Describe the solution you'd like**
Close a pull request and label it as stale if we do not hear back from the person who created the PR within 14 days from when they raised a PR. This should not apply to draft PRs.

**Additional context**
- Be s

[2022-02-14 07:04] knjk04 opened #922 "Add bot to follow up on assigned issue"
**Is your feature request related to a problem? If so, please describe.**
Following up on an assigned issue 7 days after it was assigned is currently a manual process, which is tedious and error-prone (we have to remember to follow up).

**Describe the solution you'd like**
If the assigned user has not commented on the issue or created a PR within 7 days of when we assigned them to the issue, we s

[2022-02-14 07:08] knjk04 opened #923 "Add bot to unassign issue"
**Is your feature request related to a problem? If so, please describe.**
 Unassigning an unresponsive assignee from an issue 7 days after we have followed up is currently a manual process, which is tedious and error-prone (we have to remember to unassign them).

**Describe the solution you'd like**
7 days after our bot (see #922) has followed up on the issue, if we have still not heard back from

[2022-02-14 07:16] knjk04 commented on #921
We can use the [Stale bot](https://github.com/marketplace/stale) for this

[2022-02-14 07:35] samspecial commented on #883
@knjk04 I'll be starting today. Apologies for not updating you before now.

I will give an update later in the day

[2022-02-14 08:58] knjk04 opened #925 "Create endpoint to check if email exists"
**Is your feature request related to a problem? If so, please describe.**
When we log in on the frontend, we ask for the email and password together. If we ask for them separately, we can provide a nicer user experience by letting the user know which (out of email and password) field they typed in was incorrect

**Describe the solution you'd like**
Create an endpoint in the [UserController](https:

[2022-02-14 11:48] kuruvasatya commented on #925
Hi @knjk04, I would love to work on this please assign me this issue.

[2022-02-14 16:20] Girish-Bharadwaj commented on #813
Hello! I would like to work on this issue

[2022-02-14 17:16] RivaD2 commented on #882
@knjk04 Here is an update:

- In the `/book-app` directory, I ran `docker-compose up -d` vs `docker-compose up -d db`  and it worked fine (if I run the latter command, I get: `ERROR: No such service: db`
- Then I navigated to `/backend` and followed instructions in readme to run the backend and I am still getting the same error message as mentioned previously: `"Host '172.20.0.1' is not allowed to

[2022-02-14 17:32] knjk04 commented on #813
Hi @Girish-Bharadwaj, thanks for offering to help with this! I'll assign you to it. I've updated the issue description to match the same as the latest mockup designs

[2022-02-14 17:40] knjk04 commented on #882
@RivaD2 Have you merged the latest changes from `main` into your branch? If you're still running into this issue, could you please create a draft PR and I can take a look further

[2022-02-14 17:50] knjk04 commented on #925
Hi @kuruvasatya, thanks!

[2022-02-14 18:00] RivaD2 commented on #882
@knjk04 When I first reported errors, I had already pulled all changes in. Now after doing another pull/getting branch even with main, I am still hitting errors after I try to start the application with the `jar` file. I also  tried running:`./mvnw flyway:clean` again (but no success).

I have created a draft so you can take a look.  👍

[2022-02-14 18:10] knjk04 opened #927 "Move model package inside book package"
**Describe the solution you'd like**
Move our [model ](https://github.com/Project-Books/book-project/tree/main/backend/book-app/src/main/java/com/karankumar/bookproject/model) package inside the [book](https://github.com/Project-Books/book-project/tree/main/backend/book-app/src/main/java/com/karankumar/bookproject/book) package.

You may encounter a query syntax exception (see https://gist.github.

[2022-02-14 18:15] knjk04 commented on #881
Duplicate of #813

[2022-02-14 18:15] #881 closed

[2022-02-14 18:58] priya1712d commented on #923
Could I work on this?

[2022-02-14 19:01] priya1712d commented on #922
Or probably this one first!

[2022-02-15 07:44] Girish-Bharadwaj commented on #813
Hello @knjk04
Here is the image link of the page on how it looks. If it's ok I will create a PR.
https://ibb.co/kx507jq

[2022-02-15 11:41] kuruvasatya commented on #925
hey @knjk04, Thanks for assigning this to me, I hope I have completed the task, I raised a PR, please review it and let me know if any thing else is needed/changed.

[2022-02-15 13:05] TaeyeonRoyce commented on #927
Hi, I'm a student who studies programming(Java, Spring).
I'm recently finding open source to contribute and I want to do about this issue.
I might be insufficient to solve this issue, but I want to fork this project and analyze codes to try it.
I already read contribution docs. Please let me try this issue.

[2022-02-15 17:38] #919 closed

[2022-02-15 17:58] knjk04 commented on #918
Hi @poshi1865! Thanks for offering to help with this, I'll assign you to it!

We are using the `ExcludeFromJacocoGeneratedReport` annotation (e.g. here: https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/main/java/com/karankumar/bookproject/account/auth/listener/AuthenticationBadCredentialsListener.java#L29). Perhaps try searching for `ExcludeFromJacocoGeneratedReport` ra

[2022-02-15 18:09] knjk04 opened #931 "One docker-compose for project"
**Is your feature request related to a problem? If so, please describe.**
We currently have to navigate to the frontend directory to start the frontend container and then navigate to the backend directory to the backend container. We also need an extra two commands.

**Describe the solution you'd like**
It would be a better developer experience if we kept two separate Dockerfiles (one for the fron

[2022-02-15 18:50] knjk04 commented on #813
Hi @Girish-Bharadwaj, this looks good so far! Here are a couple of thoughts on how you can get this even closer to the mockups:

- Centre the 'Statistics' header (if you could get this to work for all pages as well, that would be great!)
- Only capitalise the first word in the three book boxes ('Most Liked Book' would become 'Most liked book', etc.)
- Remove the shadow behind the book covers
- Add

[2022-02-15 19:22] priya1712d commented on #922
Hey @knjk04 !
Do you recommend any framework for this?

[2022-02-15 19:29] #931 closed

[2022-02-16 02:03] jaymeriegel commented on #918
Hi @knjk04 and @poshi1865,

I really enjoyed the project and will try help with futures issues.
In this one in particular, the best would not be to create a module "commons" to put classes, enums, interfaces, etc... common to the project?

thanks

[2022-02-16 06:18] knjk04 commented on #918
@jaymeriegel That's a good idea

[2022-02-16 06:40] knjk04 commented on #871
@jackippolito4 Unassigning due to no response

[2022-02-16 06:40] knjk04 commented on #871
@gabrielronei Are you still interested in helping with this?

[2022-02-16 06:46] knjk04 commented on #922
Hi @priya1712d, there are some good [Probot](https://probot.github.io/) apps that may work. One option I found was this reminder bot: https://probot.github.io/apps/reminders/

[2022-02-16 09:16] poshi1865 commented on #918
Hi @jaymeriegel, thanks for the suggestion! Also @knjk04 my approach that I am planning to implement is to declare a dependency to the book-app module in email-service and then we can use the interface from book-app in email-service through a normal import. Another approach can be to create a separate module called commons as @jaymeriegel pointed out. What do you think?

[2022-02-16 17:36] knjk04 commented on #918
Hi @poshi1865, let's go with the commons module. Thanks!

[2022-02-16 18:44] jaymeriegel commented on #889
Heey @knjk04,
I would like to work on this issue!

[2022-02-17 08:01] poshi1865 commented on #918
@knjk04 I have made a pull request, please review and let me know if everything looks alright.

[2022-02-17 12:53] TaeyeonRoyce commented on #927
Hi @knjk04, I solved this issue (move model package inside book package) and I'd like to say about how I solved this.
First, move model package inside book package. As you noticed, it causes "com.karankumar.bookproject.model.PredefinedShelfName.READ".
So I fixed JPA query where in method "findReadShelf2" which approaches to PredefinedShelfName.

After work, I run all test and passed except for the

[2022-02-17 19:58] priya1712d commented on #922
Yes, sure! feel free to tag me to other interesting backend issues or new frontend features! :)

[2022-02-17 20:13] priya1712d opened #935 "'Connecting to Backend' link is broken in documents"
**Describe the bug**

'Connecting to Backend' link is broken in documents

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to ReadMe.md
2. Click on _Connecting to Backend_
4. See error

**Expected behaviour**

It should open this link https://project-books.github.io/docs/development/how-to/backend-postman/

**Screenshots**

<img width="1234" alt="Screenshot 2022-02-17 at 21 10 22" src="ht

[2022-02-17 20:43] priya1712d opened #936 "Content is dripping out of tiles in List view"
**Describe the bug**
Content is dripping out of tiles in List view

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the application
2. Go to list view

**Expected behavior**
Name of the book should be visible properly

**Screenshots**
<img width="1255" alt="Screenshot 2022-02-17 at 21 41 09" src="https://user-images.githubusercontent.com/29104924/154567498-7006fce4-7aaa-4f59-b1e1-e3

[2022-02-18 06:14] TaeyeonRoyce commented on #935
I also encounter same error.
Link from README to contributing document also has same errors.

You can approach to link after some url changes.

Before :
https://project-books.github.io/docs/development/how-to/backend-postman/

After :
https://project-books.github.io/development/how-to/backend-postman/

I'm just a student and my opinion is not official.

[2022-02-18 06:29] knjk04 commented on #935
Thanks @priya1712d and @TaeyeonRoyce! Would one of you like to submit a PR for this?

[2022-02-18 06:30] knjk04 commented on #883
@samspecial How are you getting on with this?

[2022-02-18 06:37] knjk04 commented on #936
Hi @priya1712d, thanks for bringing this up!

We have an issue for this: #886

[2022-02-18 06:37] #936 closed

[2022-02-18 06:38] knjk04 commented on #886
@priya1712d Would you be interested in working on this?

[2022-02-18 08:51] priya1712d commented on #886
sure!

[2022-02-19 00:13] priya1712d commented on #902
Hello @knjk04 !
Could I can pick this up?

[2022-02-19 00:15] priya1712d commented on #81
Could I work on this one?

[2022-02-19 14:45] Girish-Bharadwaj commented on #813
@knjk04
I have worked on the design changes mentioned. Here is the link for the image
https://drive.google.com/file/d/1wNsY6eJFALFFWm1gqg6NLN6zpv3lhRjI/view?usp=sharing

I tried to center the Statistics heading but it will change the layout in the my-books component. So I thought we should pass
the style or condition as a prop to the Layout component. Since I am new can you help out in any other w

[2022-02-19 16:02] PalAditya opened #939 "Contributing.md has broken link"
**Describe the bug**

The link to Contribution documentation in [Contributing.md](https://github.com/Project-Books/book-project/blob/main/CONTRIBUTING.md) seems broken. It points to https://project-books.github.io/docs/development/contributing/ but should probably point to https://project-books.github.io/development/contributing/

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to  [Contr

[2022-02-19 16:03] PalAditya commented on #939
Sorry, appears to be a duplicate of https://github.com/Project-Books/book-project/issues/935. Closing in favour of that

[2022-02-19 16:28] knjk04 commented on #939
Hi @PalAditya, thanks for noticing this and bringing this up! I've assigned you to this (the other issue is to do with a different broken link -- we've recently changed lots of links!)

[2022-02-19 16:29] #939 closed

[2022-02-19 16:37] #912 closed

[2022-02-19 16:38] #935 closed

[2022-02-19 16:47] knjk04 opened #947 "Frontend not able to connect to talk to backend"
**Describe the bug**

I am able to log in on the frontend, but the other endpoints are failing. Error message:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app
2. Log in with the test user credentials (you can find the credentials in the README)
3. See the error

**Expected behaviour**

A list of books should show in the shelf and list view.

**Screenshots**

![image](htt

[2022-02-19 16:48] knjk04 commented on #902
Hi @priya1712d, thanks again!

[2022-02-19 16:49] knjk04 commented on #81
@priya1712d Would you instead be interested in working on #947, as you have already looked into that?

[2022-02-19 16:58] priya1712d commented on #947
yes! feel free to assign this to me

[2022-02-19 19:32] #696 closed

[2022-02-19 19:35] knjk04 commented on #813
Hi @RivaD2, is it possible for us to make a page component that all of our pages can inherit from that has a centred heading, like in the screenshot in the issue description?

[2022-02-20 10:02] knjk04 opened #950 "Check for broken links in README, contributing and Code of Conduct"
To ensure we are correctly linking to our own [documentation site](https://project-books.github.io/), where we do update links frequently, we should find a way to routinely check for any broken links. One possible approach would be to find a way using GitHub actions.

We want this to run regularly (e.g. once a day). However, we don't want this to be triggered on every commit (too frequent and this

[2022-02-20 10:03] knjk04 commented on #888
@OrlundoHubbard Unassigning due to no response

[2022-02-20 10:04] knjk04 commented on #757
@mslowiak How are you getting on with this?

[2022-02-20 10:09] knjk04 commented on #950
See https://github.com/gaurav-nelson/github-action-markdown-link-check

[2022-02-20 10:10] knjk04 opened #951 "Move project status to 'to do' when unassigned"
When we unassign someone from an issue, the project status should move from 'in progress' back to 'to do'

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main` and set `main` as the destination branch

[2022-02-20 10:11] knjk04 opened #952 "Move status to 'in progress' after assigning someone"
After we assign someone to a GitHub issue, the status of the issue should automatically move from 'to do' to 'in progress' in the GitHub project

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main` an

[2022-02-20 10:12] knjk04 commented on #884
Hi @Ashu5, sorry, I missed this. Are you still interested in working on this?

[2022-02-20 12:44] knjk04 commented on #921
See https://github.com/Project-Books/book-project/commit/f4f61b4f82bcfff9a9001259cf0868db627a7691

[2022-02-20 12:44] #921 closed

[2022-02-20 12:52] knjk04 commented on #950
Implemented in https://github.com/Project-Books/book-project/commit/3794dfd0582ef594f3acd698b76e1bc89a36de54

[2022-02-20 12:52] #950 closed

[2022-02-20 12:53] #927 closed

[2022-02-20 12:54] knjk04 commented on #922
Added

[2022-02-20 12:54] #922 closed

[2022-02-20 13:36] knjk04 commented on #458
@tw-ayush I'm so sorry, I missed your message again. I didn't get notified for some reason.

I think the language table is a good idea.

[2022-02-21 09:30] samspecial commented on #883
I have been ill lately, just got back to work. This is why I have not responded since Friday.

Currently clearing my table, I will share screenshot by tomorrow as I might not be able to work on it today.

Sincere apologies.

[2022-02-21 11:00] poshi1865 commented on #888
@knjk04 may I please take this up?

[2022-02-21 18:10] knjk04 commented on #888
@poshi1865 Sure, thanks again!

[2022-02-21 18:11] knjk04 commented on #883
@samspecial No problem at all, I'm glad to hear you're better now (or I hope you get better soon)!

[2022-02-21 18:17] poshi1865 commented on #888
![Read1](https://user-images.githubusercontent.com/63964405/155008396-1e1a8a83-0451-4c89-914b-a4098edd9193.png)
![Read2](https://user-images.githubusercontent.com/63964405/155008426-2a64bab9-e770-474b-995c-6043af3517f0.png)

@knjk04 do these look alright?

[2022-02-22 07:16] knjk04 commented on #888
![image](https://user-images.githubusercontent.com/11173328/155081428-41701002-636d-4ab6-8afc-abbabc8b48b8.png)

@poshi1865 It looks good so far! Is there a way to ensure the bubble always aligns with the top of the shelf name (see the above picture)?

[2022-02-22 07:56] poshi1865 commented on #888
@knjk04 Do you mean that the bottom of the shelf name should align with the bottom of the bubble? Or should there be an equal amount of "bubble" on the top and bottom of the grid lines?

[2022-02-22 08:04] #902 closed

[2022-02-22 08:08] poshi1865 commented on #888
![1 px](https://user-images.githubusercontent.com/63964405/155089216-569f8395-5bf6-48a9-9094-f7dc6c2a8c90.png)

@knjk04 Maybe this is better?

[2022-02-22 08:09] knjk04 commented on #888
I agree, that looks good. Thanks!

[2022-02-22 08:29] poshi1865 commented on #888
@knjk04 I've created a pull request for this, please review and let me know if everything is fine.

[2022-02-23 05:50] mayanksony commented on #879
Is this issue still open?
Can I contribute?

[2022-02-23 05:53] mayanksony commented on #884
can i contribute?

[2022-02-23 18:11] anugrahsinghal commented on #917
hey! Can I take this up?

[2022-02-23 19:07] knjk04 commented on #879
/remind me in 7 days

[2022-02-23 19:09] knjk04 commented on #884
@mayanksony We only assign at most one issue at a time to new contributors (see our contributing document). However, once your PR for the other issue is merged, you can then work on this if it's still available and you're still interested. Thanks!

[2022-02-23 19:38] #888 closed

[2022-02-25 17:55] samspecial commented on #883
Hi @knjk04 I am currently having issues writing my code to adapt to what is obtainable in the project repo. I have no worked with TypeScript before this time. I would love to request you avail me this weekend to go through the rudiment and basic of TypeScript needed to come up with the implementation as I have gone to buy Maximilian Schwarzmüller which I trust will facilitate me learning

[2022-02-25 21:25] anugrahsinghal commented on #917
How I am thinking to approach the solution

For the Integration tests, I see two custom annotations are made.
With these annotations, we can use the @TestContainer annotation too so we won't need it for each class

As for setting up the test container for each test class, we can do that using the `@BeforeAll` setup

we need not replicate the setup in each class, we can make a separate `class DBSet

[2022-02-27 17:55] knjk04 commented on #917
@anugrahsinghal That sounds good, feel free to go ahead with this. Thanks!

As a heads-up (you may already know this), we will need to keep this tag: https://github.com/Project-Books/book-project/blob/main/backend/book-app/src/test/java/com/karankumar/bookproject/integration/ReadingGoalControllerIntegrationTest.java#L48 for the test in the integration package

[2022-02-27 17:57] knjk04 commented on #883
Hi @samspecial, would it be OK if I assign you to #884 instead? It would be good if we can get this particular issue implemented soon because it would allow us to test and release quicker

[2022-03-01 13:44] anugrahsinghal commented on #917
hey @knjk04, what version of Postgres have you tested the project with?

I am facing some issues
One of them being

  Detail: Failing row contains (null, 0, 1).

I suspect it is due to Postgres versions due to info [here](https://stackoverflow.com/questions/70249351/error-null-value-in-column-id-of-relation-xxx-violates-not-null-constraint)

I am currently using Postgres:12 for my tests.

[2022-03-02 23:35] mslowiak commented on #757
Sry for late response, still in progress

[2022-03-03 17:02] samspecial commented on #884
@knjk04 You can go ahead to add me to this

[2022-03-07 18:01] knjk04 commented on #879
Hi @mayanksony, how are you getting on with this?

[2022-03-07 18:01] knjk04 commented on #889
Hi @jaymeriegel, how are you getting on with this?

[2022-03-07 18:02] knjk04 commented on #917
We're using Postgres 14 (see https://github.com/Project-Books/book-project/blob/main/docker-compose.yml#L16)

[2022-03-07 18:37] #947 closed

[2022-03-07 19:24] jaymeriegel commented on #889
Hello @knjk04, sorry for not answering, I had some issues. This week I will finish the task!

[2022-03-08 03:40] RivaD2 commented on #813
Hi there! It is indeed :)

`Layout.tsx` is handling the Layout for components. This how many of the pages are inheriting a specific layout. `Layout.tsx` takes in `LayoutProps`, and that type (see bottom of `Layout.tsx` file) has a property called`centered` which is a boolean.

To get your page to have a centered header:
- import in the `Layout` component
- pass props of `centered` and set it to tr

[2022-03-08 04:55] Girish-Bharadwaj commented on #813
Hi
Thank you so much for guiding me.
I used the prop to center the Layout page.
Here is the link to the screenshot of the page.
https://drive.google.com/file/d/1wsXOloqfYEvGZzYCC53Rvpk5wOxClW8w/view?usp=sharing

[2022-03-08 08:40] knjk04 commented on #889
@jaymeriegel No matter, let us know if you need help with anything!

[2022-03-12 12:23] lrvignesh commented on #890
Hi @knjk04 - I would like to work on this!

[2022-03-12 14:12] jaymeriegel commented on #889
Hey, @knjk04

Dude, unfortunately I'm going to need to uncompromise the issue. We are in a turbulent time in my company and I'm completely out of time. I apologize for what happened.

[2022-03-12 17:39] knjk04 commented on #890
Thanks, @lrvignesh! I'll assign it to you

[2022-03-12 17:40] knjk04 commented on #889
Hi @jaymeriegel, that's fine. Thanks for letting us know

[2022-03-12 18:15] knjk04 commented on #813
Hi @Girish-Bharadwaj,

Thanks, this is good progress. One thing I noticed is the subtexts (e.g. 'biography') do not align with the heading (e.g. 'Most read genre').

Could you please update this? Thanks!

[2022-03-12 18:15] #925 closed

[2022-03-12 18:25] knjk04 opened #957 "Set up eslint pre-commit hook"
**Is your feature request related to a problem? If so, please describe.**
Not running eslint before pushing can lead to a failed linter build.

**Describe the solution you'd like**
Set up a [pre-commit](https://pre-commit.com/) hook so that it triggers eslint to run whenever we try to commit one of the frontend files (`.ts`, `.js`, etc.).

See https://github.com/pre-commit/mirrors-eslint

**Additi

[2022-03-12 20:32] barnes-c commented on #957
Hey @knjk04, I would like to take care of this issue.

I've already read the contributing guidelines.

My approach would be to install pre-commit and add a '.pre-commit-config.yaml' to the frontend.
Configure the yaml files so it matches the style guide.

An estimate on how long I would need is Monday the 14th

[2022-03-13 09:34] knjk04 commented on #957
Hi @barnes-c, thanks for offering to help with this! I'll assign it to you

[2022-03-13 13:37] #632 closed

[2022-03-14 08:46] knjk04 opened #962 "Run yarn build if dev env set"
We should check which environment is set and run the appropriate yarn command:

- If the 'dev' environment variable is set, we should run `yarn build`
- If the 'local' environment variable is set, we should run `yarn start`

This should happen through a shell script

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we

[2022-03-14 19:21] knjk04 commented on #879
Hi @mayanksony, we will unassign this from you as we have not heard back

[2022-03-14 19:22] knjk04 commented on #917
Hi @anugrahsinghal, how are you getting on with this?

[2022-03-15 04:24] Girish-Bharadwaj commented on #813
Yeah sure. Will update those changes

[2022-03-15 08:21] knjk04 opened #965 "Check file endings are LF"
**Is your feature request related to a problem? If so, please describe.**
As we run our start scripts in Linux docker containers, they won't work if the endings are CRLF, not LF.

Add a GitHub action that checks that the file endings are LF. Alternatively, we can look into a pre-commit hook.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additi

[2022-03-15 21:58] anugrahsinghal commented on #917
hey @knjk04, I am done with most of the changes

3 tests are failing, in`ReadingGoalControllerIntegrationTest`
when trying to save entities, hibernate/jpa is not able to generate the id for `ReadingGoal`

now the possible problem is the flyway file  `V004__CREATE_READING_GOAL.sql.sql` for `ReadingGoal` entity creation as it uses `BIGINT` for ID creation while for all other entities `BIGSERIAL` is

[2022-03-19 06:11] Girish-Bharadwaj commented on #813
@knjk04 I have updated the changes.
Here is the screenshot link: https://drive.google.com/file/d/1wsXOloqfYEvGZzYCC53Rvpk5wOxClW8w/view

[2022-03-19 14:00] knjk04 commented on #813
@Girish-Bharadwaj That looks great, thanks a lot! You should be ready for creating a pull request

[2022-03-19 14:03] knjk04 commented on #917
Hey @anugrahsinghal, thanks for the update!

Don't worry about the failing integration test, that's something we'll need to revisit soon to fix.

Ah, yes. We should be using `BIGSERIAL`. Please feel free to go ahead and create a new migration to fix this. Thanks for spotting this!

[2022-03-19 14:56] #962 closed

[2022-03-19 14:57] knjk04 opened #967 "Add shell checker GitHub action"
**Is your feature request related to a problem? If so, please describe.**
We currently do not have any checks to checks on changes to our shell script in our CI.

**Describe the solution you'd like**
Add a GitHub action that runs shell check (or something similar) if any `.sh` file is changed

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation

[2022-03-19 14:58] knjk04 commented on #957
Hi @barnes-c, how are you getting on with this?

[2022-03-19 14:58] knjk04 commented on #890
Hi @lrvignesh, how are you getting on with this?

[2022-03-19 18:12] RivaD2 opened #969 "Show GraphQL "loading" and "error Failed to fetch" messages on Search page"
**Currently,  if the Books-API is down/not running and a user types in a search query and clicks search, the return statements are executed for `loading` and `error` variables from GraphQL in `Search.tsx`. The loading text is shown, and then the following error message is shown on blank white page:**

<img width="854" alt="Screen Shot 2022-03-19 at 11 01 06 AM" src="https://user-images.githubuserc

[2022-03-19 18:17] #967 closed

[2022-03-19 22:58] anugrahsinghal commented on #917
hey @knjk04, have added the script and the required feature too.
#970

[2022-03-22 17:08] lrvignesh commented on #890
Hi @knjk04, Apologies - Something came up at work. I should be able to make progress on this in this week.

[2022-03-24 20:49] jbezems commented on #889
I would like to work on this issue if it is no longer taken!

[2022-03-25 00:52] sophiastr commented on #813
i want to deal with this issue.
I am interested in contributing to the project you are developing.
Do you still need help?
I'm a beginner but I will try really hard.

[2022-03-26 17:13] knjk04 commented on #813
Hi @sophiastr, this issue has already been assigned, but feel free to request to be assigned to a non-blocked and unassigned issue: https://github.com/Project-Books/book-project/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+-label%3Ablocked

[2022-03-26 17:14] knjk04 commented on #889
@jbezems Thanks, I'll assign this to you!

[2022-03-27 09:46] knjk04 commented on #957
Hi @barnes-c, as we have not heard back from you, we will unassign you (as per our contributing guidelines)

[2022-03-27 10:12] knjk04 opened #972 "Use sh instead of bash"
We currently [add bash](https://github.com/Project-Books/book-project/blob/main/frontend/Dockerfile#L16) to our Alpine-based image as we use it in our [frontend start script](https://github.com/Project-Books/book-project/blob/main/frontend/start.sh#L1).

So that we don't increase the size considerably, use `sh` instead of `bash`

**Additional context**
- Be sure to read the contributing guidelines

[2022-03-27 21:10] CGRDMZ commented on #884
i would like to work on this one @knjk04. i have some questions before starting. This will be my first contribution to an open source project, so i am sorry if the answers are so obvious.

1. The new design has a divider with the full width of the container but since the modal is a shared component and has a padding by default, is it okay for me to change the Modal component to take a prop for pad

[2022-03-29 02:50] akshathphillips commented on #972
Hello, I'd like to work on this!

[2022-03-31 23:04] jbezems commented on #889
My approach here to implement the many-to-many relationship between Book and Author reflects the many-to-many relationship between Book and Tag.

First, I will remove the attribute of author_id from CREATE_BOOK.sql. The author id will instead be referenced from the bridge table created in Book.java. Consequently, ALTER_BOOK and ALTER_BOOK_RENAME_CONSTRAINTS will have to be changed to reference the

[2022-04-01 11:16] knjk04 commented on #890
Hi @lrvignesh. do you have an update on this? Is there anything we can help with?

[2022-04-01 19:20] knjk04 opened #973 "PostgreSQL 12 not compatible with PostgreSQL 14.2"
**Describe the bug**

We are specifying the Postgres 14.2 image in our Dockerfile as our base image,.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app
2. See the error

**Expected behaviour**

We should be using PostgreSQL 12, since that s what our dev server runs.

**Screenshots**

<img width="1049" alt="postgres12" src="https://user-images.githubusercontent.com/11173328/1613279

[2022-04-04 18:38] knjk04 commented on #890
@lrvignesh Unassigning at your private request

[2022-04-09 14:00] anujasupekar commented on #871
Hi, if this issue is unassigned, I would like to work on this task

[2022-04-11 18:52] erinmcconnell12 commented on #817
@knjk04, could I work on test cases for this? I could add some parameterized tests in order to ensure weak passwords fail and strong/very strong passwords pass, and/or create tests for a user attempting to create an account with a previously linked email address, if that has not already been implemented.

[2022-04-12 11:35] knjk04 commented on #871
Hi @anujasupekar, thanks! I'll assign this to you

[2022-04-12 11:36] knjk04 commented on #817
@erinmcconnell12 Thanks, both sound good. I'll assign you to this. Let us know if you need a hand with anything via Slack or a GitHub discussion

[2022-04-22 19:56] #882 closed

[2022-04-28 00:54] #81 closed

[2022-04-29 00:54] #886 closed

[2022-04-29 00:54] #951 closed

[2022-04-29 00:54] #952 closed

[2022-04-29 00:54] #923 closed

[2022-04-29 00:54] #289 closed

[2022-04-29 00:54] #227 closed

[2022-04-29 00:54] #228 closed

[2022-04-29 00:54] #230 closed

[2022-04-29 00:54] #723 closed

[2022-04-29 00:54] #673 closed

[2022-04-29 00:54] #531 closed

[2022-04-29 00:54] #345 closed

[2022-04-29 00:54] #284 closed

[2022-04-29 00:54] #499 closed

[2022-04-29 00:54] #256 closed

[2022-04-29 00:54] #458 closed

[2022-05-02 03:14] Melodyyueqi commented on #879
Hi, is this issue still open? Can I try to contribute?

[2022-05-06 05:07] ahmedsaheed commented on #877
hi @knjk04 can i jump on this as my first issue. Seems very feasible.

[2022-05-06 21:08] luisya22 commented on #890
It should be one endpoint or multiple endpoints?

[2022-05-08 23:37] calnighters commented on #890
Hi, I'd like to work on this if it's available :)

[2022-05-09 11:13] #757 closed

[2022-05-13 12:41] nbentoneves commented on #877
Hi, I would like to be part of the project. Can I pick this one?
Thanks

[2022-05-13 18:53] #883 closed

[2022-05-17 08:59] nbentoneves commented on #877
**Additional context**
- Be sure to read the contributing guidelines first!: ✔️
- Discuss your implementation approach with us before we assign you to it:
Create a new state attribute to store the registration failed message (like the project does for Login), my suggestion is `registerFailed`. Showing the error the same way the project does for the `state.serverError`.
- Provide us with an estimat

[2022-05-17 15:39] didendron commented on #884
Hi @knjk04. Can i take this?

[2022-05-18 21:16] #749 closed

[2022-06-01 17:36] #813 closed, assigned to Girish-Bharadwaj

[2022-06-01 17:37] #63 closed

[2022-06-02 12:25] #957 closed

[2022-06-07 12:23] #827 closed

[2022-06-07 12:23] #789 closed

[2022-06-07 12:23] #880 closed

[2022-06-07 21:27] #973 closed

[2022-06-13 06:58] #889 closed

[2022-06-17 13:15] #864 closed

[2022-06-17 13:15] #905 closed

[2022-06-18 13:35] #871 closed

[2022-06-18 13:35] #817 closed

[2022-06-24 22:54] epic-problem commented on #890
Hello, if still available I am also up for impementing this!

[2022-06-24 22:57] zantoichi commented on #890
Hello! If this is still available @knjk04 I would love working on it.

[2022-06-29 04:49] brantheeman commented on #890
I would like to give this solution a shot

[2022-07-03 17:28] TomBurrows101 commented on #879
Hi,

I'd like to take this issue up, to confirm, all that is left is:
- Add a (curved edged) box around the active item
- Change the text from black to grey
- Change the grey shadow line to the non-shadow line

I believe that is all left to do, after a previous PR changed the logout button colour?

[2022-07-05 02:51] pol-alok commented on #890
Hi @knjk04,

- I have read the requirements and believe I can make this a reality.
- If it is available please give me a chance.

Thanks,
Ravikant Pal

[2022-07-11 17:35] chandan13tiwari commented on #890
Hi @knjk04 , I would like to work on this. I've read the code, I can make this StatisticsController to cover all the requirements.
Please let me know if you want me to assign this issue. We'll discuss the approach then.

[2022-07-23 10:13] #877 closed

[2022-07-23 17:24] #884 closed

[2022-07-30 08:48] N-S-H commented on #890
Hi @knjk04 , I would like to work on this. Please let me know if you want to assign this issue to me

[2022-08-02 09:40] ayushdubey755 commented on #890
Hi @knjk04 Finally I found a project of my domain, can I contribute for Statistics controller. I usually work on springboot for more than a year this will be my great start in terms of open source contribution that will add some value to your project.
Assign me if you are ok so that i can start analysing the code workflow

[2022-08-16 22:57] rremiao commented on #890
Hi @knjk04 me and a couple other fellow colleagues will be working on this issue in the next few months! Hope our final implementation suits your needs when we eventually make the merge request!

[2022-08-17 04:58] prasad669 commented on #890
Hello @knjk04 is this issue still available for contribution ?

[2022-08-17 05:01] saket2001 commented on #890
Hello @knjk04 is this issue still available for contribution ?

[2022-08-18 16:08] chojnackia commented on #890
Hi guys, i see some of you already wanted to start or even started to work on this, so let me know if you would abandon this :D

[2022-08-28 04:46] AdityaMY007 commented on #890
Hi @knjk04,
I will be happy to work on this issue,
please let me know if this issue still available for contribution ?

[2022-09-02 11:02] hakimamarullah commented on #890
Hi @knjk04, I would like to work on this. Is this issue still open for contribution? Thank you

[2022-09-04 01:17] katherinevivianw opened #980 "Edit favicon icon"
- Favicon icon is already in the project under frontend > public > favicon.ico
- Needs to be connected to the index.html file

Implementation:
- add a line of code underneath the title line in index.html
- estimated time: 5 minutes

[2022-09-08 04:03] AdwitiyaMishra commented on #980
Hi @katherinevivianw, I would like to work on this issue. I'm a first time contributor so let me know if it's available. Thanks.

[2022-09-09 02:14] #879 closed

[2022-09-18 10:40] sharmasiddarth commented on #890
Is this issue still open ? I would like to work on this. Please let me know.

[2022-09-29 03:25] Hardik27 commented on #980
Hi @katherinevivianw, please do check the PR: https://github.com/Project-Books/book-project/pull/981 for the above fix.

[2022-10-05 04:05] bayotheman commented on #890
Hi @knjk04, I would like to work on this issue if it's still available for contribution, Thanks.

[2022-10-06 07:27] OkoroaforKelechiDivine commented on #890
If this issue is still open, please I will like to take up on everything.

[2022-10-06 09:11] MauryaTech22 opened #983 "Book Publisher Column. According to me a column with Book Publisher also help us in finding and updating book ."
**Is your feature request related to a problem? If so, please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we a

[2022-10-06 13:37] rudrakshkarpe opened #984 "Where to find the .exe version of book-project for windows"
I am looking forward to using this on the windows machine, it seems an interesting project to make my reading habit even more strong but I am unable to find the exact .exe after downloading zip files from releases.
please let me know if there's any such facility available for the same

[2022-11-01 11:09] SwethaTamatam commented on #890
Hi @knjk04, I would like to work on this issue. Please let me know if it is available. Thank you

[2022-11-01 11:51] SwethaTamatam commented on #983
Hi @MauryaTech22 I would like to work on this issue.

[2022-11-12 15:20] sambhavk commented on #890
Hi @knjk04 , I have done the backend changes [commit](https://github.com/Project-Books/book-project/compare/main...sambhavk:book-project:%23890-create-statistics-controller).

PFB one of the curl req and resp -

Req:
`curl --location --request GET 'localhost:5000/books/most-liked' \
--header 'Authorization: Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ1c2VyQHVzZXIudXNlciIsImF1dGhvcml0aWVzIjpbeyJhdXRob3J

[2022-11-19 12:05] nunzioono commented on #890
Is this feature still assignable?

[2022-11-29 03:46] chavikram commented on #890
Hii @knjk04 I would like to work on this issue . Is this still open ?

[2022-11-29 10:18] nunzioono commented on #890
I'm waiting to work on it too @knjk04

[2022-11-29 10:19] nunzioono commented on #890
However seems someone maybe solved it before us, at least in the comments that's what is written