[2020-09-22 18:36] knjk04 commented on #146
Before anyone works on this, they should discuss their implementation approach with us

[2020-09-22 18:40] knjk04 commented on #320
We have a [User](https://github.com/Project-Books/book-project/blob/master/src/main/java/com/karankumar/bookproject/backend/entity/account/User.java) entity, so we save to the user repository (via the service). Feel free to check out `localhost:8081` to see the table in the database.

If you're still interested in this, I can assign you to the issue once you've worked on your existing issues

[2020-09-22 18:44] knjk04 commented on #305
Sorry for the slow reply, I missed this.

Thanks for bringing this up. I've added `phpmyadmin` for the non-prod setup. I can look again, but I thought the production build already loaded `phpyadmin`?

[2020-09-23 10:10] vvkpd commented on #336
Sorry, I was not aware of that you have assigned me on this card. I started working on it, just doing the project setup.

[2020-09-23 17:29] knjk04 commented on #336
No problem, thanks for letting us know

[2020-09-23 20:17] inhundreds commented on #255
Hi Karan, can I work on this? I think it is related to #243.

[2020-09-23 20:26] wesleynepo commented on #252
Can I do this?

[2020-09-24 05:20] knjk04 commented on #255
Hi, sure, I'll assign you to the issue. Thanks!

[2020-09-24 10:40] knjk04 opened #345 "Import books from exported Book Project file"
**Is your feature request related to a problem? If so, please describe.**
A user may want to import a JSON file they exported from the Book Project.

**Describe the solution you'd like**
Add a controller endpoint that parses JSON and adds the relevant authors, books and custom shelves.

**Additional context**
Branch from `0.2.0`. When you're ready, create a pull request to go back into it.

[2020-09-24 21:24] inhundreds commented on #255
I think that there are 3 problems related to the save button:
1. by default, the button is enabled when created even if the textfield is empty;
2. the binder validates  using the default ValueChangeMode of the textfield; the default change mode is [ON_CHANGE](https://vaadin.com/api/platform/14.3.4/com/vaadin/flow/component/textfield/TextField.html#getValueChangeMode--); it means that the synchroni

[2020-09-25 05:15] knjk04 commented on #255
Yes, that's fine. Feel free to also fix the 3rd point. Thanks!

[2020-09-25 16:26] knjk04 commented on #338
This is only possible for internal pull requests (which has already been set up). See https://docs.travis-ci.com/user/sonarcloud/#analysis-of-internal-pull-requests

[2020-09-25 16:26] #338 closed

[2020-09-25 16:57] knjk04 opened #347 "Show books in the New York Times bestseller list"
**Describe the solution you'd like**
Use the [New York Times Book API](https://developer.nytimes.com/docs/books-product/1/overview) to get a list of the best sellers list. We would like:

- The book title
- Author name
- Publication date
- Publisher
- Book description
- Genre

**Additional context**
We will expand on this later to make it easy for users to add books that feature in the best seller

[2020-09-25 17:15] knjk04 opened #348 "Import books from LibraryThing"
**Describe the solution you'd like**
Import books from [LibraryThing](https://www.librarything.com/more/import).

[Sample exported LibraryThing file](https://github.com/Project-Books/book-project/files/5284284/librarything.json.txt). Please note that the file format has been changed to `.txt` as GitHub does not support uploading `.json` files, so you can change the file extension yourself.

**Addi

[2020-09-26 07:46] Burhak commented on #320
I'd like to work on this one if it's still available

[2020-09-26 09:10] knjk04 commented on #320
Sure, thanks. Before I assign you, could you please describe your implementation approach?

[2020-09-26 09:40] Burhak commented on #320
1. add a User reference to Shelf class (both CustomShelf and PredefinedShelf need to belong to some User)
2. create method `findAllByUser` in both of Shelf repositories which will be called by `findAll` methods of Shelf services
3. change method `findByShelfName` to `findByShelfNameAndUser` in both Shelf repositories

[2020-09-26 10:04] shadikajevand commented on #80
@knjk04 Hi, I can give this a try :)

[2020-09-26 10:14] knjk04 commented on #80
Sure, thanks!

[2020-09-26 10:16] knjk04 commented on #320
Sounds good, thanks!

[2020-09-26 13:30] knjk04 opened #350 "Update table of contents in style guide"
It is now outdated. New sections need to be added and we need to ensure the right level of indentation is used.

[2020-09-26 13:38] #295 closed

[2020-09-26 14:52] knjk04 commented on #304
Sorry, I missed this. Thanks for this

[2020-09-27 15:11] CptOrange16 commented on #350
Hello, i would like to work on this issue

[2020-09-28 05:17] knjk04 commented on #350
Thanks, I've assigned you to the issue!

[2020-09-28 08:25] inhundreds commented on #255
Hello Karan, just a question about the 3rd point: do you expect the textfield to be cleared when the user saves the shelf and also when he clicks outside the dialog closing it without saving?

[2020-09-28 17:44] knjk04 commented on #255
Yes, the clear button should be closed in both cases. If a user clicks outside the dialog, we should treat that as a cancel operation

[2020-09-28 18:34] knjk04 opened #351 "Create class diagram for classes in the entities package"
Create an entity-relationship diagram for our Java entities using [JDL-studio](https://start.jhipster.tech/jdl-studio/). This could help onboard new contributors quicker.

If you want to use a different tool, let us know before implementing it

Update: create a class diagram, not an ER diagram

[2020-09-28 22:10] CptOrange16 commented on #350
Thank you for letting me help you guys with the docs.
I've checked the links to the sections in the table of contents and some of them are broken (i'll fix that)
Can you clarify what are the sections that need to be added (or where i can find them)?

[2020-09-29 08:14] Anoop01234 commented on #351
Can you give more information on what am I supposed to make the entity-relationship diagram?

[2020-09-29 12:20] knjk04 commented on #351
The entity-relationship diagram should show our different Java [entities](https://github.com/Project-Books/book-project/tree/master/src/main/java/com/karankumar/bookproject/backend/entity) and how they are related to one another (e.g. one-to-many, many-to-many relationships).

Sure, I'm happy with Lucidchart.

In terms of deliverables, it would be great if you could create a markdown file (called

[2020-09-29 12:41] knjk04 opened #353 "Make a vision document"
Make a document that explains the vision of the Book Project. It should explain why we exist and what we set out to do.

[2020-09-29 16:50] knjk04 commented on #350
Not at all, thanks for offering to help!

Things that need doing:
- Change the '120 characters limit' link to the new section ('100 character column limit')
- Add the 'One true brace style' to the table of contents
- The 'naming' section (and, by extension, everything under it) is indented one level more than it should be in the contents
- The TODOs section is in the wrong place in the table of co

[2020-09-29 16:59] knjk04 opened #356 "Add Optionals"
Where a null is used as a return type, change this to use an `Optional` instead. We don't want to use this for parameters

This is in line with a change to our style guide.

Branch: `0.2.0`

[2020-09-29 18:06] knjk04 opened #357 "Replace query with derived query"
In `BookRepository`, we currently have

[code]

This should be replaced with a derived query (`findByTitle`)

[2020-09-30 05:15] flouou commented on #357
Hey, I would like to take a stab at this issue! Please let me know, if it's alright to start working on this, thanks in advance.

[2020-09-30 05:18] knjk04 commented on #357
Sure, thanks!

[2020-09-30 05:54] luisa01-code commented on #356
Hi! I could fix that if you want

[2020-09-30 06:14] flouou commented on #339
Hey @knjk04 it seems to work fine for me. I am working with IntelliJ 2020.2.2 Ultimate Edition.

[2020-09-30 06:24] flouou commented on #343
According to https://github.com/mvysny/karibu-testing/issues/31 there does not seem to be much we can do about this issue (beside downgrading to java 11)

[2020-09-30 07:12] knjk04 commented on #356
Sure, thanks!

[2020-09-30 07:13] knjk04 commented on #339
Thanks for the heads-up. It might just me then!

[2020-09-30 07:14] knjk04 commented on #343
Thanks for this! I'll make a note of this on the README

[2020-09-30 07:14] #343 closed

[2020-09-30 07:30] knjk04 opened #359 "Ensure there are no duplicate tags"
As is stands, multiple tags with the same name can be created. Make it so that this is not the case. For example, if a tag called "dystopian" exists, another tag with the same name should not be allowed to be created.

This change should affect the `TagService`. An accompanying test is also required.

The check for a tag with the same name should be case insensitive (i.e. 'Dystopian' should not be

[2020-09-30 07:51] knjk04 opened #361 "Test orphan tags not deleted"
Test that when a book is deleted, its tags are not deleted. This applies even if it means that a tag is no longer associated with any book. (If this is not currently the case, this will also need to be changed)

[2020-09-30 08:23] prathyushasai commented on #359
Hi @knjk04, I'm interested in working on this issue.

[2020-09-30 08:30] inhundreds commented on #312
Hi Karan, can I work on this? I think both the test cases in AuthorTest needs a fix.

Thanks,
Diego

[2020-09-30 08:40] BoJacobs commented on #361
Hi, I would like to fix this issue. Let me know if that is ok.

[2020-09-30 08:51] killerkc12 commented on #359
i could work on this

[2020-09-30 09:03] vvkpd commented on #309
I wanted to pick this card, please let me know.

[2020-09-30 11:14] killerkc12 commented on #309
I like to catch it up

[2020-09-30 12:18] knjk04 commented on #312
Hi Diego. Sure, that would help a lot! Thanks!

[2020-09-30 12:18] knjk04 commented on #361
Sure, thanks!

[2020-09-30 12:19] knjk04 commented on #359
@prathyushasai Hi. Sure, I'll assign you to the issue. Thanks!

[2020-09-30 12:20] knjk04 commented on #359
Sorry, @killerkc12. It looks like Prathyusha got there just before you! Feel free to enquire about any other unassigned & unblocked issues

[2020-09-30 12:32] knjk04 commented on #309
Thanks, @vvkpd. I'll assign you to the issue

[2020-09-30 12:33] knjk04 commented on #309
Apologies once again, @killerkc12. I'd recommend only asking on issues where someone else hasn't already expressed an interest (and that's unassigned and unblocked) to avoid future disappointment

[2020-09-30 13:31] anotherfathead commented on #63
Hi, If this issue is available I'd like to work it.

[2020-09-30 14:46] killerkc12 commented on #359
No problem 😊

[2020-09-30 15:17] killerkc12 commented on #301
I like to make entire page grid

[2020-09-30 16:06] anotherfathead commented on #211
I'd like to tackle this issue if it's available.

[2020-09-30 16:54] knjk04 commented on #63
Sure. Before I assign you to the issue, could you please first describe your implementation approach?

[2020-09-30 16:55] knjk04 commented on #301
Sure, I'll assign you to the issue. Thanks!

[2020-09-30 17:15] knjk04 commented on #211
While we appreciate, as you are new to contributing, I think it's best if you're only to one issue for now (as per our contributing document).

One reason for this is that it prevents one of the issues being blocked while you work on the other. Meanwhile, someone else could have worked on this.

[2020-09-30 17:51] knjk04 commented on #212
As we have not heard back from you in a while, as per our style guide, we are going to unassign you from this issue

[2020-09-30 18:37] hgky95 commented on #299
Hi @knjk04
I'd like to take this one. Please assign it to me.
Thank you.

[2020-09-30 18:39] knjk04 opened #362 "Test whether an Author without any books can be deleted"
In a new `AuthorServiceTest` class, test whether an author (that is not associated with any books) can be deleted.

Further requirements:
- The test should be an `IntegrationTest` (it should have the `@IntegrationTest` annotation so that it loads the Spring context)
- A new `Author` will need to first be created

Update: the `AuthorServiceTest` class has since been created, so add the test to this

[2020-09-30 18:40] knjk04 commented on #299
Sure, I'll assign you to the issue. Thank you!

[2020-09-30 18:43] knjk04 opened #363 "Test whether a saved Author can be found"
In a new `AuthorServiceTest` class, test whether a saved author can be found

Further requirements:
- The test should be an IntegrationTest (it should have the `@IntegrationTest` annotation so that it loads the Spring context)
- A new `Author` will need to first be created

[2020-09-30 18:46] knjk04 opened #364 "Test whether a null Book can be saved"
Test whether a null Book can be saved. This should not be permitted. This test should be added to the `BookServiceTest`.

This should be similar to the `notSaveANullTag()` test in `TagServiceTest`.

[2020-09-30 18:48] knjk04 opened #365 "Test whether a saved book can be found"
Test whether a saved book (a `Book` needs to first be saved) can be found using `findById()`.

If you run into issues and get stuck (e.g. lazy initialization exceptions), feel free to get in touch with us over Slack)

**Additional context**

The following can be removed when this test is in place:

[code]

[2020-09-30 18:48] CptOrange16 commented on #363
Hey, just finishing up my other open issue. I can take this one aswell if you are ok with it 👍

[2020-09-30 18:49] sahil9001 commented on #364
I would like to work on this issue please assign me this, Thanks!

[2020-09-30 18:50] knjk04 commented on #363
Sure, thanks!

[2020-09-30 18:50] knjk04 commented on #364
Sure, I'll assign you to the issue. Thanks!

[2020-09-30 19:01] knjk04 opened #366 "Add triaging role"
Add a role that allows people to help by triaging issues. This role should also involve helping other contributors fix and diagnose their issues (including on Slack)

[2020-09-30 19:03] CptOrange16 commented on #350
Ok, I'm nearly done with the changes.
A suggestion: would you also want me to change the anchor links in the table of contents? They are currently urls but we could change them to be local to the document itself, so they won't open a new page when clicked.
Example:
``1. [Introduction](https://github.com/knjk04/book-project/blob/master/STYLEGUIDE.md#introduction)``
would become
``1. [Introduction](

[2020-09-30 19:25] Ruchika8 commented on #365
I would like to work on this issue. Please assign it to me thanks

[2020-09-30 20:14] shreyamodi1999 commented on #357
Hey! Can I work on this or is it just assigned to others already?

[2020-09-30 20:56] Anu-123-gif commented on #362
I would like to work on this issue, can you assign it to me please?

[2020-09-30 21:06] pklink commented on #218
I would like to work on this issue. Can you assign it to me, please?

[2020-09-30 21:11] charchithere commented on #365
I would like to Work on this. Pls assign it to me

[2020-09-30 21:12] raulsoledispa commented on #356
Hi, I would like to can help you. Can you assign me it?

[2020-09-30 21:13] charchithere commented on #362
Hello! I would like to work on this . pls assign it to me

[2020-09-30 21:17] pklink commented on #218
Additionally, this issue should be updated. The genre issue seems to be fixed, but a similar problem is affect the "Most liked book" and "Least liked book" now.

![Screenshot 2020-09-30 23-16-58](https://user-images.githubusercontent.com/753350/94740522-201fa800-0373-11eb-875b-6b65d7cd5f03.png)

[2020-09-30 21:18] Anu-123-gif commented on #54
I would like to work on this issue , please assign it to me

[2020-10-01 00:44] sumanth-thyagarajan commented on #337
can I work on this

[2020-10-01 00:45] sumanth-thyagarajan commented on #252
Can you assign this to me

[2020-10-01 00:47] sumanth-thyagarajan commented on #208
Assign this to me

[2020-10-01 00:55] shreyasirao commented on #319
Hey, would love to have a go at this. Is it ok if I start working on it?

[2020-10-01 05:22] knjk04 commented on #357
Hey,

Unfortunately, this issue is already assigned. I'm looking to create a similar issue to this soon, so keep an eye or out (or feel free to join our Slack channel to get notified)!

[2020-10-01 05:23] knjk04 commented on #365
@Ruchika8 Thanks! I'll assign you

[2020-10-01 05:24] knjk04 commented on #365
@charchithere Sorry, @Ruchika8 asked first!

[2020-10-01 05:25] knjk04 commented on #356
@raulsoledispa Hi, this issue is already assigned, unfortunately. Feel free to request to be assigned to an unassigned and unblocked issue

[2020-10-01 05:26] knjk04 commented on #362
@Anu-123-gif Sure, I'll assign you to the issue. Thanks!

[2020-10-01 05:27] knjk04 commented on #362
@charchithere Sorry again, someone else got there ahead of you. Feel free to request to be assigned to an issue that is unassigned, unblocked and someone else hasn't already asked

[2020-10-01 05:37] Anu-123-gif commented on #362
Thanks, I'll start working on it !

[2020-10-01 05:40] knjk04 commented on #54
Unfortunately, as per our [contributing guidelines](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#tell-us-which-issue-you-want-to-work-on), we only assign one issue at a time for new contributors.

If after completing your currently assigned this issue is still available, feel free to request to be assigned to it!

[2020-10-01 05:43] knjk04 commented on #337
Sure, I'll assign you to the issue. Thanks!

[2020-10-01 05:46] knjk04 commented on #362
@Anu-123-gif Great! If you need a hand, we'll be happy to help over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) channel

[2020-10-01 05:49] knjk04 commented on #319
Hey, sure. That would be great, thanks! If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) channel

[2020-10-01 05:54] knjk04 commented on #350
Great, thanks!

As for the anchor links, a new page doesn't open for me when I click on any of the links in the table of contents. If I were to shorten one of them, then my browser (I've tested this on Firefox and Chrome) ask me whether I'd like to open a new page. Even if I choose yes, it doesn't actually open it up in a new page.

Which browser and OS are you using?

[2020-10-01 05:58] knjk04 commented on #252
Unfortunately, as per our [contributing guidelines](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time), we only assign one issue at a time to new contributors.

Feel free to request to be assigned to this after completing your assigned issue if this issue is still available

[2020-10-01 06:32] knjk04 commented on #218
Thanks for pointing this out. You're right, this bug seems to be fixed now. I'll close this issue and create a new one for the "Most liked book" and "Least liked book" bug. Feel free to request to be assigned to that

[2020-10-01 06:33] knjk04 opened #371 "Book can be both the most liked book and the least liked book"
![Screenshot 2020-09-30 23-16-58](https://user-images.githubusercontent.com/753350/94740522-201fa800-0373-11eb-875b-6b65d7cd5f03.png)

In this scenario, neither statistic should show. This seems to happen when there is only one rated book.

[2020-10-01 06:33] #218 closed

[2020-10-01 06:35] knjk04 opened #372 "Fix 'No rating' text shown twice"
![Screenshot 2020-09-30 23-16-58](https://user-images.githubusercontent.com/753350/94740522-201fa800-0373-11eb-875b-6b65d7cd5f03.png)

For the 'Most liked book' and 'Least liked book' statistics, the word 'rating' is shown twice. It should only appear once

[2020-10-01 06:42] knjk04 opened #373 "Add headings in settings"
**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/11173328/94776388-8d562c00-03b9-11eb-940f-1509f7378b03.png)

Add subheadings to separate the different sections:

- An 'Appearance' heading that contains the dark mode toggle
- A 'My books' heading that contains the 'reset shelves' and export button

[2020-10-01 06:44] knjk04 commented on #299
Also, if you need a hand with this, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:44] knjk04 commented on #301
If you need a hand with this, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:45] knjk04 commented on #337
If you need a hand with this, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:45] shubhamgoel9 commented on #372
i want to work on this issue

[2020-10-01 06:46] knjk04 commented on #356
@luisa01-code One thing I forgot to mention: let us know over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) if you need a hand with this

[2020-10-01 06:46] knjk04 commented on #359
@prathyushasai feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) if you need a hand with this

[2020-10-01 06:47] knjk04 commented on #364
@sahil9001 If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:48] knjk04 commented on #365
@Ruchika8 If you need anything, we'll be happy to help over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:48] knjk04 commented on #372
Sure, thanks!

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 06:49] sahil9001 commented on #364
@knjk04 Sure I'll resolve the issue by tomorrow!

[2020-10-01 07:10] knjk04 opened #374 "Test whether a saved ReadingGoal can be deleted"
Test that after saving a `ReadingGoal`, it can then be deleted

**Additional context**

- Method to test: `delete()` in `ReadingGoalService`

- Test file to add to: `ReadingGoalServiceTest`

As ever, if you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 07:13] knjk04 opened #375 "Test that a null ReadingGoal can not be saved"
Test that a null `ReadingGoal` cannot be saved

**Additional context**

- Method to test: `save()` in `ReadingGoalService`

- Test file to add to: `ReadingGoalServiceTest`

As ever, if you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 07:30] patrickjkennedy commented on #374
Hi @knjk04, is it OK if I work on this issue?

[2020-10-01 07:35] knjk04 commented on #374
Hi @patrickjkennedy,

Sure, thanks! I'll assign you to the issue.

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-01 07:42] hgky95 commented on #299
@knjk04  Yes, I'm fined with this issue. Currently I'm in the working time so I'm not able to create the PR. Anyway, I will join the Slack channel.
Thank for your suggestion.

[2020-10-01 07:48] knjk04 opened #376 "Test whether a null PredefinedShelf can be saved"
**Describe the test you would like to add or modify**

Test whether a null ``PredefinedShelf` can be saved. The expectation is that it should not be possible.

**Additional context**

Method and class that is being tested: `save()` in `PredefinedShelfService`

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8

[2020-10-01 07:51] knjk04 opened #377 "Test whether a valid PredefinedShelf can be saved"
**Describe the test you would like to add or modify**

Test whether a valid (i.e. non-null) `PredefinedShelf` can be saved. The expectation is that this should pass.

**Additional context**

Method and class that is being tested: e.g. `save()` in `PredefinedShelfService`]

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invi

[2020-10-01 07:55] dmitraver commented on #375
hi, can pick this one

[2020-10-01 07:57] knjk04 commented on #375
Sure, thanks!

[2020-10-01 07:59] killerkc12 commented on #301
Thank you ! Yes i like to be in touch if I get any shit

[2020-10-01 08:00] shreyamodi1999 commented on #54
Hey! Can I work on this?

[2020-10-01 08:02] Ruchika8 commented on #365
Thanks Karan!

On Thu, 1 Oct 2020, 12:18 pm Karan Kumar, <notifications@github.com> wrote:

[2020-10-01 08:07] sreejithsev commented on #377
Hi @knjk04,

I would like to work on this. Can I pick this one.

[2020-10-01 08:10] NyorJa commented on #294
Hi,

Can I check this?

[2020-10-01 08:19] NyorJa commented on #196
Can I check this?

[2020-10-01 08:25] BoJacobs commented on #376
Hi @knjk04, I would like to tackle this one as well!

[2020-10-01 08:34] pklink commented on #371
I would like to work on this issue. Can you assign it to me, please?

[2020-10-01 08:49] vvkpd commented on #373
I would like to work on this card, could you please assign to me

[2020-10-01 09:20] CptOrange16 commented on #350
I've tested the current anchor links in Windows and Ubuntu (18.04 LTS).
- **In Windows Firefox:** clicking on a link on the table of contents **reloads** the page and shows the section
- **In Windows Google Chrome:**  clicking on a link on the table of contents **reloads** the page and shows the section
- **In Ubuntu Firefox:** clicking on a link on the table of contents **reloads** the page and s

[2020-10-01 09:59] knjk04 commented on #294
Sure, so with this particular issue, anyone is free to suggest areas to add tests as comments. We can then create issues if we're happy to proceed with the suggestions. You, or anyone else, can then request to be assigned to a particular issue

[2020-10-01 10:00] knjk04 commented on #371
Sure, thanks!

[2020-10-01 10:30] shubhamgoel9 commented on #372
i have fixed the issue in #380 . Please review my PR.

[2020-10-01 10:50] dmitraver commented on #261
If I understand this correctly, there is a warning because the property is not set explicitly. However, my question is: do you want OSIV to be disabled? I know that leaving it enabled might lead to some interesting performance issues but I guess this issue is about explicitly setting it in properties. Do you want to keep OSIV enabled? I could provide the PR that fixes the warning but need to make

[2020-10-01 11:08] shubhamgoel9 commented on #252
i want to work on this issue

[2020-10-01 11:32] knjk04 commented on #372
Thanks, I'll take a look shortly

[2020-10-01 11:55] knjk04 commented on #196
Sure, thanks. I'll also provide more details on this shortly.

This issue might be tricky, so feel free to reach out to us on our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) channel if you need anything

[2020-10-01 15:21] anotherfathead commented on #63
Unknown:
- Does the scope of this issue include updating the user interface to include:
  - the ability to reorder the 'to read' shelf?
  - the 'sort by my priority' option?

Task Assumptions:
-  User can order/reorder books in their 'to read' list as often as they choose
-  The order given by the user is the book's 'to read' ranking
  - Lower the 'rank' the higher up the list it appears.
-  A boo

[2020-10-01 15:58] NyorJa commented on #196
Please let me know if I have some improvements to be done @knjk04 . Thanks

[2020-10-01 16:45] patrickjkennedy commented on #374
Hi @knjk04, I've submitted my PR. This is my first open-source PR so please let me know if I need to make any changes and I will be more than happy to do so.

All the best,
Patrick

[2020-10-01 17:07] knjk04 commented on #373
Sure, thanks

[2020-10-01 17:10] knjk04 commented on #377
Sure, thanks!

[2020-10-01 17:52] knjk04 commented on #376
Sure, go for it! Thanks!

[2020-10-01 18:29] flouou commented on #311
Works for me too on MacOS Catalina 10.15.7 with sapmachine-11 as JDK (Java Version 10.0.8)
Maven Version 3.6.3

[2020-10-01 18:39] knjk04 commented on #311
Thanks, @flouou. It looks like this may be a Windows issue then

[2020-10-01 18:47] knjk04 opened #386 "Add style guide rules to Sonar"
Add the style guide rules to our Sonar quality profile

[2020-10-01 19:07] #336 closed

[2020-10-01 20:33] chinmay9194 commented on #347
Hi,
If I am understanding this right a React Page is to be Developed to Showcase above details.
If yes, can you please help in some more details.
Thanks

[2020-10-02 04:59] dmitraver commented on #261
@knjk04 can you please elaborate more on this based on my previous post? thanks

[2020-10-02 05:34] knjk04 commented on #261
@dmitraver Thanks for getting in touch. I'll look into this and get back to you shortly.

I don't know whether you're on our Slack workspace, but I announced yesterday that there may be a delay in responding to comments and leaving code reviews due to a large influx of new people.

[2020-10-02 05:37] knjk04 commented on #347
Hi,

This issue is currently blocked, so we're not looking to implement this just yet. We haven't switched to React yet, so it may be some time before we get to this issue.

We'll also be specifying the design for this later.

Was there anything in particular that you would like to know about this issue?

[2020-10-02 05:42] knjk04 commented on #364
As discussed on Slack, this test already exists. Apologies.

[2020-10-02 05:42] #364 closed

[2020-10-02 06:14] knjk04 commented on #256
We should ensure that:
- When the title of the book passed in matches the title of the field title (`bookTitle`), this method returns true
- It returns false when there isn't a match
- The check for the match is case sensitive

(I say 'match', but we want to continue to use 'contains')

I'll need to double-check the null part. My initial assumption is that it needs to return `true` for the filter

[2020-10-02 06:18] knjk04 commented on #374
Hi @patrickjkennedy,

Thanks for the quick turnaround in creating the PR! We'll review your code shortly and provide suggestions for changes if necessary

[2020-10-02 07:44] prathyushasai commented on #359
Sounds good. Will be joining Slack. Thanks @knjk04  !

[2020-10-02 10:56] #255 closed

[2020-10-02 16:01] Anoop01234 commented on #351
Do I need to include the variable and functions both?

[2020-10-02 16:05] Anoop01234 commented on #351
Do I need to include functions and Variables both?

And is this pattern fine since I am working on LucidChart:
------------------------------------------
Author
------------------------------------------
-firstName: String
-lastName: String
------------------------------------------
+Author(firstName, lastName)
+toString()
------------------------------------------

[2020-10-02 16:08] knjk04 commented on #351
Yes. please. That'll be nice.

One update: could you call the file `README.md`? This way, it'll show up as a README. Perhaps we can have a section in this second README called 'Architecture'.

[2020-10-02 16:13] Anoop01234 commented on #351
Do you mean that I have to add the ER diagram in the README file under a new section called "Architecture"?

[2020-10-02 16:14] knjk04 commented on #351
Yes, please (in a new `README` file in the `entity` directory)

[2020-10-02 16:15] Anoop01234 commented on #351
Okay! Got your point.
Thanks

[2020-10-02 16:31] #357 closed

[2020-10-02 20:14] Anoop01234 commented on #351
Is this correct or there are some more additions that you'd want?

![image](https://user-images.githubusercontent.com/60193636/94965912-f5bc1f00-0519-11eb-8d83-2de44586de16.png)

[2020-10-03 03:05] lindnc5 commented on #252
Hey can I work on this?

[2020-10-03 05:19] knjk04 commented on #252
Hey, sure, I'll assign you to the issue. Thanks!

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-03 08:52] knjk04 opened #389 "Genre can be both most liked & least liked genre"
**Describe the bug**

A genre can be both the most liked and least liked at the same time (when only one read book exists).

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'my books'
2. Ensure there is only one read book with a date finished field that is in the current year, a genre specified and a rating
3. Go to 'statistics'
4. See error

**Expected behaviour**

The most liked genr

[2020-10-03 09:44] phylyps-trak commented on #389
Hello, can I work on this?

[2020-10-03 10:15] knjk04 commented on #389
Sure, thanks!

[2020-10-03 10:25] knjk04 opened #390 "Add reasoning behind wildcard imports"
As @devsnice kindly suggested, add the rationale behind no wildcard imports

[2020-10-03 11:40] knjk04 opened #391 "Convert integer division to floating point division (CalculateReadingGoal)"
**Context**

In `CalculateReadingGoal.java`, we have the following method:

[code]

Both `booksToReadThisYear` and `WEEKS_IN_YEAR` are ints. Hence, as it stands, the cast is not needed as the result is an `int`, anyway.

**What we want**

- Cast one of the operands to a `float`. This will allow us to first round up and then truncate
- Add an accompanying test to ensure this works

We recommend app

[2020-10-03 11:45] knjk04 opened #392 "Recommend TDD in contributing document"
Recommend applying test-driven development in the contributing document when adding new non-test code.

[2020-10-03 11:59] knjk04 opened #393 "Split testHowFarAheadOrBehindSchedule() into smaller test methods"
In `CalculateReadingGoalTest`, we currently have the following implementation for `testHowFarAheadOrBehindSchedule()`:

[code]

This method is doing too much. We should refactor this so that we are testing one normal (acceptable) case and two boundary cases

[2020-10-03 12:03] knjk04 opened #394 "Find all the books for a particular author"
**Describe the solution you'd like**
Using `findByAuthor()` in the `BookRepository`.

**Additional context**
More information to follow on where to add this once we have designed the UI for this.

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-03 12:14] Anoop01234 commented on #351
@knjk04 Is this fine Sir?

[2020-10-03 12:22] amit1307 opened #395 "Add tests for SettingsView"
**Describe the test you would like to add or modify**

Add tests for SettingsView class, the tests should capture the below functionalists:
1. Click of reset shelves shows a confirmation dialog
2. Export works as expected by exporting the book info in json format

**Additional context**

Method and class that is being tested: [e.g. `configureExportBooksAnchor` in `SettingsView` via constructor]

-

[2020-10-03 12:43] mofiebiger commented on #395
Hi @amit1307, can I work on this issue? Thanks! 😊

[2020-10-03 13:02] mofiebiger commented on #393
Hi @knjk04, can I work on this issue? Thanks! 😊

[2020-10-03 13:05] knjk04 commented on #351
@Anoop01234 Thanks for sending this diagram. I took a look this morning, but I'd like to think about this more before getting back to you.

I don't know if you saw my announcement on the #book-project channel on our Slack workspace, but we've had a large influx of new people recently, so there may be a delay in getting back to you. Rest assured, we'll get back to you soon, though!

Also, feel free

[2020-10-03 13:07] bharatbahl commented on #391
Hi @knjk04,

Can I be assigned to this issue?

[2020-10-03 13:08] knjk04 commented on #393
Hi @mofiebiger, I saw that you recently requested to be assigned to another issue. In line with our [contributing guidelines](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md), we only assign one issue at a time to new contributors.

If this still issue is still available after completing the other issue you requested to be assigned to, feel to request again!

[2020-10-03 13:09] knjk04 commented on #391
Sure, I've assigned you to the issue.

[2020-10-03 13:15] mofiebiger commented on #393
Hi @knjk04, would it be OK to work on this one instead? It's my first time contributing to an open source project and this issue feels a bit more doable for a first go.

[2020-10-03 13:17] knjk04 commented on #393
Sure, go for it. I'll assign you to the issue.

I know contributing to open source for the first time can be daunting. If you need a hand with anything, feel free to get in touch with us over our [Slack](https://codecov.io/gh/Project-Books/book-project) workspace

[2020-10-03 13:18] mofiebiger commented on #393
Thank you so much 👩‍💻

[2020-10-03 13:20] knjk04 opened #397 "Rename to avoid variable shadowing"
Currently, we have the following in `findBooksWithPageCountSpecified()` in `PageStatistics.java`:

[code]

The `booksWithPageCount` variable overshadows a field. Rename this local variable to something descriptive so that there is no overshadowing.

[2020-10-03 13:27] knjk04 opened #399 "Convert integer division to floating point division (PageStatistics)"
**Context**

In `calculateAveragePageLength()` in `PageStatistics.java`, we have the following:

[code]

Both `totalNumberOfPages` and `booksWithPagesSpecified` are ints. Hence, the cast to an `int` is redundant.

**What we want**

- Cast one of the operands to a float so that we can first get the result, round up and then truncate.
- Add an accompanying test to ensure this works as intended

[2020-10-03 13:34] matheuscr30 commented on #397
Can u assign it to me?

[2020-10-03 13:41] knjk04 commented on #397
Sure, thanks!

[2020-10-03 13:43] ShreyaPrabhu commented on #399
@knjk04 Can you assign this to me?

[2020-10-03 13:48] knjk04 commented on #399
Sure, thanks!

[2020-10-03 15:37] knjk04 opened #402 "Refactor autowiring to constructor"
In `AuthorTest`, we currently autowire the services via the `BeforeAll`. It would be better if this was in the constructor.

By doing this, we can also:
- Remove the `@BeforeAll` method entirely
- Move the initialisations in `reset()` to the constructor
- Make the `BookService` and `AuthorService` final
- Rename the `reset()` method to `setUp()`

[2020-10-03 16:09] knjk04 opened #403 "Refactor PredefinedShelfServiceTest"
What we need:
- Create a constructor and autowire the `BookService` (we don't want to use field injection) and the `PredefinedShelfService`
- Replace `shelves.size()` with checking that the `predefinedShelfService.count()` is zero (use AssertJ)
   - A count() method needs to be defined in `PredefinedShelfService`. For an example of something similar, see the `CustomShelfService`.

[2020-10-03 16:38] Pinkolik commented on #402
Please assign me. I have one year experience developing with spring boot

[2020-10-03 16:57] Pinkolik commented on #402
I've already done this and ready to make pull request! :) Just waiting for you to assign me

[2020-10-03 16:57] Pinkolik commented on #403
Hello! I'm ready to take this task. Please assign me :)

[2020-10-03 17:32] hgky95 commented on #207
Hi @knjk04
I'm not able to reproduce this issue. It seems like working well. Thanks
![image](https://user-images.githubusercontent.com/33622784/94997983-f9fb4180-05d8-11eb-9ec8-ff05464b59ce.png)

[2020-10-03 17:34] djnautiyal commented on #80
I'm not sure of the "hibernate" label, but may I take this up as a first timer?

[2020-10-03 17:38] djnautiyal commented on #395
Hey, Is this good for first timers? May I take this up?

[2020-10-03 19:54] anursaxe25 commented on #391
can i work on this issue ?

[2020-10-04 05:34] ShreyaPrabhu commented on #222
@knjk04 Can you assign this issue to me? I would like to work on it.

[2020-10-04 05:38] knjk04 commented on #402
Sure, I'll assign you to the issue

[2020-10-04 05:40] knjk04 commented on #207
@hgky95 Thanks for this. I'll double-check to see whether I can reproduce it. If not, I'll close the issue (and we can re-open if we are able to reproduce it)

[2020-10-04 05:42] knjk04 commented on #80
Sure, I'll assign you to the issue.

As a heads-up, this may be tricky, so feel free to reach out to us on [Slack](https://codecov.io/gh/Project-Books/book-project) if you need anything. There's a discussion on the #book-project channel about how to go about solving it

[2020-10-04 05:43] knjk04 commented on #391
@anursaxe25 Sorry, this issue has already been assigned. Feel free to request to be assigned to an issue that's both unassigned and unblocked

[2020-10-04 05:47] knjk04 commented on #222
Sure, thanks!

[2020-10-04 06:12] knjk04 commented on #403
Hello @Pinkolik,

Unfortunately. we [only assign one issue at a time to new contributors](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time). Once you've completed, #402, if this issue is still unassigned, feel free to request it

[2020-10-04 06:17] knjk04 commented on #80
Unfortunately, we only [assign one issue at a time to new contributors](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time). Once you've completed your other issue, if this issue is still unassigned, feel free to request to be assigned

[2020-10-04 06:19] knjk04 commented on #395
@djnautiyal Sorry, we should have added the blocked label sooner. We're still figuring out the details for this one.

Please also note that we only [assign one issue at a time to new contributors](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time).

[2020-10-04 07:41] knjk04 opened #407 "Fix Vaadin live reload"
![image](https://user-images.githubusercontent.com/11173328/95009904-4a948e00-061d-11eb-8f8d-0684b77c50e0.png)

Vaadin live reload does not currently work. This can make development a lot slower.

[2020-10-04 07:42] knjk04 commented on #407
@TomGilke2468 I seem to recall that you managed to come up with a solution for this. Is that correct?

[2020-10-04 08:14] #299 closed

[2020-10-04 08:31] ShreyaPrabhu commented on #222
Sure.

[2020-10-04 09:16] vvkpd commented on #211
I would like work on this card, could you please assign to me.
Thanks

[2020-10-04 09:16] knjk04 opened #408 "Specify the use of the AssertJ library"
**Context**
We are currently using both `AssertJ` and `JUnit`, but it would be better to stick with one. The reason for this is to enforce a consistent style. With JUnit assertions, the expected result is the first parameter and the actual result is the second. It's the other way around with AssertJ.

AssertJ assertions (and assumptions) are more readable. They flow better as they read like a sent

[2020-10-04 09:17] knjk04 commented on #211
@vvkpd I've noticed that you've already got a couple of pull requests to your name. If this issue is still unassigned, feel free to request it after completing your current pull requests

[2020-10-04 09:22] #408 closed

[2020-10-04 09:23] knjk04 opened #409 "Refactor to use AssertJ"
**Context**
We're currently using both JUnit's and AssertJ's assertions and assumptions. We've recently changed our style guide to require the use of AssertJ only (for consistency and readability) -- see #408.

**What we want**
Where we're currently using JUnit assertions and assumptions, refactor it to use AssertJ instead. Static imports should still be used.

[2020-10-04 09:31] knjk04 opened #410 "Class Display names: [Class under test] should"
**Context**

Currently, our approach to naming tests is quite varied as it's up to each developer as long as the test method name is readable.
With our current approach, we have found it hard to come up with good test method names. For example, we have method names such as `testInvalidShelfNames()` and `testHowFarAheadOrBehindSchedule()` that are not descriptive.

The new `TagServiceTest` class ha

[2020-10-04 09:32] P3trur0 commented on #409
Hi, I'd like to take this.

[2020-10-04 09:35] knjk04 commented on #409
Sure, I'll assign you to the issue. Thanks!

[2020-10-04 09:37] #410 closed

[2020-10-04 09:42] knjk04 opened #411 "Refactor tests to include DisplayNames for classes and better method names"
In line with our recent change to our style guide, [all classes should be annotated with a display name](https://github.com/Project-Books/book-project/blob/master/STYLEGUIDE.md#using-displayname).

Implement this change. For example, `AuthorTest` would have the display name `@DisplayName("Author should")`.

In addition to adding a display name, refactor the method names so they read nicer as a sen

[2020-10-04 09:55] knjk04 opened #412 "Fix Node Forge vulnerability"
We are currently using version 0.9.0 for Node Forge. Node Forge versions before 0.10.0 are susceptible to "Prototype Pollution via the util.setPath function", according to GitHub's Dependabot.

We need to upgrade this.

[2020-10-04 10:08] #412 closed

[2020-10-04 10:09] mothinx commented on #411
Hi ! Would love to work on this. Can you assign me ?

[2020-10-04 10:14] knjk04 commented on #411
Sure, I'll assign you to the issue. Thanks!

[2020-10-04 10:45] mothinx commented on #411
I already setup the app.
I see that all unit tests are in src/test/java/com/karankumar/bookproject/backend.  I will implement the changes accordingly to your guideline.
Do you want me to take care of integration tests in src/test/java/com/karankumar/bookproject/ui/  ?

[2020-10-04 10:48] knjk04 commented on #411
Yes, please!

[2020-10-04 11:26] P3trur0 commented on #409
hi @knjk04, please have a look at #414.

[2020-10-04 11:26] knjk04 opened #415 "Refactor resetting fields"
**Context**

To reset fields, we are currently iterating over all fields and clearing them manually. This is both verbose and somewhat of a code smell as we are using raw types.

[code]

**What we want**

A more elegant solution that does not use raw types. One possible approach:

[code]

Something like this (or better) but more generic would be nice (so that we can use it for other forms).

[2020-10-04 11:32] knjk04 opened #416 "Refactor events to new package"
The following event classes are within `ReadingGoalForm`:

[code]

Refactor this into a new `events` package inside the `ui/goal` package. Each class should be in its own file.

[2020-10-04 11:36] knjk04 opened #417 "Fix orphanAuthorsRemoved() test"
**Context:**

In `AuthorTest`, this is our current implementation for `orphanAuthorsRemoved()`:

[code]

As @schrothbn right pointed out, this test isn't doing anything.

**What we want to test:**

An `Author` without any books shouldn't exist (i.e. if there an author has one book and that book is deleted, the author should also be deleted).

This test method isn't actually saving `book`. After sa

[2020-10-04 12:07] knjk04 opened #418 "Refactor findByPredefinedShelfName() query to return one row"
**Context**

In `PredefinedShelfRepository`, we currently have

[code]

**What we want**

- Change the return type to return a `PredefinedShelf` (we only want one row back).

- Create a wrapper method (called `findFirstByPredefinedShelfName`) in `PredefinedShelfService` that calls this new repository method

- Then, refactor to remove the now redundant `findPredefinedShelf()` in `PredefinedShelfUt

[2020-10-04 12:11] jhanna60 commented on #417
Hey @knjk04  can you set the topic of this repo to Hacktoberfest please? - https://hacktoberfest.digitalocean.com/hacktoberfest-update
Looks like they need that now to be a valid repo.
Many thanks.

[2020-10-04 12:15] knjk04 commented on #417
@jhanna60 Thanks for bringing this to my attention, I wasn't aware of this change. I've added the topic

[2020-10-04 12:46] harshiniwho commented on #416
Hi! I would like to work on this!

[2020-10-04 12:47] knjk04 commented on #416
Sure, I'll assign you to the issue. Thanks!

[2020-10-04 13:23] mofiebiger commented on #393
Hey @knjk04 👋. I may have found a bug and wanted to double check if this was expected behaviour. Here is a link to my [Draft PR](https://github.com/Project-Books/book-project/pull/419/files), which has one failing test.

In the method `booksToReadFromStartOfYear()`, when the number of books is less than the number of weeks in the year _(52)_ there is an issue due to integer division. For example,

[2020-10-04 14:00] schrothbn commented on #417
Hey @knjk04
Sorry, I might miss something, but what should that test actually do? The exception is an IllegalArgumentException because the Author never got saved, so the findById-Method is called with 'null'. So if I don't miss anything important that test is not actually testing anything. If I would try and save the book before the delete-call, I get exceptions from not properly detached Books by

[2020-10-04 14:01] knjk04 commented on #393
Hey @mofiebiger.

Thanks for bringing this up! You're right that this a bug. I recently noticed this, too! I've asked Bharat to fix it (see https://github.com/Project-Books/book-project/blob/cc361d7f7d9353d8274207101ed3a143842d38d7/src/main/java/com/karankumar/bookproject/backend/goal/CalculateReadingGoal.java#L51)

By making it a `double` instead of an `int`, we shouldn't have this bug.

[2020-10-04 14:04] YvesBos commented on #418
Hi, I'm willing to work on this one.

[2020-10-04 14:12] knjk04 commented on #417
Hey @schrothbn.

In our context, an `Author` without a `Book` shouldn't exist. So if we delete a `Book` that has an `Author` without any other books, that `Author` should be deleted.

You're right. I thought this was first saving the book (which also saved the author), but this isn't the case.

Thanks a lot for bringing this up. I'm going to change this issue. Let us know if you have any other fee

[2020-10-04 14:19] knjk04 commented on #418
Sure, I'll assign you to the issue. Thanks!

[2020-10-04 15:55] #363 closed

[2020-10-04 15:59] schrothbn commented on #417
I would like to fix that. As far as I see that needs changes in the test-setup (which would probably also fix the todo in that test) as well as changes in the BookService because the Author is not automatically removed with the Book.

[2020-10-04 16:17] knjk04 commented on #417
Sure, I'll assign you this issue. Thanks!

I'll need to double-check, but I think we can achieve this using `orphanRemoval`

If you need a hand with this, feel free to get in touch with us over Slack (I saw that you recently joined)

[2020-10-04 16:20] knjk04 opened #422 "Add instructions for rewriting commits with name & author"
Lots of people have had issues where their name and/or email address attached to their commits is/are different from the name and/or email address associated with their GitHub account.

Add instructions in the contributing document on how to fix this (interactive rebase).

[2020-10-04 16:55] guctum commented on #415
@knjk04 hello, I can take a look at this if needed! Is there a specific class to look at to make these changes in?

[2020-10-04 17:10] #422 closed

[2020-10-04 17:12] knjk04 commented on #415
Thanks, @guctum! I'll assign you to the issue

This is in `ui/components/utils/ComponentUtil.java`

[2020-10-04 17:14] jhanna60 commented on #403
Hey I'd like to have a look at this please

[2020-10-04 17:17] knjk04 commented on #403
Thanks, @jhanna60! I'll assign you to the issue

[2020-10-04 18:09] #374 closed

[2020-10-04 18:29] Tom-private commented on #407
Hi @knjk04 ,
no, sadly not. I have never seen that issue.
The thing that you may recall is, that I had issues with using the app in docker while working on the frontend, because a rebuild of the project didn't seem to project the changes to the CSS.
My solution for that was to only start the database in docker and run the app directly in IntelliJ.

[2020-10-04 21:16] guctum commented on #415
@knjk04 quick question: in BookForm.java, following your proposed idea of converting the signature to Binder<> instead of the HasValue produces the following issue:
![Screen Shot 2020-10-04 at 5 12 20 PM](https://user-images.githubusercontent.com/22298395/95027217-dd0c5000-0664-11eb-882e-0aae0c73372b.png)
Are there better options that can be used for components? Not being very familiar with this c

[2020-10-04 21:17] ShreyaPrabhu commented on #222
@knjk04 I will be unassigning myself from this issue as I wont be able to work on it.

[2020-10-05 08:34] dmitraver commented on #407
I could look into this one.

[2020-10-05 11:44] knjk04 commented on #415
@guctum To fix this error, you would need to pass in `binder` (which is of type `Binder`).

If you need further help, please reach out to us on our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw) workspace and we'll be happy to help

[2020-10-05 11:44] knjk04 commented on #222
@ShreyaPrabhu No problem, thanks for letting us know

[2020-10-05 11:47] knjk04 commented on #407
@dmitraver Sure, thanks!

[2020-10-05 11:52] knjk04 commented on #320
@Burhak How are you getting on with this issue? If you need more time, that's fine, just let us know.

[2020-10-05 12:00] knjk04 commented on #351
@Anoop01234 I've been thinking about this and I think it would be better to have a class diagram rather than an entity-relationship diagram. Since ER diagrams are more closely aligned with database tables, I think a class diagram is a better fit.

Are you happy with this change? If so, could you represent the different relationships between the classes (e.g. the entities should inherit from `BaseE

[2020-10-05 13:55] #373 closed

[2020-10-05 14:09] #350 closed

[2020-10-05 14:44] #375 closed

[2020-10-05 14:57] knjk04 opened #427 "Unable to change the name of an author"
**Describe the bug**

An exception is thrown when there is an attempt to try to change the name of an author.

**To Reproduce**
Steps to reproduce the behaviour:
1. Log in
2. Go to 'My books'
2. Select a shelf
3. Click on a row
4. Change the name of an author's first or last name
5. See error

**Expected behaviour**

The name should be changed and the grid should update to show the new name.

**Ad

[2020-10-05 15:57] #371 closed

[2020-10-05 16:01] #252 closed

[2020-10-05 16:17] jhanna60 opened #429 "Refactor the BaseService"
Hi there,

As described in the Slack channel I have identified that the BaseService is no longer fit for purpose and propose to refactor this to split up the functionality in the services into relevant Interfaces that the services can then implement. This will support composition over inheritance and better serve the current services.

I'm happy to pick this one if you wish to assign it back to me

[2020-10-05 16:23] knjk04 commented on #429
Thanks, @jhanna60!

[2020-10-05 17:10] knjk04 opened #430 "Refactor book & author filter to use derived query"
Update: we also need to filter by the chosen shelf

If a user passes in an author or book to filter by, we should use a derived query. This derived query would be implemented in `BookRepository` and there will be a wrapper in `BookService`. It should something like:

[code]

There should also be accompanying tests to ensure this works as intended. We recommend approaching this using test-driven de

[2020-10-05 17:20] AndreaSmetankova commented on #212
Hi, is this issue still open? I'm new in open source and I would like to start with this issue as my first one.

[2020-10-05 17:21] knjk04 commented on #212
@AndreaSmetankova It is, I'll assign you to this issue. Thanks!

[2020-10-05 17:28] esalcidom commented on #430
Hi @knjk04, I would like to help on this.

[2020-10-05 17:32] knjk04 commented on #430
Sure, I'll assign you to the issue. Thanks!

[2020-10-06 04:19] Anoop01234 commented on #351
Can you please elaborate a bit more? Also, the diagram that I had made is a class diagram only.
And the arrows themselves represent inheritance, I can add that part. Is there anything other than this that you want me to add?

[2020-10-06 04:21] Baibhab97 commented on #427
@knjk04  I would like to take this up.

[2020-10-06 05:20] #361 closed

[2020-10-06 05:22] knjk04 commented on #427
Sure, I'll assign you to the issue. Thanks!

[2020-10-06 10:05] mimarcincin commented on #226
Hello, I would like to do this. Can you assign me?

[2020-10-06 11:06] Burhak commented on #320
@knjk04 I just need a couple more days to submit a PR

[2020-10-06 11:53] knjk04 commented on #226
Sure, I'll assign you to the issue. Thanks!

[2020-10-06 11:54] knjk04 commented on #320
@Burhak No problem, thanks for letting us know

[2020-10-06 11:54] davidlevinwork commented on #397
This is still an isuue?
If so, pliz assign me

[2020-10-06 12:29] mofiebiger commented on #393
Great! Thank you @knjk04 for getting back to me so quickly! I will finish refactoring the tests once this PR is merged - https://github.com/Project-Books/book-project/pull/398

[2020-10-06 13:06] MatusMaliar commented on #211
Hello, i am interested in working on this issue.
Thank you, Matus

[2020-10-06 14:19] knjk04 commented on #211
@MatusMaliar Thanks, I'll assign you to the issue

[2020-10-06 14:24] knjk04 commented on #397
@davidlevinwork Sorry, this has already been assigned. Feel free to request to be assigned to an open, unblocked issue that is unassigned

[2020-10-06 15:03] knjk04 commented on #351
@Anoop01234 Could you add the different relationships between classes (e.g. association, aggregation, composition, etc.)

[2020-10-06 17:11] #418 closed

[2020-10-06 17:45] schrothbn commented on #427
Since my other assigned issue is on hold for now, I can take a look into this one if wanted?

[2020-10-06 17:50] #403 closed

[2020-10-06 17:52] knjk04 commented on #427
@schrothbn Sure, that would help a lot! Thanks!

[2020-10-06 18:14] #402 closed

[2020-10-06 18:27] #376 closed

[2020-10-06 19:20] dmitraver commented on #261
I've created a PR to disable the warning for now as its not clear if there is a performance issue when this option is enabled(which is the case now) but at least it fixes the warning during application startup.

[2020-10-06 19:59] GabrielCsik commented on #198
Hello @knjk04  I'm new here and I would like to contribute to the project. Can I work on this issue?

[2020-10-06 20:19] GabrielCsik commented on #216
Hello! Could I work on this issue? I'm new here and I would like to contribute.
Thanks!

[2020-10-06 23:18] c99SRS commented on #245
Hi @knjk04 , Can I work on this, please?

[2020-10-06 23:23] c99SRS commented on #77
Hi @knjk04 , Can I work on this?

[2020-10-07 05:19] knjk04 commented on #216
@GabrielCsik Sure, thanks!

[2020-10-07 07:26] schrothbn commented on #427
@knjk04 I can't reproduce the exact same stacktrace. The stacktrace suggests that the binder in BookForm is null according to line numbers. I can reproduce wrong behavior though, with different causes/errors.

Can you make sure, that you can still produce that stacktrace with the steps mentioned above on current master version? Just so i know if that specific Exception is os-specific or fixed alre

[2020-10-07 12:11] knjk04 commented on #245
Sure, I'll assign you to the issue. Thanks!

[2020-10-07 12:12] knjk04 commented on #77
Unfortunately, we only [assign one issue at a time to new contributors](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time). Once you've completed your other issue, if this issue is still unassigned, feel free to request to be assigned

[2020-10-07 16:05] hgky95 commented on #230
Hi @knjk04
Please assign it to me. Thank you.

[2020-10-07 17:44] harshiniwho commented on #416
Hey! Sorry, but there is something wrong with my local maven configuration/eclipse (it has been a while since I used it). You can un-assign me, so that someone else can work on this!

[2020-10-07 17:44] knjk04 commented on #230
@hgky95 Thanks for taking an interest in this. Before I assign you, could you please discuss your implementation approach with us?

[2020-10-07 17:45] knjk04 commented on #416
@harshiniwho OK, thanks for letting us know

[2020-10-07 17:50] GabrielCsik commented on #216
@knjk04 I accidentally unassigned myself... could you reassign me?

[2020-10-07 18:22] #399 closed

[2020-10-07 18:44] knjk04 opened #434 "Refactor CustomShelfUtils to have static methods"
Currently, `CustomShelfUtils` is a utility class that needs to be instantiated. Refactor this so that it cannot be instantiated and its methods are all static

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-07 18:49] knjk04 opened #435 "Refactor PredefinedShelfUtils to have static methods"
Currently, `PredefinedShelfUtils` has non-static methods and needs to be instantiated. Refactor this so it cannot be instantiated and all of its methods are static

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-07 18:49] knjk04 opened #436 "Refactor PredefinedShelfUtils to have static methods"
Currently, `PredefinedShelfUtils` has non-static methods and needs to be instantiated. Refactor this so it cannot be instantiated and all of its methods are static

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-07 19:19] daviduster commented on #436
Hi! @knjk04, I would like to help on this

[2020-10-07 19:20] PirtiXcode commented on #436
Hey I want to contribute on this issue.

[2020-10-07 19:30] tw-ayush commented on #434
I can check this.

[2020-10-07 19:40] richnavska commented on #434
Hello, this issue is interesting to me and I would like to contribute on it. Thank you!

[2020-10-07 20:22] mareksmelko777 commented on #416
Hello, I would like to contribute on this issue. Thanks @knjk04

[2020-10-07 20:34] inhundreds commented on #312
An update (sorry but I've been busy lately):
- the problem is not only in AuthorTest.java but also in BookServiceTest.validBookSaved() if you try to save the same book 2 times it will throw the same exception.

I'm looking to reproduce the same exception in a simpler setting.

Bye,
Diego

[2020-10-08 00:26] pnpninja commented on #436
May I?

[2020-10-08 02:08] pnpninja commented on #436
When you mean all of its methods - what about the methods that need PredefinedShelfService that gets defined in the constructor?

[2020-10-08 02:20] pnpninja commented on #436
I can autowire the PredefinedShelfService, make it static and then make all methods static. Is that a good idea?

[2020-10-08 02:33] hgky95 commented on #230
My approach is:
- Defined a fixed `PredefinedShelfs` list with 4 items and we just need create 1 times when the application start.
- Change the constructor  of `PredefinedShelfs` to private.
- Adapt changes.
Thank you.

[2020-10-08 02:39] pnpninja commented on #436
If you say yes to the last comment, I have already made those changes

[2020-10-08 03:11] pnpninja commented on #430
Can I work on this? And if i complete before @esalcidom , can you assign me on this and accept my pull request?

[2020-10-08 03:32] pnpninja commented on #434
Hi, Please assign me the issue as I have already written the fix for it

[2020-10-08 05:18] #391 closed

[2020-10-08 05:27] knjk04 commented on #435
Sure, I'll assign you to the issue. Thanks!

[2020-10-08 05:29] knjk04 commented on #416
@mareksmelko777 Sure, I'll assign you to the issue. Thanks!

[2020-10-08 05:29] #309 closed

[2020-10-08 05:30] knjk04 commented on #436
@daviduster Sure, I'll assign you to the issue. Thanks!

[2020-10-08 05:31] knjk04 commented on #436
@PirtiXcode Sorry, David asked before you. I also noticed that you have already requested to be assigned to an issue. Please note that, as per our contributing guidelines, we only assign one issue at a time to new contributors

[2020-10-08 05:33] knjk04 commented on #436
@pnpninja Sorry, I have already assigned the issue. Please note that, as per our contributing guidelines, we expect contributors to wait to be assigned before working on the issue. I know you already created a pull request, but as David asked first, I'm afraid we won't be able to accept your pull request for this issue.

If you would like to request to be assigned to a different issue that is unas

[2020-10-08 05:36] knjk04 commented on #430
@pnpninja Sorry, it's already assigned.

Sorry, that's not the way we work.

[2020-10-08 05:36] knjk04 commented on #434
@tw-ayush Thanks, I'll assign you to the issue!

[2020-10-08 05:37] knjk04 commented on #434
@richnavska Sorry, this issue has already been requested

[2020-10-08 05:37] knjk04 commented on #434
@pnpninja  Sorry, this issue has already been requested

[2020-10-08 14:06] pnpninja commented on #436
@knjk04 please assign me to something unassigned and unblocked then..

[2020-10-08 14:06] knjk04 commented on #356
@raulsoledispa This issue is now available again. Are you still interested in working on this?

[2020-10-08 14:07] pnpninja commented on #436
Also @daviduster - feel free to use my fork and commit branch to get this issue solved

[2020-10-08 14:09] knjk04 commented on #436
@pnpninja I cannot assign you the issues you requested to be assigned to. If there's another issue that you would like to work on, please request to be assigned to it

[2020-10-08 14:46] raulsoledispa commented on #356
@knjk04  Yes please

[2020-10-08 17:45] hgky95 commented on #230
Hi @knjk04
Is the approach make sense to you?

[2020-10-08 17:52] knjk04 commented on #230
@hgky95 Yes, I was just thinking about your first point. How were you thinking of populating the database when the application starts?

[2020-10-08 18:11] #409 closed

[2020-10-08 19:34] Anoop01234 commented on #351
Is the diagram fine now? Or do I need to make more changes?

![image](https://user-images.githubusercontent.com/60193636/95505061-5db3af00-09cb-11eb-974d-7ff0818cf395.png)

[2020-10-08 21:47] pnpninja commented on #256
@knjk04 can i work on this?

[2020-10-09 00:33] lindnc5 commented on #81
Hi, can I be assigned to this?

[2020-10-09 05:43] knjk04 commented on #427
@schrothbn Thanks for bringing this up. I'll take a look this weekend

[2020-10-09 05:46] knjk04 commented on #256
@pnpninja Thanks for taking an interest in this. Let me first double-check the null part. Then, I'll unblock this and assign it to you

[2020-10-09 05:47] knjk04 commented on #81
Sure, I'll assign you to the issue. Thanks!

[2020-10-09 06:20] knjk04 opened #442 "Update table of contents in contributing document"
New sections have been added to the contributing document that needs to be added to the table of contents with links. They also need to be correctly indented in the table of contents.

[2020-10-09 11:48] Meena-dev commented on #442
I would like to work on this issue.

[2020-10-09 11:50] knjk04 commented on #442
Sure, I'll assign you to the issue. Thanks!

[2020-10-09 12:47] Meena-dev commented on #442
Thank you. Working on this.
Found below sections to included in contents with links.
**Open-ended discussions
New contributors assigned to at most one issue at a time
Ensure your email address on your commits are correct
Rewriting pushed commits with a different email address
squashing commits
new files
Merge Conflicts
Resolving conversations**

Confirm if anything is missing ?
Do I need to create

[2020-10-09 13:45] StanislavFranko commented on #267
Is this issue still available?

[2020-10-09 15:03] Meena-dev commented on #442
I have done the changes and created pull request. Please verify and let me know if anything is required.

[2020-10-09 16:24] knjk04 commented on #429
As discussed in #433, we'll be removing the `BaseService` but not replace it with anything

[2020-10-09 16:24] #429 closed

[2020-10-09 16:38] knjk04 commented on #442
@Meena-dev Thanks, we'll review your pull request shortly. I noticed that you included all of the sections that need to be added to the table of contents, so that's good

[2020-10-09 17:16] jhanna60 opened #446 "Refactor the BaseService approach"
Hi @knjk04 as discussed I will pick up this issue of the Base Service and look to remove the dependency that it casts on the other services. Can you please assign back to myself.

Regards

---

If you need anything, feel free to get in touch with us over [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-09 17:17] knjk04 commented on #446
Thanks, John!

[2020-10-09 18:46] knjk04 opened #449 "Create wireframes for homepage"
Create a mockup design for the homepage that uses [Material UI](https://material-ui.com/) React components.

This may require lots of toing and froing, so feel free to go through this process on Slack.

[2020-10-10 14:09] #365 closed

[2020-10-10 14:19] knjk04 commented on #261
@dmitraver For the time being, I think it's best to disable OSIV rather than removing the warning. If you're happy to do this, I can assign you the issue.

[2020-10-10 14:53] knjk04 commented on #427
@schrothbn Yes, I'm still getting this on master. Which OS, JDK type (e.g. Oracle or Open) and JDK version are you using? Also, could you please post the stack trace that you're seeing

[2020-10-10 15:03] dmitraver commented on #261
Alright, will update my PR then.

On Sat, 10 Oct 2020 at 16:19, Karan Kumar <notifications@github.com> wrote:

--
Best wishes,
Dmitry Avershin.

[2020-10-10 15:06] dmitraver commented on #261
Updated PR to disable it.

[2020-10-10 15:12] #301 closed

[2020-10-10 15:27] schrothbn commented on #427
@knjk04 Ahh i see now. That seems a linux-specific problem then. Initially i tested it on Windows with OpenJDK11 and i didn't get a stacktrace at all, just the wrong behavior and an error popup from Vaadin, that was solved by my commit as well.

On my linux machine i get your stacktrace, will try to figure out how that NPE can happen now.

[2020-10-10 15:50] #442 closed

[2020-10-10 16:30] knjk04 commented on #351
@Anoop01234 Thanks for updating this.

Some feedback:

- For inheritance, could you please use unfilled arrows (direct lines are used to denote association)?
- `Author`, `Tag`, `ReadingGoal` and `CustomShelf` need to inherit from `BaseEntity`. This can be found by looking at those classes and seeing that they extend `BaseEntity`
- `CustomShelf` should inherit from `Shelf`
- The composition diamond

[2020-10-10 17:40] ofvoler commented on #449
I'd like to be assigned to this!

[2020-10-10 18:05] knjk04 commented on #449
Thanks! As discussed offline, I'll block this issue until we come up with some requirements

[2020-10-11 05:41] knjk04 commented on #337
@sumanth-thyagarajan How are you getting on with this issue?

[2020-10-11 05:43] knjk04 commented on #359
@prathyushasai How are you getting on with this issue? If you need more time or need some help, feel free to let us know

[2020-10-11 05:43] knjk04 commented on #362
@Anu-123-gif How are you getting on with this issue? If you need more time or need some help, feel free to let us know

[2020-10-11 05:45] knjk04 commented on #372
@shubhamgoel9 How are you getting on with this issue? If you need more time or need some help, feel free to let us know.

[2020-10-11 05:45] knjk04 commented on #377
@sreejithsev
How are you getting on with this issue? If you need more time or need some help, feel free to let us know

[2020-10-11 05:46] knjk04 commented on #389
@phylyps-trak How are you getting on with this issue? If you need more time or need some help, feel free to let us know

[2020-10-11 05:48] knjk04 commented on #397
@matheuscr30 How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-h6vx3n8l-KN8QnO50r7QWZHgHFnFdPw)

[2020-10-11 05:50] knjk04 commented on #312
Thanks for the update, @inhundreds!

[2020-10-11 05:51] matheuscr30 commented on #397
Sorry, I totally forgot about this. Can u reassign this to another person?

[2020-10-11 05:53] knjk04 commented on #397
@matheuscr30 That's fine. I'll unassign you

[2020-10-11 06:16] sreejithsev commented on #377
@knjk04,
Is this issue already resolved in #376 ? Could you please confirm?
This is the first time I am trying to contribute to a project. Kindly guide me, if I am wrong.

[2020-10-11 06:26] knjk04 commented on #377
@sreejithsev No, that's testing whether a null predefined shelf can be saved. This issue is for testing whether a valid predefined shelf can be saved

[2020-10-11 06:43] sreejithsev commented on #377
@knjk04
Kindly note, I have unassigned myself from #377.

[2020-10-11 06:49] knjk04 commented on #377
@sreejithsev Thanks for letting us know

[2020-10-11 07:08] Anu-123-gif commented on #362
Yes sir I am working on this issue, I'll ask my doubts on slack channel. Thanks!

[2020-10-11 08:26] knjk04 commented on #362
Great, thanks! Feel free to call me Karan

[2020-10-11 09:05] shubhamgoel9 commented on #372
On Sun, 11 Oct 2020 at 11:15 AM, Karan Kumar <notifications@github.com>
wrote:

Sorry karan, but i was busy with other stuffs. Can you please assign it to
anyone else if you have no problem.

[2020-10-11 09:43] knjk04 commented on #372
@shubhamgoel9 That's fine. Thanks for letting us know

[2020-10-11 10:20] LieT13 commented on #397
Hi, I want to contribute to the project and I thin this could be a good first issue to work. Can you assing it to me? Thanks!

[2020-10-11 10:50] knjk04 commented on #397
@LieT13 Sure, I'll assign you to the issue. Thanks!

[2020-10-11 13:32] CGAura commented on #377
Hi I can pick this up if still needing done

[2020-10-11 14:01] knjk04 commented on #377
@CGAura Sure, I'll assign you to the issue. Thanks!

[2020-10-11 14:03] CGAura commented on #377
@knjk04 perfect thanks.

[2020-10-11 14:32] knjk04 opened #454 "Update Slack invite links"
The Slack invite links have expired, so they need to be updated with a new link

[2020-10-11 16:52] #196 closed

[2020-10-11 17:16] #281 closed

[2020-10-11 17:59] knjk04 opened #455 "Add publisher entity"
**Describe the solution you'd like**
Add a publisher entity. There should be a one-to-many relationship between a `Publisher` and a `Book` (where a `Publisher` is the owner).

For now, the publisher entity should contain only one field (besides an ID that is inherited from `BaseEntity`): a name.

There only needs to be a respective repository and service.

**Additional context**
This is a backend-

[2020-10-11 18:04] knjk04 opened #456 "Add Book format"
**Describe the solution you'd like**

A user may want to keep track of different types of books. The `Book` entity should have a `BookFormat` enum as a member. For now, the `BookFormat` enum should contain the following values:

- Hardback
- Paperback
- eBook

---
If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite

[2020-10-11 18:13] knjk04 opened #457 "Add ISBN to book"
**Describe the solution you'd like**
Add a member for the `Book` entity to store ISBN (13). This should be stored as a String.

**Additional context**
This is a backend-only change.

---

If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace

[2020-10-11 18:22] knjk04 opened #458 "Add Language enum"
**Describe the solution you'd like**
Add a `Language` enum that contains a list of different languages that a book can be in.

More details to follow on what languages we want to initially include soon

[2020-10-11 18:26] GxPinheiro commented on #456
Could I get this issue ?

[2020-10-11 18:34] knjk04 commented on #456
Sure, I'll assign you to the issue. Thanks!

[2020-10-11 19:59] Anca07 commented on #457
Hi! I would like to work on this issue :)

[2020-10-11 21:27] Anoop01234 commented on #351
I will add or remove the entities in the future if you want. Other than this I have made changes as you mentioned. Also, I welcome any other further amendments in the diagram.

Could you please have a look at the updated diagram and tell me if there are any further changes?

![image](https://user-images.githubusercontent.com/60193636/95690570-665bed80-0c36-11eb-8431-bacd680581c2.png)

Also please

[2020-10-11 22:03] jhanna60 commented on #455
Hey can I take this one please

[2020-10-12 01:56] GxPinheiro commented on #456
Finished could you check please?
If everything is fine will check other issues

[2020-10-12 03:58] shwhite17 commented on #457
I would like to work on this issue, assign to me.

[2020-10-12 05:18] knjk04 commented on #457
@Anca07 Sure, I'll assign you to the issue. Thanks!

[2020-10-12 05:19] knjk04 commented on #457
@shwhite17 Sorry, Anca got there before you. Feel free to request to be assigned to another unblocked and unassigned issue

[2020-10-12 10:05] amit1307 opened #463 "Add a new REST endpoint to manage Book resource"
**This feature is to enable the UI migration from Vaadin to JS**
A new REST endpoint should be able to:

- Add a new book
- Update an existing book
- Get an existing book
- Delete an existing book

**Describe the solution you'd like**
The solution would be to introduce a new REST endpoint for managing Book resource. The endpoint would expose the APIs to achieve below:

- Save a new book into the d

[2020-10-12 15:20] knjk04 commented on #208
@sumanth-thyagarajan Apologies, this slipped past me. Sure, I'll assign you to the issue!

[2020-10-12 15:37] knjk04 commented on #54
@shreyamodi1999 Apologies for the delay, this slipped past me. Sure, I'll assign you to the issue!

If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace

[2020-10-12 15:38] knjk04 commented on #267
@StanislavFranko Sorry, I haven't been able to reproduce this. I'll block this until I'm able to do so

[2020-10-12 15:38] limJingYun commented on #372
Hi I would like to work on this issue.

[2020-10-12 15:39] knjk04 commented on #372
@limJingYun Sure, I'll assign you to the issue. Thanks!

[2020-10-12 15:57] knjk04 commented on #319
@shreyasirao How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-12 16:44] knjk04 commented on #351
@Anoop01234 Thanks for making the changes.

Book:
- `Book` should inherit from `BaseEntity`, but I can see that you're using association
- Sorry for changing my mind on this. Could you please replace the dependency relationship between `Book` and `RatingScale` to aggregation?

Shelf:
- The `Shelf` and `CustomShelf` inheritance arrow is the wrong away around. `CustomShelf` inherits from `Predefined

[2020-10-12 17:07] pnpninja commented on #455
can i take this pleae?

[2020-10-12 17:27] #261 closed

[2020-10-12 17:59] knjk04 opened #464 "Design a new logo"
Our logo is good, but it could be better. Design a logo that's a calligraphy drawing. It should contain the name 'Book Project' and be clearly legible.

The background should be transparent.

Deliverables: png at a fairly high resolution so that we can downscale it as needed.

[2020-10-12 19:18] ofvoler commented on #464
I'd like to do this one!

[2020-10-12 21:46] guctum commented on #415
@knjk04 thanks for the patience and advice with this! Life got super busy, so I just got the chance to actually read and execute. PR has been opened, please let me know if there's anything further you need from me with this. Awesome project to work on here!! Gonna go look for more hacktoberfest issues with this project. With this said, can I get a new invite link to Slack? If I'm going to pick up

[2020-10-13 12:05] tw-ayush commented on #463
I guess on the back end it can be achieved by just adding CRUD methods on BookRepo.

[2020-10-13 12:05] knjk04 commented on #464
Thanks!

[2020-10-13 13:57] knjk04 commented on #455
@jhanna60 Thanks for expressing an interest in this. Unfortunately, we only [assign one issue at a time to new contributors](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#new-contributors-assigned-to-at-most-one-issue-at-a-time). Once you've completed your other issue, if this issue is still unassigned (e.g. if the person that this is assigned to drops out), feel free t

[2020-10-13 13:58] knjk04 commented on #455
@pnpninja Sure, I'll assign you to the issue

[2020-10-13 14:59] knjk04 commented on #415
@guctum

My pleasure, I'm glad I helped.

Thank you for your kind words!

Sure, here's a [Slack invite](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

I like Java, and I don't really know frontend languages and frameworks. Vaadin's a well designed and documented library.

With that said, I was aware that it may not be scalable, so from early in, I inclu

[2020-10-13 15:15] knjk04 commented on #463
@tw-ayush I was thinking we could add the new mappings in a new class within a new controller package. What do you think, @amit1307?

[2020-10-13 15:35] knjk04 opened #468 "Fix serialize-javascript vulnerability"
serialize-javascript has a vulnerability on versions before 3.1.0. This should be updated without breaking anything.

For information on why this is an issue: https://github.com/advisories/GHSA-hxcc-f52p-wc94

[2020-10-13 15:55] amit1307 commented on #463
Sorry I didn't get both the comments.

What do we exactly mean by that? Are we saying by doing that we don't need to expose the APIs?

What do we mean by mappings here?

[2020-10-13 16:23] amit1307 commented on #463
Oh okay got it now, I think we should have a separate class for that which just defines all our exposed end points and what they return/accept/query params etc. That class should receive the client request and convert it into our domain object and delegate the request to our service layer for further processing. In future we would also want to include some security for our APIs. Having them in a d

[2020-10-13 16:47] tw-ayush commented on #463
yup this is what i was talking about.
Adding a controller, service/business and then a DAO/Repo/IO layer.

[2020-10-13 16:47] tw-ayush commented on #463
I can sign up for this.

[2020-10-13 17:20] knjk04 commented on #211
@MatusMaliar How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-13 17:21] knjk04 commented on #212
@AndreaSmetankova How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-13 17:27] AndreaSmetankova commented on #212
I'm working on it, but I'm new at java and there many other technologies than I'm not familiar with so it probably take some time.

Thank you for offering help ...I probably use in the near future :)

[2020-10-13 17:28] #397 closed

[2020-10-13 17:28] knjk04 commented on #212
@AndreaSmetankova No problem, let us know if you need anything

[2020-10-13 17:49] amit1307 commented on #463
Hey sorry but this issue is already assigned, would you like to have a look at other issues (there are plenty of them!)

[2020-10-13 17:52] tw-ayush commented on #463
oh i didn't know you were gonna work on it. But yes i'll have a checkout on other issues.

[2020-10-13 18:01] tw-ayush commented on #458
One option is - With MySQL you can actually create a type enum in db and JPA allows to enumerate a value in code (implies easy ORM).
But if the number of languages grow beyond let say 10 or 15 creating a type enum will not be good option, also each book in a different language will become a new entry in DB and thus not very user friendly.

What can be done here is adding another table like stock t

[2020-10-13 18:04] tw-ayush commented on #246
@knjk04 do you want this to be unique in DB and a handling on code side?

[2020-10-13 18:37] knjk04 commented on #246
@tw-ayush Yes, there should no custom shelves with duplicate names (case insensitive)

[2020-10-13 23:37] MatusMaliar commented on #211
Hi, i had some trouble setting up the project environment and learning project structure, but im working on the issue and i just need a few more days to finish it properly.
Matus

[2020-10-14 00:47] pnpninja commented on #455
Delivery time - 24 hours from now

[2020-10-14 05:25] knjk04 commented on #211
That's fine. Thanks for letting us know!

[2020-10-14 08:06] tw-ayush commented on #246
okay, i guess you can assign this to me, I'll add some constraints.

[2020-10-14 15:50] tmrd993 commented on #468
`npm audit` shows several additional errors for me. I fixed all of them along with the serialize-javascript vulnerability.

These are the errors shown. Can you verify if you get the same errors?
[code]

[2020-10-14 16:48] wpater commented on #468
Hello, I would like to fix this issue.
I know that you @tmrd993 were first, if you want you can take it.

[2020-10-14 17:03] knjk04 commented on #468
@tmrd993 Do the errors go away if you run `npm install`?

Also, would you be interested in picking up this issue?

[2020-10-14 17:06] tmrd993 commented on #468
They do.

Sure but since @wpater already made a commit, I'll let him take this one.

[2020-10-14 17:35] #393 closed

[2020-10-14 17:58] tw-ayush commented on #458
@knjk04 any thoughts?

[2020-10-14 21:44] pnpninja commented on #455
Hey, I added the model, repo and service.

I'll add the tests and then we can merge

[2020-10-15 00:20] pnpninja commented on #455
Hey - i needed some clarifications about the tests.

I see that Book takes the Author in its constructor. What about Publisher? Do we take that in the constructor? Or do we just keep that an optional parameter?

[2020-10-15 01:15] pnpninja commented on #455
Please review PR

[2020-10-15 01:16] pnpninja commented on #458
@tw-ayush I agree with your opinion. @knjk04 needs to sign off. @knjk04 can I take this?

[2020-10-15 11:48] knjk04 commented on #455
Having it as an optional parameter would be good for now. Thanks!

[2020-10-15 11:49] knjk04 commented on #458
@tw-ayush Thanks for your suggestion. I'll look into this over the weekend

[2020-10-15 13:18] tw-ayush commented on #458
@knjk04 Cool lemme know once done.
@pnpninja actually i wanted to sign-up for this if you don't mind.

[2020-10-15 15:02] knjk04 commented on #80
@djnautiyal
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-15 15:04] knjk04 commented on #226
@mimarcincin
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-15 15:04] knjk04 commented on #245
@c99SRS
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-15 15:06] knjk04 commented on #416
@mareksmelko777
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-15 15:07] knjk04 commented on #430
@esalcidom
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-15 15:47] djnautiyal commented on #80
Hi @knjk04 , I'm still studying on the issue. Have joined the slack group, and will connect once I have something substantial. Thank you for asking

[2020-10-15 16:29] mimarcincin commented on #226
Hello, yes please I will need a few weeks. I will inform you about
everything.
And thanks I will use Slack for sure.

Michal Marcincin

št 15. 10. 2020 o 17:04 Karan Kumar <notifications@github.com> napísal(a):

[2020-10-15 17:38] mareksmelko777 commented on #416
@knjk04 I will pull it tonight, thanks for the patience.

[2020-10-15 22:37] c99SRS commented on #245
Hi @knjk04 , I had a few issues with setting up the project. I fixed that one. Currently, I am investigating the issue. I think I need a little bit more time.

[2020-10-16 03:05] prathyushasai commented on #359
Doing well, just a bit bogged down with work. Will be making progress this weekend!

[2020-10-16 05:17] hgky95 commented on #230
@knjk04 Sorry for the late reply. I was busy some days ago.
I might misunderstand the requirement and now I get your idea. So if we want to populate the database when the application starts, we can create a new SQL file and put in the migration folder -> flyway will handle the it.
The file will have the content like:
`INSERT INTO predefined_shelf (id, shelf_name, predefined_shelf_name) VALUES
(11,

[2020-10-16 05:25] knjk04 commented on #230
@hgky95 Thanks, I'll look into this shortly and get back to you.

Here's an updated Slack invitation (it seems our invitations only last for thirty days): https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ

[2020-10-16 16:21] knjk04 commented on #81
@lindnc5 How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-16 16:35] knjk04 opened #479 "Make password strength tests parameterized"
In `UserTest.java` , we have the following three tests:

[code]

**Context:**

'Weak', 'fair' and 'good' refer to password strengths (you can try this out by running the app). The problem here is that the shape of each of these three tests are the same: we construct an invalid user, try to save it and then assert that the number of users saved (userRepository.count()) has not changed (== initialNu

[2020-10-16 16:36] knjk04 commented on #479
This issue has already been offered to someone. If they do not claim it within seven days, we will open this up to everyone else

[2020-10-16 17:35] SeonghoLee4 commented on #479
I would like to be assigned to this one!

[2020-10-16 17:57] knjk04 commented on #479
@SeonghoLee4 Thanks!

[2020-10-17 11:01] knjk04 opened #481 "'Good' password is valid"
**Describe the bug**

In `UserTest.java`, a user with a 'good' password is saved in `testValidUserSaved()`.

This appears to only affect the backend.

**Expected behaviour**

We should only allow strong and very strong passwords on the backend.

We also need to update the test so that it still passes (i.e. a 'strong' password is passed in)

**Additional context**

- [Test zxcvbn](https://lowe.gith

[2020-10-17 11:07] knjk04 opened #482 "Replace magic values with values from enum"
`setPasswordStrengthMeterColor()`:

[code]

For the case labels, we can use the strength number from our `PasswordStrength` instead.

[2020-10-17 11:47] shreyanshrs44 commented on #481
@knjk04 I would like to work on this issue, can you please assign this to me ? Thanks

[2020-10-17 11:55] knjk04 commented on #481
@shreyanshrs44 Sure, I'll assign you to the issue. Thanks!

[2020-10-17 12:25] knjk04 commented on #366
Added to the wiki

[2020-10-17 12:25] #366 closed

[2020-10-17 12:37] #427 closed

[2020-10-17 13:13] #407 closed

[2020-10-17 13:24] schrothbn commented on #482
Hey I would help out if needed

[2020-10-17 13:25] knjk04 commented on #482
@bharatbahl Thanks! I'll assign you

[2020-10-17 13:53] knjk04 commented on #411
#421 did a lot of the work for this, so it can be used

[2020-10-17 14:54] schrothbn commented on #411
Would work on this if no one else wants that

[2020-10-17 15:35] schrothbn commented on #417
Hey @knjk04 did you get some time to look into this or should i just PR my changes?

[2020-10-17 16:06] knjk04 commented on #417
@schrothbn Thanks for following up on this. Honestly, I completely forgot, but I'll take a look today.

[2020-10-17 16:11] knjk04 commented on #435
@PirtiXcode I'm extremely sorry about this, but I duplicated this issue (see #436). This doesn't usually happen.

As someone else is already assigned to that and they asked first, I'm going to have to close this issue. They haven't responded to our feedback in a while, so if they don't get back to us within six days, I'll open this issue again and review your PR.

Again, I am very sorry, especiall

[2020-10-17 16:11] #435 closed

[2020-10-17 16:14] knjk04 commented on #411
@schrothbn Thanks again!

[2020-10-17 16:30] labradav commented on #77
Hi @knjk04 , can I work on this?

[2020-10-17 16:37] knjk04 commented on #77
@labradav Sure, thanks!

[2020-10-17 19:46] labradav commented on #77
Hey @knjk04 , I'm trying to run `mvn clean install` but getting the following error in Intellij:

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project book-project: Fatal error compiling: invalid target release: 11 -> [Help 1]`

I have selected the Project SDK version as Java 11. Any idea what I might be doing wrong?

[2020-10-17 19:50] PirtiXcode commented on #435
@knjk04 okay, i will choose another :(

[2020-10-17 22:33] Hassan-Elseoudy commented on #198
I'll take this if possible? @knjk04

[2020-10-18 00:35] MatusMaliar commented on #211
Hello, i finished the issue but i cannot create my own branch where i can push the code for review. Will you create the branch for me or do i have to be added as a collaborator to be able to create my own branch?

Matus

[2020-10-18 06:00] knjk04 commented on #77
Not at first glance, but feel free to join our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace and then we (myself or someone else) can help you out with this

[2020-10-18 06:02] knjk04 commented on #198
@Hassan-Elseoudy Thanks for your interest in this! Before I assign you, could you please describe your implementation approach?

[2020-10-18 06:05] knjk04 commented on #211
@MatusMaliar

You should be able to create your own branch. Did you try to create your branch on your fork (and not on this repository)?

I may be able to create a branch for you on your fork (if I have the necessary permissions), but feel free to join our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace and we can help you further with t

[2020-10-18 07:12] schrothbn commented on #345
Would like to work on that

[2020-10-18 07:31] knjk04 commented on #345
@schrothbn Sure, thanks!

[2020-10-18 07:50] Hassan-Elseoudy commented on #198
I'm thinking of applying State design pattern by creating more classes `states` , in this case `Entities`, A User's book can be only In one state, So for the database, when moving one state to another, a record will be deleted. and a record will be inserted in the new state table.

Example:

Book A begin with state `Not Started` then I perform action `moveToNextState()`, it moves to `In Progress`,

[2020-10-18 08:29] djnautiyal commented on #80
Hi @knjk04, I don't think I will be able to work on this. Kindly reassign the issue. Apologies for the trouble. I'll take up an easier issue.

[2020-10-18 08:32] knjk04 commented on #80
@djnautiyal That's fine, thanks for letting us know

[2020-10-18 08:45] #377 closed

[2020-10-18 09:48] knjk04 opened #486 "Add instructions for upstream"
Add instructions to the contributing document that link to GitHub's documentation on creating an upstream remote so that contributors can keep their fork in sync with this repository

[2020-10-18 10:04] #320 closed

[2020-10-18 11:00] lpegoraro commented on #389
Hey, I have a good idea how to fix this, can I get. I will open a PR soon. If @phylyps-trak don't mind.

[2020-10-18 11:02] knjk04 commented on #389
@phylyps-trak Unfortunately, as we have not heard from you a in a while, I am going to unassign you from this issue. This is in accordance with our contributing guidelines

[2020-10-18 11:02] knjk04 commented on #389
@lpegoraro Thanks for taking an interest in this issue. I'll assign you to it!

[2020-10-18 11:09] #457 closed

[2020-10-18 11:18] MatusMaliar commented on #211
Thank you, the problem was that i did not create fork before trying to make my own branch. I have commited the changes and made a pull request for your review, let me know if everything is ok.

Matus

[2020-10-18 11:26] lpegoraro commented on #389
@knjk04 thanks!

[2020-10-18 11:30] knjk04 commented on #198
@Hassan-Elseoudy Sounds good, I'll assign you to the issue. Thanks!

[2020-10-18 12:41] tw-ayush commented on #278
@knjk04 this could rather be broken into 2 smaller tasks, implementing a mailing service which accepts a mail template and another one can be integration.

also having a mailing service/ class little close to generic will be more useful from scalability prospective. (for start take the complete message as a string parameter)

[2020-10-18 12:44] tw-ayush commented on #246
@knjk04 ??

[2020-10-18 12:52] knjk04 commented on #246
@tw-ayush Apologies for the delay in getting back to you. I wanted us to review your existing PR first as, in line with our contributing guidelines, we only assign one issue at a time to new contributors.

Also, I'll temporarily block this issue until more information has been provided (e.g. the exact reproduction steps). If you're able to reproduce this, then feel free to let us know the steps.

[2020-10-18 12:53] knjk04 commented on #278
@tw-ayush Thanks for your suggestion. We'll review this closer to when we are thinking of implementing this (which may be some time)

[2020-10-18 13:09] knjk04 commented on #77
@labradav As discussed over Slack, I've provided some more context

[2020-10-18 14:06] #468 closed

[2020-10-18 14:08] knjk04 opened #489 "Upgrade Vaadin to 14.4.1"
With 14.4.0, the development server runs quicker, so should upgrade

[2020-10-18 14:21] shreyanshrs44 commented on #481
@knjk04
1. We need to write test-case to check for Strong passwords.
2. In test testValidUserSaved() we should only allow user with Strong passwords to be saved.
Am I correct ?

[2020-10-18 15:37] #411 closed

[2020-10-18 16:27] knjk04 commented on #481
@shreyanshrs44 I've updated the issue description (the method name has changed).

We have a test for that `beSavedIfValid()` (formerly `testValidUserSaved()`, but it's currently accepting a 'good' password, which should not be allowed.

Correct. We'll need to modify the backend to not allow 'good' passwords

[2020-10-18 17:51] knjk04 commented on #337
@sumanth-thyagarajan Unfortunately, as we have not heard from you in a while, I will unassign you from this issue

[2020-10-19 12:13] knjk04 opened #493 "Add year of publication to the Book entity"
**Describe the solution you'd like**
Add a year of publication attribute to the `Book` entity. This should be an optional field.

---

If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace

[2020-10-19 12:30] michiboo commented on #493
Hi Can I have a go at this issue?

[2020-10-19 12:34] knjk04 commented on #493
@michiboo Sure, I'll assign you to the issue. Thanks!

[2020-10-19 16:14] knjk04 commented on #54
@shreyamodi1999
How are you getting on with this issue? If you need more time, that's fine, but please let us know.

If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

[2020-10-19 16:15] knjk04 commented on #208
@sumanth-thyagarajan
How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-10-19 16:18] knjk04 commented on #319
@shreyasirao
Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-10-19 20:48] spinnycodess commented on #493
can i try this? hopefully i will know what to do, total n00b

[2020-10-20 05:17] knjk04 commented on #493
@spinnycodess Sorry, this is already assigned. Feel free to request to be assigned to an unblocked and unassigned issue

[2020-10-20 06:27] #489 closed

[2020-10-20 07:08] knjk04 commented on #337
This still fails with Maven

[2020-10-20 08:27] MatusMaliar commented on #211
Hi, did you get a chance to look into the new PR i uploaded? I hope i fixed all the styling errors.

Thank you. Matus

[2020-10-20 16:57] QasimKhan5x commented on #394
I'd like to do this.

[2020-10-20 21:24] lindnc5 commented on #81
Making progress on this again now, got a little busy.

[2020-10-21 05:17] knjk04 commented on #394
@QasimKhan5x Sorry, this issue is blocked. Feel free to request to be assigned to an unblocked and unassigned issue

[2020-10-21 11:19] QasimKhan5x opened #494 "Replace deprecated class"
Upon building the project, I got two warnings of a deprecated class in [SecurityUtils.java](https://github.com/Project-Books/book-project/blob/master/src/main/java/com/karankumar/bookproject/security/SecurityUtils.java). The ServletHelper class was being used, which is deprecated as per [Vaadin guidelines](https://vaadin.com/api/platform/14.4.1/deprecated-list.html). I have replaced it and its usa

[2020-10-21 11:37] knjk04 commented on #494
@QasimKhan5x Thanks for bringing this to our attention. Would you be interested in creating a pull request for this?

[2020-10-21 11:46] QasimKhan5x commented on #494
yes

[2020-10-21 13:22] inhundreds commented on #312
Hello Karan, the problem in AuthorTest is that the toRead object keeps a reference to a book that is removed with the resetBookService() method.

Fixing this, though, I found that the beRemovedWhenOrphan test is also broken. It assumes that authors without books are removed from the repository but I can't find this implementation anywhere in the code. That test was working by chance.

I suggest to

[2020-10-21 13:37] Anu-123-gif commented on #54
@knjk04 is this issue still open ,if so can I work on this now?

[2020-10-21 16:11] knjk04 commented on #54
@Anu-123-gif For now, this is closed. In line with our contributing guidelines, if Shreya does not respond in five more days, I'll unassign Shreya. Only then can I assign it to you

[2020-10-21 17:57] QasimKhan5x commented on #494
@knjk04 can I be assigned this issue, please?

[2020-10-21 18:14] knjk04 commented on #494
@QasimKhan5x Thanks, I've assigned you to the issue

[2020-10-22 04:25] arjunrc143 commented on #486
Hi @knjk04 Can I take this up?

[2020-10-22 04:56] arjunrc143 commented on #486
Created a PR: Please review: https://github.com/Project-Books/book-project/pull/497

[2020-10-22 05:19] knjk04 commented on #486
@arjunrc143 Unfortunately, this issue is unassigned. Feel free to request to be assigned to an unblocked and unassigned issue.

[2020-10-22 05:25] prathyushasai commented on #359
Hi @knjk04,

Sorry for the delay!

There were two approaches that I am considering. Let me know which is preferred. The methods in both approaches will be called in the `save()` function and return a boolean value and the `Tag` entity will have a public getName() function that returns the String name.:
1. Create a method to check for duplicate values. Use `findAll()` to get a list of tags. Iterate

[2020-10-22 05:43] arjunrc143 commented on #486
@knjk04 Can you please assign this to me?

[2020-10-22 05:47] knjk04 commented on #359
Hi @prathyushasai.

No problem.

Approach two seems better. In `TagRepository.java`, we could have a `findByName` method (Spring Data JPA will be able to run a query for us).

Good question! We would eventually want to show an error message so that the user is informed if they try to save a duplicate tag. However, as we haven't implemented tags on the frontend yet (we'll be saving it for when we s

[2020-10-22 05:48] knjk04 commented on #486
@arjunrc143 Unfortunately, as I have already mentioned, this issue is assigned

[2020-10-22 05:58] arjunrc143 commented on #486
Ok cool. I think there is a typo in the other comment, assigned to unassigned :P. Will check other issues. Thanks

[2020-10-22 06:53] knjk04 commented on #211
@MatusMaliar Thanks for creating the PR. We haven't had a chance to look just yet -- during the week, we tend to have less time, so we'll take a look over the weekend.

There may also be a further delay as we have a backlog of work to get through, but we will get to your PR as soon as we can

[2020-10-22 06:57] knjk04 commented on #312
@inhundreds Thanks for the update, Diego. I'll take a look at this over the weekend.

@schrothbn I think you noticed the same thing?

[2020-10-22 07:44] schrothbn commented on #312
@knjk04 Yes that's true. Actually that test was working on PR #485 because i needed to change the test setup for fixing the test in the ticket. Was done on an now older version of master though, something might've broken it since then.

[2020-10-23 13:25] Kapileson commented on #246
Hi, I would like to work on this issue. Could you assign me?

[2020-10-24 07:27] knjk04 commented on #464
(Discussed over Slack)

[2020-10-24 09:08] knjk04 opened #499 "Publish Javadoc"
**Is your feature request related to a problem? If so, please describe.**
As our project grows, it may become harder for new contributors to contribute.

**Describe the solution you'd like**
To make it easier, we should publish our Javadoc. We can use [javadoc.io](https://javadoc.io/). If so, we would need to first publish the app to Maven or Bintray

**Additional context**
- Add Javadoc badge to

[2020-10-24 12:40] knjk04 commented on #436
Removing the 'hacktoberfest' label as we may not be able to get this merged in before the 31st of October, but this is still up for grabs

[2020-10-24 12:41] knjk04 commented on #339
Removing the 'hacktoberfest' label as we won't be able to get this merged in before the 31st

[2020-10-24 12:42] knjk04 commented on #222
Removing the 'hacktoberfest' label as we won't be able to get this merged in before the 31st

[2020-10-24 12:42] knjk04 commented on #146
Removing the 'hacktoberfest' label as we won't be able to get this merged in before the 31st

[2020-10-24 12:51] knjk04 commented on #63
@anotherfathead I'm very sorry for the delay in getting back to you. I thought I had responded to this

No, just the backend

All are correct

That seems good to me!

Unfortunately, as there's only a week left before the end of the month, we may not be able to get your PR merged in before the 31st, so I'll remove the 'hacktoberfest' label. Would you still be interested in working on this?

[2020-10-24 12:54] knjk04 commented on #230
@hgky95 Sorry for the delay in getting back to you. Your implementation approach sounds fine.

Unfortunately, if you were to work on this, we may not be able to merge your PR in by the 31st of October, so I'll remove the 'hacktoberfest' label. Would you still be interested in working on this?

[2020-10-24 12:59] knjk04 commented on #81
@lindnc5 Thanks for the update. So that we know whether we'll be able to get time to review and merge your PR in before the 31st of October (for Hacktoberfest), do you have an idea of when you'll have this completed by?

[2020-10-24 13:01] knjk04 commented on #226
Sure. Unfortunately, I'll have to remove the 'hacktoberfest' label as I don't think we'll get the time to review and merge your PR in before the 31st of October. Hopefully, this is fine.

Also, could you please provide us with a date of when this will be finished by?

[2020-10-24 13:04] knjk04 commented on #245
@c99SRS Thanks for the update. Could you please provide us with a date of when this will be completed by? As this is a high priority bug, we need to complete this quickly.

Also, as we're nearing the end of the month, I think it's unlikely we'll be able to review & merge your PR before the 31st of October. I'll remove the 'hacktoberfest' label. Hopefully, you are fine with this, but please let us

[2020-10-24 13:06] knjk04 commented on #359
@prathyushasai As we're nearing the end of the month, I think it's unlikely that we'll get a chance to review and merge your PR in before the 31st of October. I'll remove the 'hacktoberfest' label. Are you still happy to work on this?

[2020-10-24 13:17] knjk04 commented on #481
@shreyanshrs44 As we're nearing the end of the month, I think it's unlikely we'll be able to review & merge your PR in before the end of Hacktoberfest. I'll remove the 'hacktoberfest' label.

Are you still interested in working on this? If so, could you please let us know when this will be completed by? As it is a high-priority bug, we need to get this fixed as soon as possible

[2020-10-24 14:25] #372 closed

[2020-10-24 15:12] #362 closed

[2020-10-24 16:59] #482 closed

[2020-10-24 17:25] knjk04 opened #500 "Unable to change the name of an author"
**Describe the bug**

Unable to change the name of an author.

**To Reproduce**
Steps to reproduce the behaviour:
1. Log in
2. Go to 'My books'
3. Select 'All books'
4. Select an author
5. Change the first name
6. See error

**Expected behaviour**

The author name changes

**Additional context**

[Stack trace](https://gist.github.com/knjk04/1ec9ca9d9a02f1ff3e61e75deefb905a)

[2020-10-24 17:37] knjk04 opened #501 "Unable to delete a book"
**Describe the bug**

Unable to delete an existing book.

**To Reproduce**
Steps to reproduce the behaviour:
1. Log in
2. Go to 'My books'
3. Select 'All shelves' from the dropdown list
4. Select a book
5. Click on 'delete'
6. See error

**Expected behaviour**

The book is deleted.

**Additional context**

[Stack trace](https://gist.github.com/knjk04/c0a6a9f7d8bf6fa2d2a61682059d6869)

[2020-10-24 19:45] elpsio commented on #500
Hello, I would love to tackle this issue. Gonna look into it starting from tomorrow. Would you be okay with that?

[2020-10-24 23:52] PirtiXcode commented on #501
Hey I want to contribute on this issue

[2020-10-25 06:13] knjk04 commented on #501
Thanks for taking an interest in this issue!

As this is a high-priority issue, we're looking to have this completed as soon as possible -- ideally within a week after being assigned.

Are you fine with this? If so, I can assign you to the issue

[2020-10-25 06:14] knjk04 commented on #500
@elpsio Thanks for taking an interest in this issue!

As this is a high-priority issue, we're looking to have this completed as soon as possible -- ideally within a week after being assigned.

Are you fine with this? If so, I can assign you to the issue

[2020-10-25 06:16] knjk04 commented on #246
@Kapileson Sorry, this issue is temporarily blocked. If @tw-ayush does not take this up, then I can assign it to you

[2020-10-25 06:17] knjk04 commented on #463
This is blocked while we look into whether we want to use REST or GraphQL

[2020-10-25 06:19] knjk04 commented on #77
@labradav I know you have a draft PR created for this. As you're still working on this, I think it's unlikely that we'll get time to review & merge before the end of Hacktoberfest, so I'll remove the label. Are you still happy to work on this?

[2020-10-25 06:21] knjk04 commented on #345
@schrothbn I don't think we'll get time to review & merge your work on this before the end of Hacktoberfest, so I'll remove the label. Are you still happy to work on this?

[2020-10-25 06:23] knjk04 commented on #216
@GabrielCsik I don't think we'll get time to review & merge this in before the end of Hacktoberfest, so I'll remove the label. Are you still interested in working on this?

I know you're waiting for me to look into this to provide some help. If I don't get time today, I may not be able to get back to you until next Sunday.

[2020-10-25 07:04] #417 closed

[2020-10-25 07:29] schrothbn commented on #345
Of course don't worry, i'm happy to help without hacktoberfest as well ,)

[2020-10-25 08:10] elpsio commented on #500
@knjk04 yea I am fine with that. :) Thank you!

[2020-10-25 08:11] knjk04 commented on #500
@elpsio Great, thanks!

If you need a hand with this, feel free to get in touch with us over our [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ) workspace

[2020-10-25 08:57] knjk04 opened #502 "Rename 'master' branch to 'main'"
Once GitHub has made the [switch seamless](https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-), rename the 'master' branch to 'main' (or something similar)

[2020-10-25 09:00] GabrielCsik commented on #216
@knjk04 it's okay, I don't worry about hacktoberfest. I would be happy if we could complete this issue in 2 weeks.

[2020-10-25 09:02] GabrielCsik commented on #216
I will try to work on it today as well, so if you have time to look at it today, that would be awesome.

[2020-10-25 09:17] #389 closed

[2020-10-25 12:59] #456 closed

[2020-10-25 13:09] #494 closed

[2020-10-25 13:13] knjk04 commented on #345
@schrothbn Great! How are you getting on with this issue?

[2020-10-25 15:15] andrewass commented on #80
@knjk04 May i work on this issue?

[2020-10-25 15:37] knjk04 commented on #80
@andrewass Sure, I'll assign you to the issue. Thanks!

[2020-10-25 15:58] schrothbn commented on #345
@knjk04 I'm pretty far with it, just need a bit more time to test it and update it with the Shelf-to-User-Relation that is new on master.

[2020-10-25 15:59] labradav commented on #77
@knjk04 Yes I would like to complete it irrespective of Hacktoberfest.

[2020-10-25 16:01] knjk04 commented on #77
@labradav That's great to hear, thanks!

[2020-10-25 16:04] knjk04 commented on #198
@Hassan-Elseoudy I've removed the 'hacktoberfest' label as I don't think we'll be able to review & merge this in before the end of the month. Are you still happy to work on this?

[2020-10-25 16:13] prathyushasai commented on #359
Hi @knjk04, Yes I am. Will still be working on it. I've implemented the initial structure. Just testing currently.

[2020-10-25 16:20] Hassan-Elseoudy commented on #198
I'm, yes

[2020-10-26 12:13] PirtiXcode commented on #501
Okay,I'll look into as soon as possible

[2020-10-26 13:01] knjk04 commented on #435
@PirtiXcode the person who created the PR didn't follow through. If you'd like, you can pick that issue up again. If so, please request to be assigned to it (#436)

[2020-10-26 17:26] knjk04 opened #507 "Investigate whether date predicate is correct"
[code]

We currently have the above date predicate to verify that a date is not in the future. Intuitively, it seems the whole expression should not be negated and that we need to negate the `date.isAfter()` boolean. Look into whether this is the case.

[2020-10-26 17:34] knjk04 opened #508 "Replace NotEmpty annotations with NotBlank"
Replace `NotEmpty` annotations with `NotBlank` (or add the annotation for the fields that don't have a `NotEmpty` annotation) for the following fields:
- Author `firstName`
- Author `lastName`
- Book `title`
- Shelf `shelfName`
- Tag `name`

There should also be accompanying tests so that if an annotation were to be removed, we got informed by virtue of a failing test.

[2020-10-26 18:23] cw40 commented on #198
I know some other people are working on this, but I'd love to take a look at this too.

[2020-10-26 18:24] knjk04 opened #509 "Add when to expect a review section to contributing section"
In our code reviews document, we mention that we strive to review all pull requests within seven days. This should also be mentioned in our contributing document.

[2020-10-26 18:24] knjk04 commented on #198
@cw40 Thanks for your interest in this. This is currently blocked, but I can get back to you when we decide to unblock this

[2020-10-26 18:29] knjk04 opened #510 "Add NonNull annotations to save and delete methods in services"
In our services, in some cases, it is possible to pass in null. In other cases, we 'silently fail' by wrapping the save or delete operation in a if (entity.isNotNull()) condition.

Instead, we'd like to fail fast by throwing a null pointer exception. To avoid boilerplate checks, we can use Lombok's `@NonNull` annotation

[2020-10-27 05:00] c99SRS commented on #245
Hey @knjk04 , I was caught up with other works. I am okay with the removal of the label. Today I will try my best.

[2020-10-27 07:20] knjk04 opened #512 "Schema-validation: missing column [book_format] in table [book]"
**Describe the bug**

There is a report of a missing column in the `Book` entity.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app

**Expected behaviour**

The app should run without any errors.

**Additional context**

The app no longer runs because of this error.

[Stack trace](https://gist.github.com/knjk04/fbeb72396df5495ef6eedb52ecdbf3d5)

This may be due to a missing unders

[2020-10-27 07:23] #512 closed

[2020-10-27 07:48] knjk04 commented on #508
This has been offered to someone on Slack. However, if they don't wish to pick this up, this issue will be offered to everyone else

[2020-10-27 08:10] tw-ayush commented on #246
@knjk04 i'd like to take this one but you still haven't reviewed my PR I guess.

[2020-10-27 08:45] knjk04 commented on #246
@tw-ayush I'm extremely sorry for the delay. I asked someone else to take a look, but they didn't respond, so I was waiting on them. I'll review it myself today

[2020-10-27 08:46] #510 closed

[2020-10-27 12:55] kateerfle commented on #508
Hi, I would like to be assigned to this issue!

[2020-10-27 12:55] hieu-t-tran opened #514 "Update installation steps in README"
The installation steps in README need to be updated:
- The Unix command to build the project should be `./mvnw clean install`
- Make a note about the need to add `sudo` to the `docker-compose` commands in Unix environments.

[2020-10-27 13:04] knjk04 commented on #514
@hieu-t-tran Thanks for creating this! I'll assign you to the issue

[2020-10-27 13:06] knjk04 commented on #508
@kateerfle Thanks! Feel free to reach to us on Slack if you need anything

[2020-10-27 18:09] knjk04 commented on #481
@shreyanshrs44
How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-10-28 07:02] knjk04 commented on #246
@tw-ayush I'll assign you to this issue

[2020-10-28 07:03] knjk04 commented on #54
@shreyamodi1999 Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-10-28 07:03] knjk04 commented on #54
@Anu-123-gif It's all yours

[2020-10-28 07:04] #493 closed

[2020-10-28 13:48] tw-ayush commented on #246
hey thanks for the update i'll look into this 😄

[2020-10-28 18:31] #434 closed

[2020-10-28 18:55] tw-ayush commented on #434
@knjk04 you mind adding the hacktoberfest-accepted label as well?

[2020-10-28 21:38] awkwardblackcoder commented on #454
Hi, I would like to work on this issue but would need more information. Where can I find the new Slack invite links?

[2020-10-29 06:33] knjk04 commented on #434
@tw-ayush Oops, I've added it to the PR

[2020-10-29 06:40] knjk04 commented on #454
Hi. Unfortunately, I'm already assigned to this issue (and I'm working on this). Feel free to request to be assigned to an unblocked and unassigned issue

[2020-10-29 08:20] #500 closed

[2020-10-29 19:34] tw-ayush commented on #246
@knjk04 hey while working on this i came across a problem, So my question is based on the SQL migration i believe each user has their own shelf/shelve, and that shelf for a user has to be unique so the constraint should be like unique(user, shelf_name) or am i getting this wrong?

[2020-10-30 18:33] knjk04 commented on #208
@sumanth-thyagarajan As we have not heard back from you in a while, despite following up, I will unassign you from the issue

[2020-10-31 10:31] shreyanshrs44 commented on #481
@knjk04 Sorry for not responding back :( . TBH I am still half way in looking into this issue.

[2020-10-31 11:13] knjk04 commented on #481
@shreyanshrs44 That's fine. Thanks for letting us know

[2020-11-01 06:31] knjk04 commented on #81
@lindnc5 Just following up on this. Do you have an idea of when this will be completed by?

[2020-11-01 06:40] knjk04 commented on #294
Closing as it's better to create specific issues for tests to complete

[2020-11-01 06:40] #294 closed

[2020-11-01 16:27] #249 closed

[2020-11-01 16:31] knjk04 opened #517 "Do not allow pages read to be > number of pages"
**Describe the bug**

For the did not finish shelf, we have both the 'pages read' and the 'number of pages' form fields. The 'pages read' value can be greater than the 'number of pages' value.

**To Reproduce**
Steps to reproduce the behaviour:
1. Log in
2. Go to 'my books'
2. Click on 'add book'
3. Select the 'did not finish' primary shelf
4. Enter in a value for the number of pages field
5. Ente

[2020-11-01 16:33] knjk04 opened #518 "Create button components"
Create components for the save, reset and delete buttons. They should all have a click listener. This will allow us to move them out of `BookForm`

[2020-11-01 16:36] knjk04 opened #519 "Move toggle visibility out of BookForm"
The code to toggle the visibility of different components can be extracted out of `BookForm`.

More details to follow

[2020-11-01 17:10] #207 closed

[2020-11-01 17:13] knjk04 commented on #226
@mimarcincin Just following up -- could you let us know when you will have this finished by?

[2020-11-01 17:14] knjk04 commented on #359
@prathyushasai How are you getting on with this? If you'd like some early feedback/feedback as you go along, feel free to create a draft PR

[2020-11-01 17:15] knjk04 commented on #341
@amit1307 I think we don't need to work on this. We shouldn't always need to flyway clean -- that's only when something's gone wrong and we need to drop all of the tables. What do you think?

[2020-11-01 17:17] knjk04 commented on #312
@inhundreds Have you tried this on master? Perhaps you don't have @schrothbn's change

[2020-11-01 18:21] knjk04 commented on #245
Removing the `@NonNull` annotation in `Shelf` does not work

[2020-11-01 18:21] knjk04 commented on #508
@kateerfle Could you please skip the `CustomShelf`/`Shelf` class? I forgot to mention this earlier. We shouldn't have the `@NonNull` annotation in `CustomShelf`

[2020-11-02 05:23] vvkpd commented on #517
I would like to work on this card, could you please assign to me.
Thanks

[2020-11-02 10:20] amit1307 commented on #341
Yes I agree to that so we can close this issue. I had spent a bit of time initially but couldn't find any clean solution so was thinking if we really need to do this.

[2020-11-02 12:39] #341 closed

[2020-11-02 14:55] #514 closed

[2020-11-02 14:56] knjk04 commented on #517
@vvkpd Sure. Thanks again, Vivek!

[2020-11-02 15:00] knjk04 commented on #356
This issue has been offered to someone on Slack. If they don't wish to pick this up, this will be available to everyone else

[2020-11-02 15:58] knjk04 commented on #246
@tw-ayush Sorry for the delay in getting back to you. I think you're right.

@amit1307 Could you please confirm ^?

[2020-11-02 21:38] inhundreds commented on #312
@knjk04 Now it is ok so I think you can close this issue.

[2020-11-03 06:19] knjk04 commented on #312
@inhundreds Thanks

[2020-11-03 12:48] hieu-t-tran commented on #356
I would like to work on this issue.

[2020-11-03 13:50] mimarcincin commented on #226
Hello, I'm expecting to finish it by the end of this week. If everything
goes well. :)

ne 1. 11. 2020 o 18:14 Karan Kumar <notifications@github.com> napísal(a):

[2020-11-03 14:37] knjk04 commented on #356
@hieu-t-tran Thanks! Also, we're not looking to add this for fields. Raul got quite far, so you may wish to look at their PR if you get stuck

[2020-11-03 14:41] knjk04 commented on #220
As we'll be using Material UI once we've switched to React, we'll be using Roboto by default

[2020-11-03 14:41] #220 closed

[2020-11-03 16:32] #509 closed

[2020-11-04 14:52] knjk04 commented on #226
@mimarcincin Thanks for the update. Could you please open a draft PR so that we can provide early feedback and see how you're getting on?

[2020-11-04 14:53] knjk04 commented on #508
@kateerfle How are you getting on with this?

[2020-11-04 14:57] knjk04 opened #523 "Refactor BookServiceTest"
- Adhere to style guide (replace SoftAssertions assert all with `assertSoftly()`)
- Use the builder pattern to help reduce some duplication of creating `Book` objects
- Replace JUnit assertions with AssertJ assertions

[2020-11-04 17:05] #523 closed

[2020-11-04 17:22] knjk04 opened #525 "Add tests to CustomShelfService"
The following methods/functionality need to be tested:
- Test that `findById()` successfully returns the correct `CustomShelf` when a valid ID is passed in
- A custom shelf can be successfully deleted
- `findAll(String shelfName)` returns a list of all custom shelves if the parameter is null

[2020-11-04 17:24] knjk04 commented on #525
This issue has been offered to someone as their issue was accidentally duplicated. If they do not respond or wish to pick this up, this will be offered to everyone else

[2020-11-04 18:10] knjk04 commented on #345
@schrothbn Just checking up again -- how are you getting on?

[2020-11-04 18:11] knjk04 commented on #455
@jhanna60 Are you still interested in working on this?

[2020-11-05 18:03] #416 closed

[2020-11-06 06:19] knjk04 commented on #54
@Anu-123-gif How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-11-06 06:20] knjk04 commented on #501
@PirtiXcode How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-11-06 15:53] knjk04 commented on #243
@amit1307 Did you get a chance to try this on master?

[2020-11-06 15:55] Anu-123-gif commented on #54
Yes please give me more time I was a bit busy

[2020-11-06 15:57] knjk04 commented on #54
@Anu-123-gif Sure, no problem. Could you please give us an idea of when you'll have this finished?

[2020-11-06 18:17] tw-ayush commented on #246
@knjk04 before changing the code i'll wait for confirmation from @amit1307 .

[2020-11-07 07:05] #392 closed

[2020-11-07 07:54] knjk04 commented on #328
Closing as Project books is not a legal entity

[2020-11-07 07:54] #328 closed

[2020-11-07 07:55] #386 closed

[2020-11-07 11:18] #353 closed

[2020-11-08 11:55] amit1307 commented on #246
That sounds about right to me but I have a question related to this issue: do we know the reason for the duplicate shelves being added? Do we plan to stop that just by adding the DB constraint?

[2020-11-08 15:47] schrothbn commented on #345
@knjk04 The PR will come later today. Sorry had much to do at work last 2 weeks, will now integrate recent changes from master and test everything and then create the PR

[2020-11-08 15:51] knjk04 commented on #345
@schrothbn No problem, thanks for the update!

[2020-11-08 16:57] knjk04 opened #531 "Refactor tests to use mock user"
Refactor tests that autowire services without constructor injection (e.g. `StatisticsViewTest`) to use constructor injection and our mock user

[2020-11-08 18:18] knjk04 commented on #517
@vvkpd How are you getting on with this?

[2020-11-08 18:19] knjk04 commented on #481
@shreyanshrs44 Just checking up again -- how are you getting on with this? Also, could you please let us know when you have this finished by?

[2020-11-08 18:59] knjk04 opened #532 "Fix failing returnTrueIfBookReadThisYear test"
Fix the failing `returnTrueIfBookReadThisYear` test in `ReadingGoalCalculatorTest.java`

[2020-11-08 19:02] knjk04 opened #533 "Move methods from PredefinedShelf utility class to service"
Move the methods in `PredefinedShelfUtils` that use the service method and remove the `predefinedShelfService` member. The remaining methods can be made static. It should be possible to use this class without needing to instantiate it

[2020-11-09 13:19] Artamm commented on #533
Hello, I would like to assign for this issue, if it's possible.

[2020-11-09 15:48] knjk04 commented on #533
@Artamm Sure, I'll assign you to the issue. Thanks!

[2020-11-09 15:52] knjk04 commented on #463
Closing as we'll be using GraphQL

[2020-11-09 16:30] knjk04 commented on #216
@GabrielCsik Unassigning, as discussed on Slack

[2020-11-09 16:31] #216 closed

[2020-11-09 16:31] knjk04 commented on #54
Unassigning at your request

[2020-11-10 07:52] vvkpd commented on #517
last week I was not feeling well. I started working on it. I need some time @knjk04

[2020-11-10 15:18] knjk04 commented on #356
@hieu-t-tran How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-11-11 00:12] albkappil commented on #532
I would like to work on this.

[2020-11-11 06:29] knjk04 commented on #532
@albkappil Sure, I'll assign you to the issue. Thanks!

[2020-11-11 08:15] sdahule commented on #525
@knjk04  can you assign this issue to me if its still pending.

[2020-11-11 15:02] knjk04 commented on #525
@sdahule Sure, I'll assign you to the issue. Thanks!

[2020-11-11 15:35] #533 closed

[2020-11-11 15:42] knjk04 opened #535 "Add more DateUtil tests"
Add tests for:
- calculateWeeksLeftInYearFromCurrentWeek
- dateIsInCurrentYear()

Edge cases should also be handled

[2020-11-11 15:43] knjk04 opened #536 "Add more DateUtil tests"
Add tests for:
- calculateWeeksLeftInYearFromCurrentWeek
- dateIsInCurrentYear

Edge cases should also be tested (e.g. when the argument to calculateWeeksLeftInYearFromCurrentWeek is greater than 52). If need be, the implementation will also need to change

[2020-11-11 15:50] #536 closed

[2020-11-11 21:57] hieu-t-tran commented on #356
@knjk04 Thanks for checking up! I'm still working on this issue, and I hope to make a pull request by Tuesday next week if possible. I should have more time this weekend to work on it.

[2020-11-11 22:21] loganrouleau commented on #535
Can I take this as a first issue? I just got my dev setup running, and it looks like a good place to jump in.

I'll review the 2 existing DateUtil tests as well. They pass when you unignore them but they might be missing edge cases.

[2020-11-12 03:36] yparam98 commented on #518
Is this still open? Asking because I can do this but it's been open for 10+ days and not sure if anyone else has taken this up or not...

[2020-11-12 06:25] knjk04 commented on #356
@hieu-t-tran Great, thanks for the update!

[2020-11-12 06:26] knjk04 commented on #535
@loganrouleau Sure, I'll assign you to the issue. Thanks!

What OS are you using?

[2020-11-12 06:28] knjk04 commented on #518
@yparam98 Yes, this is still open and available. Would you be interested in picking this up?

(We only allow pull requests that tackle an issue if the PR author was first assigned to the issue. See our contributing guidelines for more information)

[2020-11-12 06:40] loganrouleau commented on #535
Thanks. I'm on Windows.

[2020-11-12 06:44] knjk04 commented on #535
On Windows, some of the date tests were failing for me. They worked fine in my IDE (IntelliJ), but not when I run the app with Maven or if I ran `mvn test`. Could you also try this to ensure it works?

[2020-11-12 06:45] loganrouleau commented on #535
Ah, ok. I'm also using IntelliJ. I'll run them through maven tomorrow and report back.

[2020-11-12 15:10] yparam98 commented on #518
@knjk04 sure, I'll take it

[2020-11-12 15:53] knjk04 commented on #518
Great, I'll assign you to the issue. Let us know over Slack if you need a hand

[2020-11-12 15:53] knjk04 commented on #149
Closing as this seems to be a problem on Vaadin's end

[2020-11-12 15:53] #149 closed

[2020-11-12 15:53] #519 closed

[2020-11-12 16:10] knjk04 commented on #535
Thanks. Also, if you haven't already, see #311 for some more information on the failing date util tests

[2020-11-12 17:51] #430 closed

[2020-11-12 19:44] #508 closed

[2020-11-13 03:30] loganrouleau commented on #311
I can reproduce Karan's issue here on Windows with `mvn -Dtest=ReadingGoalCalculatorTest,DateUtilsTest test`

The issue seems to be statically mocking DateUtils from 2 different classes. The mocking survives as long as the test thread, and I don't think we have any surefire parallelization enabled so every test is on 1 thread. I was able to fix it by assigning `Mockito.mockStatic(DateUtils.class)`

[2020-11-13 03:42] loganrouleau commented on #535
I left a comment on 311. I've Disabled the new tests here for now.

[2020-11-13 16:49] #54 closed

[2020-11-13 16:50] knjk04 opened #539 "Fix failing display series position test"
[code]

Result:
https://gist.github.com/knjk04/5db0ed15d2d5c26a05758d36a1518973

[2020-11-14 06:50] knjk04 commented on #81
@lidnc Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-11-14 06:51] knjk04 commented on #359
@prathyushasai Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-11-14 07:06] knjk04 commented on #501
@PirtiXcode Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-11-14 09:54] #351 closed

[2020-11-15 07:53] #311 closed

[2020-11-15 07:53] #535 closed

[2020-11-17 17:03] knjk04 commented on #243
(Discussed privately. This should be fixed now)

[2020-11-17 17:03] #243 closed

[2020-11-17 17:04] knjk04 commented on #481
@shreyanshrs44 Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2020-11-17 17:05] knjk04 commented on #246
@tw-ayush How are you getting on with this? When you get a chance, could you please reply to Amit's comment?

[2020-11-17 17:09] knjk04 commented on #479
@SeonghoLee4 Just checking up again -- how are you getting on with this? I think the changes should be relatively quick and straightforward, but feel free to reach out on Slack if you need a hand

[2020-11-17 17:53] SeonghoLee4 commented on #479
checked! I will update you soon.

[2020-11-18 17:56] #245 closed

[2020-11-18 17:58] #319 closed

[2020-11-19 06:59] #464 closed

[2020-11-19 07:10] #145 closed

[2020-11-19 16:44] ofvoler commented on #481
I'm not sure if I can commit to working on this, but I was looking into code issues and this one seems like it should be fairly easy. Do you know off the top of your head if this is just an issue with UserTest.java, or is it something with User.java as well? In User it looks like we're already checking to make sure the password strength is strong.

[2020-11-19 17:01] knjk04 commented on #525
@sdahule How are you getting on with this issue? If you need any help on this, feel free to reach out to us on [Slack](https://join.slack.com/t/teambookproject/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ)

If you need more time, that's fine, but please let us know.

[2020-11-19 17:29] knjk04 commented on #481
@ofvoler I don't think the test is wrong. My hunch is that something's wrong with the strength validation

[2020-11-19 19:48] sdahule commented on #525
Hi karan,
Yes i am working on it. Need some time. Should br able to push the changes
by next week.

On Thu, 19 Nov 2020 at 10:32 PM, Karan Kumar <notifications@github.com>
wrote:

[2020-11-19 22:14] ofvoler commented on #481
Okay, I don't think that's something I'm equipped to take on then. Thanks for your response though!

[2020-11-20 06:15] knjk04 commented on #525
@sdahule That's fine. Thanks for the update

[2020-11-20 09:15] abhity16 commented on #455
Is this still open ?
Also, slack link is expired

[2020-11-20 10:14] abhity16 commented on #63
Hi,
If it's still open, I'd like to work upon this.

[2020-11-20 17:13] knjk04 commented on #63
Hi @abhity16,

Thanks for your interest in this. I'm going to block this temporarily until we're ready to implement this on the frontend.

[2020-11-20 17:18] #126 closed

[2020-11-20 17:19] knjk04 commented on #356
@hieu-t-tran Just checking up again -- do you have an update on this?

[2020-11-20 17:23] knjk04 commented on #455
@abhity16 Yes, this is still available. Would you be interested in picking this up?

Thanks for the heads-up. I've deleted the Slack link from the post. You can find the Slack link by clicking on the 'chat on slack' badge in the README

[2020-11-20 18:01] #415 closed

[2020-11-21 07:09] abhity16 commented on #455
Thanks @knjk04 . I'll take up this task.
Also, chat on slack badge link (https://teambookproject.slack.com/join/shared_invite/zt-i7lept44-rgJ9yB0A2vedJTLyyfkjKQ#/) is also expired.

[2020-11-21 09:05] knjk04 commented on #455
@abhity16 Thanks, I'll assign you to the issue.

Apologies, I have updated it now on the README. Here's the link: https://join.slack.com/t/teambookproject/shared_invite/zt-jcijyenp-JiKFGBv62FIPoFnvOW6Ubg

[2020-11-21 11:50] knjk04 commented on #518
@yparam98 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on Slack

If you need more time, that's fine, but please let us know.

[2020-11-21 20:23] tw-ayush commented on #246
Hey @amit1307 sorry for the delay, I've not been able to get back to you due to some personal work, but last when i tried i was unable to run the code because of migration issues and i'm unable to debug it.

[2020-11-21 21:31] yparam98 commented on #518
@knjk04 I created the components and moved the elements out of BookForm.java. However, I am trying to test the application to make sure it all works as before but I am struggling to get it to work without the following error:

`Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured.`

[2020-11-22 06:15] knjk04 commented on #246
@tw-ayush Feel free to reach out to us on the #help channel on Slack if you need a hand with that. This sounds like a Flyway issue

[2020-11-22 06:16] knjk04 commented on #518
@yparam98 Great, thanks! Feel free to reach out to us on the #help channel on Slack if you need a hand with that?

[2020-11-22 19:19] Louie-Yep commented on #359
Hello @knjk04, I would like to work on this issue with my friend. Is it still available?

[2020-11-22 19:49] knjk04 commented on #359
Hello @Louie-Yep. Sure, I'll assign you to the issue. Thanks!

[2020-11-23 16:08] zoyolet opened #543 "Statistic Page get NullpointerException for newly registered user"
**Describe the bug**
when I register and try to enter the statistic page it shows nullpointer exception

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Home page' after login
2. Click on 'Statistic page'
3. See error

**Expected behaviour**

this page should show empty data

[2020-11-23 17:08] knjk04 commented on #543
@zoyolet Thanks for bringing this up! We'll look into this

[2020-11-23 17:14] zoyolet commented on #543
could you assign me to solve this issue?

[2020-11-23 18:33] knjk04 commented on #543
@zoyolet Sure, thanks! If there's no statistics available, could you please show a heading that says 'No statistics available. Try adding some books'

[2020-11-24 02:34] zoyolet commented on #543
ok I will do that

[2020-11-24 17:24] knjk04 commented on #479
@SeonghoLee4 I know you said you'll update us soon, but in line with our contributing guidelines (see [here](https://github.com/Project-Books/book-project/blob/master/CONTRIBUTING.md#stale-issues--pull-requests)), I'm just checking up again after seven days of inactivity. How are you getting on with this?

[2020-11-24 17:50] knjk04 commented on #479
(Discussed on Slack. PR expected by the end of the week)

[2020-11-25 02:39] Louie-Yep commented on #359
Hey Karan, I think my partner and I have implemented issue #359 ensuring that duplicate tags don’t exist.  What we did:

Run a case insensitive query using JPQL for the tag we are trying to save. To get the name of the tag we're trying to save, we added a public name function in the Tag class. Let me know if there’s a better way to access a tag’s name in the TagService class.

After running the qu

[2020-11-25 17:08] knjk04 commented on #359
@Louie-Yep Sounds good. Is there a particular reason why you're both using JPQL instead of a derived query?

[2020-11-25 20:03] jcrosswh commented on #501
Hello @knjk04, I'd like to help with this issue.

The main issue that is causing this error is that the `customShelf` field in the `Book` class contains the cascade type `CascadeType.MERGE` in its list, and when the delete is performed, that field is triggering the insert call into the custom_shelf table.  Since the book has null for the custom_shelf field, and the form is updated to use the user'

[2020-11-28 08:25] knjk04 commented on #501
Welcome back @jcrosswh! Apologies for the delay in getting back to you.

I could be wrong about this, but I don't think it's needed.

It should be optional, but the fact that it's currently not is a bug (see #245).

Thanks a lot for looking into this!

[2020-11-28 10:57] knjk04 commented on #525
@sdahule Just checking up again. How are you getting on with this?

[2020-11-30 00:28] Louie-Yep commented on #359
Not a large reason. The syntax for making the query case insensitive seemed easier to do with a JPQL, but we could change it if there's an issue

[2020-11-30 00:38] celeste2247 commented on #226
Hi @knjk04, I would like to pick up this issue to work on with a friend, is it still open?

[2020-11-30 06:59] knjk04 commented on #226
Hi @celeste2247, this issue is currently being worked on, but I'll let you know if it becomes available again

[2020-11-30 16:43] celeste2247 commented on #226
@knjk04, thanks for letting me know!

[2020-12-01 05:08] celeste2247 commented on #208
Hi @knjk04, is there any way I could be assigned to this project?

[2020-12-01 06:30] knjk04 commented on #208
@celeste2247 Sure, I'll assign you to the issue

[2020-12-01 06:38] knjk04 commented on #246
@tw-ayush How are you getting on with this issue? If you need any help on this, feel free to reach out to us on Slack

If you need more time, that's fine, but please let us know.

[2020-12-01 06:40] knjk04 commented on #518
@yparam98 Just checking up again. How are you getting on with this issue? If you need any help on this, feel free to reach out to us on Slack

If you need more time, that's fine, but please let us know.

[2020-12-09 07:41] shivansh29 commented on #64
Can I be assigned to this issue??
I'd like to work on it

[2020-12-09 07:59] knjk04 commented on #64
It's both because a frontend and backend change is required. However, one or the other can be done if we split this into two issues. Unfortunately, this issue is currently blocked. Feel free to request to be assigned to an unblocked and unassigned issue

[2020-12-09 08:37] #501 closed

[2020-12-09 09:44] shivansh29 commented on #356
Hey is this issue available??

[2020-12-09 13:02] knjk04 commented on #356
Hi @shivansh29, I'm afraid not. Hieu is working on this

[2020-12-10 17:50] knjk04 commented on #246
Unassigning at your request on Slack

[2020-12-10 17:51] knjk04 commented on #246
@Kapileson Are you still interested in working on this issue?

[2020-12-10 18:32] #455 closed

[2020-12-11 08:24] #212 closed

[2020-12-16 04:54] shubhamsinghrathi commented on #481
I just checked that "password_12345" is considered as Strong password but "password@12345" as Good and "password$12345" as Fair. I have already raised an issue regarding this on Zxcvbn (https://github.com/nulab/zxcvbn4j/issues/77).
In my opinion, we can either wait for the fix from Zxcvbn or go with some other library.

[2020-12-16 06:38] knjk04 commented on #481
@shubhamsinghrathi Thanks for checking this. We'll wait to see what they say first

[2020-12-16 14:22] shubhamsinghrathi commented on #246
Hi @knjk04 , I want to work on this issue. Can you assign it to me?

[2020-12-17 17:04] knjk04 commented on #246
@shubhamsinghrathi Sure, thanks

[2020-12-17 17:09] knjk04 commented on #518
@yparam98 As we have not heard back you in a while, I'll unassign you from this issue (in line with our contributing document)

[2020-12-17 17:10] #518 closed

[2020-12-17 17:10] knjk04 commented on #525
@sdahule As we have not heard back from you in a while, despite following up, I will unassign you from the issue. This is in line with our contributing guidelines

[2020-12-17 17:37] knjk04 commented on #77
@amit1307 Could you please try this on macOS?

[2020-12-17 17:51] #486 closed

[2020-12-18 18:08] #525 closed

[2020-12-19 06:27] knjk04 opened #551 "Deploy to AWS Elastic Beanstalk"
Deploy a prototype (it's fine to delete the database once we delete the application) on AWS Elastic Beanstalk.

We also need to add a footer in the web app to inform users that this is a prototype and so they should not rely on their data persisting.

[2020-12-19 09:04] #551 closed

[2020-12-19 12:16] knjk04 opened #553 "Unable to navigate to the settings page"
**Describe the bug**

Unable to navigate to the settings page on the demo app on AWS

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to http://bookprojectv010-env.eba-22zuiphf.eu-west-2.elasticbeanstalk.com
2. Navigate to the settings page
3. See error

**Expected behaviour**

The settings page should open.

**Additional context**

The web app is running the version of the app from this

[2020-12-20 19:45] #77 closed

[2020-12-21 09:53] abhity16 commented on #359
@knjk04 is this still open ?

[2020-12-21 17:20] knjk04 commented on #359
@abhity16 It's still open, but this is already assigned, unfortunately

[2020-12-25 09:17] knjk04 opened #555 "Test Goodreads import"
The new Goodreads import has lower test coverage than we need, so test the uncovered lines

[2020-12-25 10:27] #555 closed

[2020-12-25 12:03] knjk04 opened #558 "Create login screen"
Create a login screen in React

As this is the start of the migration from Vaadin to React, there will also need to be some configuration

[2020-12-25 17:05] knjk04 commented on #558
Implemented in #559

[2020-12-25 17:06] #558 closed

[2020-12-25 17:09] knjk04 opened #560 "Add show/hide password toggle"
**Describe the solution you'd like**
Add an input adornment that's an icon to toggle showing and hiding the password. We need to use the icon in Material UI

**Additional context**
See [input adornments](https://material-ui.com/components/text-fields/#input-adornments)

[2020-12-29 06:23] knjk04 commented on #208
@celeste2247 How are you getting on with this? Did you manage to get a chance to see my replies on Slack?

[2020-12-29 06:24] knjk04 commented on #359
@Louie-Yep How are you getting on with this? Did you manage to get a chance to see my replies on Slack?

[2020-12-29 17:55] knjk04 opened #561 "Fix overlapping outlined input label"
**Describe the bug**

On the 0.2.0 branch, the label inside the outlined input field overlaps with the outlined border.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `localhost:3000`
2. See error

**Expected behaviour**

There should be no overlapping text (see other [outlined text fields on Material UI](https://material-ui.com/components/text-fields/))

**Screenshots**

![image](ht

[2020-12-30 14:14] wesleynepo commented on #560
Are this issue available?

[2020-12-30 17:34] knjk04 commented on #560
@wesleynepo You can take this issue as I haven't finished it yet. Could you please create your branch from the `0.2.0` branch? Feel free to reach out to us on Slack if you need anything

[2020-12-30 18:03] knjk04 opened #562 "Set up routing"
**Describe the solution you'd like**
Set up a router (e.g. React router)

[2020-12-30 18:26] ZackHollander commented on #166
I would like to take this on. Can you also add me to the slack channel.

[2020-12-31 06:33] knjk04 commented on #166
Unfortunately, this issue is blocked. Feel free to request to be assigned to an unblocked and unassigned issue.

Here's a Slack invite: https://join.slack.com/t/teambookproject/shared_invite/zt-kss928q8-zT73FmmlV6HmXE1rhourbw

[2020-12-31 06:33] #166 closed

[2020-12-31 06:39] knjk04 opened #563 "Create login controller"
**Describe the solution you'd like**
Create a REST endpoint that takes in a username and a password and returns back whether it is associated to an account

[2020-12-31 06:42] knjk04 commented on #458
@tw-ayush Apologies, I completely forgot about this. I've made a note to look into this

[2020-12-31 06:47] knjk04 commented on #458
@tw-ayush Apologies, I completely forgot about this. What if we were to have an enum in Java to represent the languages and have each book contain a set of languages?

[2020-12-31 06:50] knjk04 opened #564 "Create endpoint for creating a new account"
**Describe the solution you'd like**
In a new controller, create an endpoint that allows a user to POST a username/email address and a password to create a new account. We need to send back an error if the password strength is not sufficiently strong or if the username/email address is already is use.

[2020-12-31 06:51] #454 closed

[2020-12-31 06:55] #266 closed

[2020-12-31 08:54] knjk04 opened #566 "Add favicon"
**Describe the solution you'd like**
Replace the default React favicon with our favicon

**Additional context**
Branch from `0.2.0` and set the destination branch of your pull request back to `0.2.0`

[Favicon png](https://user-images.githubusercontent.com/11173328/103422792-16d4f000-4b9b-11eb-9cd9-eff98cee1ae9.png) (convert this to a `.ico` file and replace the existing `favicon.ico`)

[2020-12-31 08:56] knjk04 commented on #566
To add the icon to include in this issue soon

[2020-12-31 17:11] ZackHollander commented on #566
I would like to take this.

[2021-01-01 09:47] #561 closed

[2021-01-01 13:54] #562 closed

[2021-01-01 13:56] knjk04 opened #567 "Show error messages on log in clicked"
**Describe the solution you'd like**
When the user clicks on the 'log in' or 'create account' buttons, error messages should appear for password and confirm passwords fields if they were left blank (or if the confirmed password does not match the password entered when creating an account)

**Additional context**
Branch from `0.2.0` and create a pull request to go back into it

![image](https://use

[2021-01-01 14:05] #566 closed

[2021-01-01 14:11] knjk04 opened #568 "Extract username to its own component"
**Describe the solution you'd like**
Similar to the password component in `shared/form`, create a new component for a username that both the `Login` and `Register` components can use.

**Additional context**
Branch from `0.2.0`

[2021-01-02 09:09] #479 closed

[2021-01-02 11:00] tw-ayush commented on #458
Hey I was thinking of the solution from a different prospective.
Using a Language table maybe more useful. 'cause instead of repeating the whole book information multiple times (for say a million books with on average 4 languages means 4 million complete information or instead we can have 4 million mappings entry). IMO we can create a table for languages, a relationship mapping and definitely the

[2021-01-02 19:22] knjk04 opened #572 "Set up ESLint"
Install ESLint and configure it to adhere to our [TypeScript](https://github.com/Project-Books/book-project/blob/0.2.0/styleguides/TYPESCRIPT_STYLEGUIDE.md) & [React](https://github.com/Project-Books/book-project/blob/0.2.0/styleguides/REACT_STYLEGUIDE.md) styleguides

[2021-01-02 19:25] knjk04 commented on #572
We could also use this: https://github.com/yannickcr/eslint-plugin-react

[2021-01-03 09:54] knjk04 opened #573 "Replace Travis with Azure Pipelines"
Given Travis's new pricing strategy and we have now run out of credits, replace Travis with Azure Pipelines (in line with the Books API). Codecov and SonarCloud should continue to work.

[2021-01-04 15:31] ryboh1 opened #576 "Rename 'Setup' subheading to 'Getting started'"
### Why?
When Downloading the "book-project" I didn't know how to get the book project up and running

### What to include?
This [Link](https://github.com/componentjs/guide/blob/master/component/getting-started.md) includes a good template for getting started

[2021-01-04 15:34] ryboh1 commented on #576
### Edit
I've just realised that in the README.md there is a "Setup", Instead I think you should change that to "Installation" as it's standard practice.

[2021-01-04 17:23] knjk04 commented on #576
Thanks for the suggestion! I appreciate 'Setup' may be a little cryptic and not clear for everyone.

Besides the prerequisites and any dependencies, I see the section more as instructions for anyone looking to set up their local development environment for contributing than installing. We can change the subheading to 'Getting started'.

Would you be interested in creating a PR for this?

[2021-01-04 18:05] SomyaPadhy4501 commented on #576
I would love to do it

[2021-01-04 18:29] SomyaPadhy4501 commented on #576
can i be assigned?

[2021-01-04 18:46] knjk04 commented on #576
@SomyaPadhy4501 Since this has already been offered to @ryboh1, we'll wait and see whether they'd like to pick this up first. If not, we'll assign you to it

[2021-01-04 18:51] SomyaPadhy4501 commented on #576
ok sir 😄

[2021-01-04 19:58] ryboh1 commented on #576
Yep, I'm on it :smile:

[2021-01-05 00:10] RivaD2 commented on #568
Hello Karan,

  It would be my pleasure to resolve this issue. If it is still up for grabs, I will gladly take it!

[2021-01-05 13:20] knjk04 commented on #568
Hello Riva,

This is still up for grabs, so I'll you to the issue. Thank you very much! Feel free to reach to us by creating a new discussion on GitHub or on Slack if you need any help

[2021-01-05 16:27] RivaD2 commented on #568
Perfect Karan, thank you so much! I'm not assigned to this issue yet, but I will go ahead and get to work. :)

[2021-01-05 17:03] knjk04 commented on #568
My bad, I've assigned you now :)

[2021-01-05 17:07] RivaD2 commented on #568
Thank you :)

[2021-01-05 18:15] knjk04 opened #579 "Decide on a colour scheme"
## What needs to be done

Help us to come up with a good colour scheme that aligns with [Material Design](https://material.io/design/color/the-color-system.html#color-usage-and-palettes).

Initial idea: white as a primary colour and an undecided colour as the secondary

## Deliverables

A short document called DESIGN.md that specifies what the colour scheme is

[2021-01-05 18:20] knjk04 opened #580 "Design mockups for the 'my books' page"
Take a look at the current 'my books' page for v0.1.0 (see [live demo](http://bookprojectv010-env.eba-22zuiphf.eu-west-2.elasticbeanstalk.com/login)).

We're looking to redesign this with a better UI (following material design) and UX.

We're using [Material UI](https://material-ui.com/) for Material Design components.

[2021-01-05 18:24] RivaD2 commented on #568
@knjk04 My apologies, but I just realized you code in Java :) Unfortunately, I am a JS developer. Once again my apologies! When I was looking for open source the issue was listed under JS.

[2021-01-05 18:27] knjk04 commented on #568
@RivaD2 This is a React issue. On the `0.2.0` branch, we're designing the UI in React (we're currently migrating from Vaadin to React)

[2021-01-06 03:57] RivaD2 commented on #568
@knjk04 I put together a draft PR here: https://github.com/Project-Books/book-project/pull/581.

I took the `Password` component and modeled the `Username` component after it so that's my current approach.

I am still very new to open source work and didn't see your Code of Conduct docs until a bit later after working. I made sure to adhere to your style and named my branch accordingly. However, I

[2021-01-06 06:34] knjk04 commented on #568
Thanks for the PR, I'll review it shortly. If you can write tests, that would be great.

Your approach sounds good.

That's fine. It doesn't matter so much as long as the branch name is there.

You're welcome!

[2021-01-06 17:07] knjk04 commented on #359
@Louie-Yep Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-01-06 17:08] knjk04 commented on #208
@celeste2247 Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-01-06 17:12] knjk04 opened #582 "Set up Spring REST docs"
Set up Swagger for our REST APIs on the `0.2.0` branch.

[2021-01-06 17:12] knjk04 commented on #582
Blocked by #563

[2021-01-06 21:21] ZackHollander commented on #517
IS this still available to take?

[2021-01-07 06:56] knjk04 commented on #517
@ZackHollander Yes, it is. I'll assign you to it. Thanks

[2021-01-07 07:13] knjk04 commented on #579
Settled on white (primary) and black (secondary)

[2021-01-08 06:24] knjk04 commented on #582
Or Spring REST docs

[2021-01-08 07:47] knjk04 commented on #560
@wesleynepo How are you getting on with this?

[2021-01-08 17:07] knjk04 commented on #560
Unassigning at your request (privately on Slack)

[2021-01-08 19:47] knjk04 opened #583 "Integrate with JWT"
Use a Java implementation (e.g. [java-jwt](https://github.com/auth0/java-jwt)) of the JWT standard for authentication

[2021-01-09 19:47] knjk04 opened #585 "Fix bad credentials exception being thrown"
**Describe the bug**

After sending a POST request to the `register` endpoint with only valid email and password, the server sends back `403 Forbidden` with `BadCredentialsException` in the body

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app
2. Send a POST request (e.g. with Postman) to `http://localhost:8080/api/register` with only a valid email and password in the body
3. See

[2021-01-10 09:35] knjk04 commented on #463
Re-opening as we'll be using REST for the time being (better and more documentation available, but we'll continue to use GraphQL for the Books API).

@amit1307 Are you still happy to work on this?

[2021-01-11 08:02] #573 closed

[2021-01-12 13:08] knjk04 commented on #576
@ryboh1 How are you getting on with the changes I suggested?

[2021-01-15 02:28] RivaD2 commented on #568
@knjk04 Thank you for merging the code and for your help. It was super fun to get in there and work on React!
Would you like me to close the issue or do you do that? :)

[2021-01-15 06:53] knjk04 commented on #568
@RivaD2 I'm glad you had a good experience! If you're interested, we'll be adding a lot more React issues once we've settled on a new design.

I was expecting the issue to close automatically when the PR was merged in, but I'll close it now. Thanks for your help!

[2021-01-15 06:53] #568 closed

[2021-01-15 16:40] RivaD2 commented on #568
@knjk04 Awesome, I'm super interested! The more I can see other code and work in React, the more I will learn :)

[2021-01-16 10:10] knjk04 opened #590 "Configure SonarCloud"
Get SonarCloud working again after switching from Travis to Azure pipelines

[2021-01-16 17:45] knjk04 opened #592 "Style buttons"
Style the buttons to give them rounded corners with a black background and white text (as below)

![image](https://user-images.githubusercontent.com/11173328/104818953-97921e00-5822-11eb-903e-dca2907a0c01.png)

[2021-01-16 17:49] #583 closed

[2021-01-16 17:50] knjk04 opened #593 "Create app bar"
Create an app bar component as shown below (without the 'see white' button). This should appear on the left-hand side of the screen and consume the full height.

![image](https://user-images.githubusercontent.com/11173328/104837811-e4bbd180-58ae-11eb-95ce-1b703f114503.png)

This will be the navigation bar for all logged-in views.

[2021-01-19 03:02] RivaD2 commented on #560
@knjk04, hi again!
  Looks like this issue is available. I'd be happy to take this one on  :)

[2021-01-19 06:35] knjk04 commented on #560
@RivaD2 Hi, thanks!

[2021-01-19 06:35] #593 closed

[2021-01-19 17:34] RivaD2 commented on #560
@knjk04 It looks like this could be done in the Login component or in the Password component. My approach would probably be to do this in the Password component and add a passwordToggle method. I would then pass it into the `onClick()` prop.

Using material UI I would bring in the `Input Adornment` (which it looks like is already imported in), add the icon then give it some styles so it sits in th

[2021-01-19 17:38] knjk04 commented on #560
@RivaD2 Your implementation approach sounds good. By having the toggle in the password component, we will also have it in other components that use the password component (the register view and the login view).

[2021-01-19 18:43] osopromadze commented on #585
Hey @knjk04, I would like to work on this issue.

[2021-01-20 06:20] knjk04 commented on #585
Hi @osopromadze, thanks! I'll assign you to it

[2021-01-20 09:42] osopromadze commented on #585
I doubt about one thing. In [```UserService.java```](https://github.com/Project-Books/book-project/blob/0.2.0/backend/src/main/java/com/karankumar/bookproject/backend/service/UserService.java#L86) we have a line where the user is authenticating after a successful registration. I was thinking why it is needed? Will not be better to just register and that's all? Because it is causing problems too.

[2021-01-21 08:19] knjk04 commented on #576
@ryboh1 Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-01-21 08:19] knjk04 commented on #576
@SomyaPadhy4501 Are you still interested in working on this?

[2021-01-21 08:23] SomyaPadhy4501 commented on #576
Sure

[2021-01-21 08:28] knjk04 commented on #585
@osopromadze Thanks for bringing this up.

I can see where you're coming from. It may seem like a user shouldn't need to be authenticated if they were able to register successfully. I would need to check whether this affects issuing a JWT after registering (or perhaps you can check if you'd like).

We wanted to allow a user to sign up either with a username or an email address. I'll double-check t

[2021-01-21 08:28] SomyaPadhy4501 commented on #576
I have the changes ready I guess its just changing setup to getting started :) I have done it as soon as I get assigned i ll generate pull request

[2021-01-21 16:38] RivaD2 commented on #560
@knjk04 I received your message about rebasing/bringing my branch up-to-date with 0.2.0. I am on it :)

[2021-01-23 08:23] #592 closed

[2021-01-23 08:27] knjk04 opened #599 "Make the login page responsive"
**Describe the bug**

The logo does not appear where want it to at different screen resolutions.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `localhost:3000`
2. See error

**Expected behaviour**

A clear and concise description of what you expected to happen.

**Screenshots**

Fine at 2560x1440. This is what we want it to look at different resolutions:
![image](https://user-images

[2021-01-23 08:49] knjk04 opened #600 "Remove username"
**Describe the solution you'd like**
Make the backend only accept email addresses and not usernames. This is to make it easier for account recovery and to allow us to confirm accounts are legitimate by sending an email confirmation

Frontend changes are also needed.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-01-23 16:25] knjk04 opened #601 "CI not triggered on 0.2.0"
An Azure pipelines is not triggered on the `0.2.0` branch

[2021-01-23 16:29] knjk04 opened #602 "All tests are failing on 0.2.0"
**Describe the bug**

Stack trace: https://gist.github.com/knjk04/bb9dbdf8e8f2f44f1b2f92fb9fdeaf14

This is likely due the secret key in `JwtConfig` being null. We need Spring to create the `JwtConfig` bean

[2021-01-23 18:23] #602 closed

[2021-01-23 18:40] knjk04 commented on #585
@osopromadze We've removed signing up with a username. I tried signing up with an email address and we don't get the 403. Could you also check this on your end to make sure this works as expected?

[2021-01-23 18:43] #600 closed

[2021-01-23 18:47] knjk04 opened #605 "Make the app bar responsive"
**Describe the bug**

Some of the navigation items do not always show in the app bar.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `localhost:8080/my-books`
2. See error

**Expected behaviour**

A clear and concise description of what you expected to happen.

**Screenshots**

This shows as intended on a 2560x1440 screen:

![image](https://user-images.githubusercontent.com/11173328/

[2021-01-23 18:54] knjk04 opened #606 "Connect the register view to the backend"
**Describe the solution you'd like**

Issue a POST request when the user clicks on the 'register' button on `http://localhost:3000/sign-up`.

If there is a server error, display a user-friendly error message. If the server error is that the password is too weak, then inform the user on the frontend.

**Additional context**
Branch: `0.2.0`

Note that you'll need to get the server running locally to

[2021-01-23 18:58] knjk04 opened #607 "Integrate zxcvbn on the frontend"
**Is your feature request related to a problem? If so, please describe.**
We currently only run [zxcvbn ](https://github.com/dropbox/zxcvbn)on the server, but it would be good to also have this on the client-side. This will allow us to provide quick feedback to a user on the password strength when they are registering.

**Describe the solution you'd like**

Similar to in [v0.1.0](http://bookprojec

[2021-01-23 19:24] knjk04 opened #608 "Connect the login view to the backend"
**Describe the solution you'd like**
Send a GET request to the server when the user tries to the login with the values passed into the email address and password fields.

If the server does not authorise the client, show an error message. If the server does authorise the client, however, route the user to the 'my books' page.

**Additional context**
Branch: `0.2.0`

Note that you'll need to run th

[2021-01-23 19:43] knjk04 commented on #601
Fixed in commit #743e65cc8e5ba842ee62bfa55dc336fa4db2f072

[2021-01-23 19:44] #601 closed

[2021-01-23 20:00] knjk04 opened #609 "Make textfields 'pill-shaped'"
**Describe the solution you'd like**

Override the TextField styling in `src/shared/theme.tsx` to make them all 'pill-shaped'. They no longer need labels (but do still need placeholders).

**Additional context**

![image](https://user-images.githubusercontent.com/11173328/105612676-5adf9d00-5db5-11eb-97de-ae2a3a92a558.png)

Similar to the 'Log in' button, we would like TextFields to be overridden

[2021-01-24 00:22] osopromadze commented on #585
Ok @knjk04, I will check it

[2021-01-24 07:58] knjk04 commented on #609
See [commit](https://github.com/Project-Books/book-project/commit/751d9214e3b11378f524cee99e08de0e0789efbe)

[2021-01-24 07:58] #609 closed

[2021-01-24 10:47] Kirill-frontend commented on #599
Hi i ready work on this issue.

[2021-01-24 10:47] knjk04 commented on #606
Error messages should be a separate issue due to the problem with issue #585, which is blocking this

[2021-01-24 10:48] knjk04 commented on #599
@Kirill-frontend Hi and thanks! I'll assign you to it

[2021-01-24 10:51] Kirill-frontend commented on #599
Ok I'll try

[2021-01-24 10:52] knjk04 commented on #585
@osopromadze

Update: I've integrated the signup page (`localhost:3000/sign-up`) to the backend and we still get a 403. This time, however, the server does not create the new user. I think this is because the server expects a JWT. This is still a bug, though, because, as you may already know, the server should only have issued a JWT after having authenticated the user

[2021-01-24 12:52] danielhoeller commented on #607
Hey @knjk04, I would like to work on this issue

[2021-01-24 13:36] knjk04 commented on #607
Hey @danielhoeller, thanks! I'll assign you to the issue. Feel free to reach out via a GitHub discussion or on the #help channel on Slack if you need anything

[2021-01-24 14:47] #606 closed

[2021-01-24 23:12] Kirill-frontend commented on #599
Sorry, I can't fix the bug, there were problems while editing.

[2021-01-25 06:20] knjk04 commented on #599
@Kirill-frontend That's OK

[2021-01-25 11:13] danielhoeller commented on #607
Thanks!

Here's my approach (I hope it's okay if i post that here. instinctively i chose the issue over slack :)):

I will install the [zxcvbn npm package](https://www.npmjs.com/package/zxcvbn) and use it in the [Register component](https://github.com/Project-Books/book-project/blob/0.2.0/frontend/src/register/Register.tsx) to determine the score on password change. In the old UI there is validati

[2021-01-25 17:04] knjk04 commented on #607
That's fine.

Also, I will create a new stateless component with the score as an input property that displays a LinearProgress in the right color and a corresponding text.

We're using Yarn, so could you instead install the [yarn package](https://yarnpkg.com/package/zxcvbn)? Otherwise, that's great, thanks!

[2021-01-26 08:08] abhity16 commented on #564
Hi @knjk04
Are you working on this?
If not, Can I take it up.

[2021-01-26 08:13] knjk04 commented on #564
Hi @abhity16,

Thanks for your interest!

I've implemented this (it's merged in, but I was meant to close this). We need to create a lot more endpoints, however, so feel free to keep an eye out!

[2021-01-26 08:14] #564 closed

[2021-01-28 08:23] #607 closed

[2021-01-28 08:30] knjk04 opened #613 "Only call API if the password strength is 'very strong'"
**Describe the solution you'd like**
We're using [zxcvbn](https://github.com/dropbox/zxcvbn) as our password strength estimator. We only want to call `sendRegisterRequest()` in `onCreateAccountClicked()` if the password strength is 'very strong'.

[code]

**Additional context**
`0.2.0 branch`

[2021-01-28 10:11] AdarshChandran2000 commented on #613
I will work on it.

[2021-01-28 10:34] AdarshChandran2000 commented on #613
Can I work on it?  This is my first open-source contribution, so I will be needing some help.

[2021-01-28 13:02] paralix0 commented on #572
Hi @knjk04, I would like to work on this issue please.

[2021-01-28 16:52] RivaD2 commented on #560
@knjk04 hello there! :)  I was looking around fo new issues and saw this one is open still. Shall I close it?

[2021-01-28 17:45] knjk04 commented on #613
Sure, thanks. That's completely fine. Feel free to reach out by creating a discussion on GitHub or asking on the #help channel on Slack should you need anything.

[2021-01-28 17:45] knjk04 commented on #605
@RivaD2 Thanks!

[2021-01-28 17:47] knjk04 commented on #608
Hey @danielhoeller, thanks! I'll assign you to it

[2021-01-28 17:49] knjk04 commented on #560
@RivaD2 Yes, please. Thanks for staying around to help more!

[2021-01-28 18:01] RivaD2 commented on #560
@knjk04 Looks like I am unable to close the issue:) Perhaps because I am not yet a collaborator or something of the sort.

[2021-01-28 18:04] knjk04 commented on #560
Oh, I'll close it then

[2021-01-28 18:04] #560 closed

[2021-01-28 18:06] knjk04 commented on #576
@SomyaPadhy4501 How are you getting on with this?

[2021-01-28 18:08] SomyaPadhy4501 commented on #576
Ohh I thought I did it as I created a pull req...can you please tell me what did I do wrong last time please.

[2021-01-28 19:09] knjk04 commented on #576
It was the branch name. See https://github.com/Project-Books/book-project/pull/597#issuecomment-764635756. You did not create a branch with a descriptive name and issue number (e.g. `rename-setup-to-getting-started-576`). If you need a hand with this, let us know

[2021-01-28 19:21] SomyaPadhy4501 commented on #576
ok thank you I will do it by tommorow

[2021-01-29 00:13] AdarshChandran2000 commented on #613
Should I clone and work on the master branch or the 0.2.0 branch? I cloned master but got confused about whether should I do it on the 0.2.0 branch because of the milestone.

[2021-01-29 08:31] knjk04 commented on #613
When you clone the repository, you clone the entire repository, not a specific branch (although, you'll get `master`). You can then checkout `0.2.0` and then checkout another branch again. In other words, you'll need to create a branch from `0.2.0`.

Here's a broad list of steps:
1. Clone the repository
2. Switch to the `0.2.0` branch
3. Create a new branch from `0.2.0`

Hopefully, that helps

[2021-01-29 08:39] knjk04 commented on #463
@amit1307 I'll assign you as we need to work on this now.

@tw-ayush Are you still interested in working on this issue?

[2021-01-29 08:42] #221 closed

[2021-01-29 08:42] knjk04 commented on #221
This has been implemented

[2021-01-29 08:45] #395 closed

[2021-01-29 11:00] AdarshChandran2000 commented on #613
Yes. This helps a lot. Thank you  @knjk04

[2021-01-29 12:28] SomyaPadhy4501 commented on #576
Sir I have done it please check once :)

[2021-01-29 16:23] AdarshChandran2000 commented on #613
I am not able to run the application on my device. I don't know what's the bug.  Also, I went through the code and just noticed that its React, which I actually don't know. I can fix the issue with some help but might take a lot of time (more than a week or two). So if someone else is ready to do, its better to assign him/her.  I found few typos in the documentation section. I think I will be able

[2021-01-29 19:23] ofvoler commented on #599
Can I try this? I think a combination of top and left positioning might work

[2021-01-30 08:14] glegshot commented on #337
@knjk04  the testcase countOnlyReadBooksWithAFinishDateTowardsGoal and was able to get the test executed successfully in windows.I have used the mvn wrapper in the project to get the test executed.
is the issue still reproducible? Could you post a error snap of the build to get more idea on it.

[2021-01-30 08:49] #576 closed

[2021-01-30 08:52] knjk04 commented on #613
@AdarshChandran2000 That's fine, thanks for letting us know

[2021-01-30 08:55] knjk04 commented on #599
@ofvoler Sure, thanks! If you'd like, you can also increase the size of everything (something we previously discussed).

When working on this, could you please ensure that it also looks good on mobile devices?

[2021-01-30 08:57] danielhoeller commented on #608
Similar to the Register component I will send an http request to the /login endpoint, if credentials are valid.
If the request is successful, I will use the history prop to route to /my-books

If the request fails, I am thinking to display a red [Alert](https://material-ui.com/components/alert/) below the **Create account** button

I am not sure what error message to display, exactly

[2021-01-30 11:31] knjk04 commented on #608
Sounds good, thanks!

Something like 'Your email or password is incorrect. Please try again' would be good.

[2021-01-30 12:41] knjk04 commented on #337
@glegshot Sorry, I'm not sure where the test is gone. Presumably, you were able to find it. Which file is it in?

[2021-01-30 13:01] glegshot commented on #337
@knjk04  the test is in com.karankumar.bookproject.ui.goal.ReadingGoalViewTest.java

[2021-01-30 15:10] knjk04 commented on #337
@glegshot Ah, I was looking in the wrong place. In that case, I'll close this issue as the test is no longer needed for 0.2.0 and subsequent releases. Apologies for the inconvenience

[2021-01-30 15:10] #337 closed

[2021-01-30 22:00] paralix0 commented on #572
Hi, I worked on it the last two days and it was done quite fast so I allowed myself to create a pull request. I hope it is alright.

[2021-01-31 08:04] knjk04 commented on #572
@paralix0 That's great, thanks! Once assigned, you're free to make a pull request whenever you're ready. I'll review your PR shortly

[2021-01-31 08:08] #146 closed

[2021-01-31 08:14] knjk04 commented on #347
Update: this will be the backend issue

[2021-01-31 08:18] #198 closed

[2021-01-31 09:00] danielhoeller commented on #608
I realized that the **Alert** component is part of the [Lab](https://material-ui.com/components/about-the-lab/) package (incubating components not yet ready to move to the core). So, I am not sure what to do exactly. I could
* Install the lab package
* just display text, unstyled
* just display text, but styled

I am thinking I'll just display a red text if that's okay

[2021-01-31 09:09] knjk04 commented on #608
Red text is perfect, thanks!

[2021-01-31 10:19] knjk04 opened #619 "Fix failing build on Azure Pipelines"
[code]

The build is currently failing (e.g. see https://dev.azure.com/project-books/Book%20Project/_build/results?buildId=83&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=ce18b30f-11b8-5f1e-8fbd-391708956df7)

[2021-01-31 14:44] kateerfle commented on #463
Hi Karan, could I work on this issue?

[2021-01-31 14:45] knjk04 commented on #463
Hi Kate, sure. Thanks!

[2021-01-31 15:24] tw-ayush commented on #563
Do you plan to use a JWT token or some other auth methods.

[2021-01-31 16:41] knjk04 commented on #563
We're using JWT, see #591

[2021-01-31 16:59] tw-ayush commented on #563
Then what is the scope of this API, i guess you are not expecting a token in response.

[2021-01-31 17:29] knjk04 commented on #563
I've blocked this for the time being. I can't quite remember why I made this issue as I know there's already a /login endpoint.

We are expecting a token back, but that should be set up.

[2021-02-01 04:30] glegshot commented on #232
@knjk04 is it required a REST based endpoint for password change or a complete end to end feature in the application to enable password change?

[2021-02-01 12:29] osopromadze commented on #613
Hey @knjk04 , I would like to work on this issue.

[2021-02-01 12:55] knjk04 commented on #613
Hey @osopromadze, thanks!

[2021-02-04 06:38] #613 closed

[2021-02-04 17:16] knjk04 commented on #232
This is a backend only change. We'll need an endpoint, but depending on how we decide to implement it, we may also need a service method

[2021-02-04 17:18] #235 closed

[2021-02-05 08:59] knjk04 opened #623 "Replace SEQUENCE generation type for IDENTITY"
IDENTITY recommended for MySQL, so switch to this. MySQL doesn't support SEQUENCE.

The `BaseEntity` can be removed and each class can specify its ID

[2021-02-05 18:11] knjk04 commented on #356
@hieu-t-tran I've reassigned you. I've also updated the issue description to say that we should target `0.2.0`, as discussed. Could you please, therefore, branch off `0.2.0` and, when you're ready, create a PR to go back into it?

[2021-02-05 18:18] #585 closed

[2021-02-05 18:18] #608 closed

[2021-02-05 18:19] #572 closed

[2021-02-06 18:25] #623 closed

[2021-02-07 08:05] #605 closed

[2021-02-07 08:13] knjk04 opened #625 "Implement light app bar"
**Describe the solution you'd like**
- Add a material UI switch that lets a user toggle dark mode (by default, we want light mode)
![image](https://user-images.githubusercontent.com/11173328/107140710-e01d9280-691b-11eb-826a-d416cbfdafb4.png)

- Add a light app bar with a shadow. The logo, material UI icons and text should be white in light mode
![image](https://user-images.githubusercontent.com/1

[2021-02-07 17:03] RivaD2 commented on #625
@knjk04 I will take this one if that's cool. I am kinda already familiar with the app bar from the last issue I worked on :)

[2021-02-08 07:37] knjk04 commented on #625
@RivaD2 Perfect, thanks!

[2021-02-08 17:24] VikramSitaram commented on #359
@knjk04 Is this issue open to be worked upon? Also, is there an updated Slack link that I can use (seems like the one I clicked is expired). Thanks!

[2021-02-09 06:28] knjk04 commented on #359
@VikramSitaram Yes, I'll unblock the issue and assign you to it. Thanks!

Here's an updated Slack link: https://join.slack.com/t/teambookproject/shared_invite/zt-lvr8oi47-8BjZzov0QDsx4RvjkNjOcA. I'll update the links on the READMEs

[2021-02-09 14:15] glegshot commented on #232
@knjk04 to get the password reset,there must be some kind of authentication check to be done.
Either we can go with a secret q&a or generate a password reset link with a token linked to the account which can be sent to the user email.
Let me know your insights on these possibilities.
With the latter approach we will have to establish or lease  a SMTP server which would be an extra added task.

[2021-02-09 17:06] knjk04 commented on #232
@glegshot I was thinking for this endpoint to be for a user changing their password within the web app after having locked in (so they're already authenticated and have a bearer token).

I'll create another issue for resetting the password. That'll be with a password reset link, as you said

[2021-02-11 12:16] AkshatGadhwal commented on #625
Hi @knjk04,  can I contribute to this issue?

[2021-02-11 16:52] knjk04 commented on #625
@AkshatGadhwal Sorry, I've already assigned Riva to it. Feel free to request to be assigned on an unblocked and unassigned issue

[2021-02-11 23:41] RivaD2 commented on #625
@knjk04 Here is my approach:
- **Step 1:** Create the Material-UI Switch component using the Basic Switch option(default color, grey) as seen here:
[Material-UI Switch](https://material-ui.com/components/switches/#switch)

- **Step 2**: Import the Switch component into the `Settings.tsx` file for use

- **Step 3:** Create a method called `toggleTheme` in `Settings.tsx` component and pass `onClick`

[2021-02-12 19:32] knjk04 commented on #625
@RivaD2 Thanks for describing your approach! It sounds good to me. I'd recommend creating a theme/using a theme provider so that we can better tailor it to our needs (if I've understood the documentation correctly). Thanks!

[2021-02-12 19:40] hieu-t-tran commented on #356
Just as an update, I have finished installing the 0.2.0 branch and am in the process of bringing all of the changes from my previous pull request to a new branch. I will make a new pull request after this new branch is in sync with my previous pull request and then keep working on the changes you requested.

[2021-02-13 07:00] #356 closed

[2021-02-13 07:04] knjk04 commented on #599
@ofvoler How are you getting on with this?

[2021-02-13 07:04] #517 closed

[2021-02-13 07:25] knjk04 commented on #481
@shubhamsinghrathi It looks like this isn't an issue, so I'll close this

[2021-02-13 07:25] #481 closed

[2021-02-13 17:34] ZackHollander commented on #345
I will like to take this issue.

[2021-02-13 19:08] knjk04 commented on #345
@ZackHollander Thanks, I've assigned you to it. I've also updated the issue description

[2021-02-13 21:21] SeonghoLee4 commented on #280
I would like to be assigned to this issue.

[2021-02-14 06:37] knjk04 commented on #280
@SeonghoLee4 Thanks!

[2021-02-15 17:31] ofvoler commented on #599
I've just started with it this weekend. I was having lots of issues with the virtual machine I have the project on and was also trying to read up more about React before I started. I'm hoping to have it done this week but will update you if I'm having any issues

[2021-02-15 21:23] RivaD2 commented on #625
@knjk04 Where should this preference for light or dark mode be stored? So I started to work and now I see that it could be stored in the `App.tsx` state and triggered by a callback prop in `Settings.tsx` OR it of course could be stored elsewhere like in Redux, Context API etc...What are your thoughts here?

Thank you for your help!

[2021-02-16 07:27] knjk04 commented on #625
@RivaD2 I'm quite new to React and I've never used Redux or the Context API before, so I'll have to look into those.

For now, I'm thinking we should store it in `App.tsx` as a temporary approach. Eventually, it would be good if we could persist a user's preferences (there may be things besides light/dark mode) in our database (via our backend)

[2021-02-16 07:28] knjk04 opened #628 "Update setup instructions"
The setup instructions for running production may no longer be valid that now we're running AWS. We should instead only include instructions to run development

[2021-02-16 07:28] #563 closed

[2021-02-16 07:28] #539 closed

[2021-02-16 07:29] #239 closed

[2021-02-16 07:33] #246 closed

[2021-02-16 16:00] RivaD2 commented on #625
@knjk04 Thank you for your input, it is much appreciated!

[2021-02-17 08:50] kumawatanupriya commented on #1
Is someone working on it or done working?? If not I would like to work on it.

[2021-02-17 17:01] knjk04 commented on #1
This is available, so I'll you to it. Thanks!

[2021-02-17 17:44] knjk04 commented on #502
Completed

[2021-02-17 17:44] #502 closed

[2021-02-18 16:41] bemccandless commented on #208
I would say that a book is unique by ISBN, or more collectively Title, Author, and ISBN.  This problem seems to be fixed by updating `@EqualsAndHashCode(callSuper = false, onlyExplicitlyIncluded = true)` and annotating the Title, Author, and ISBN properties with `@EqualsAndHashCode.Include`.  But it depends on what you consider as unique.   If it's imperative that the Id remain unique for a book a

[2021-02-18 18:22] knjk04 commented on #208
@bemccandless Thanks for your comment! I agree that title, author and ISBN collectively should be considered unique generally speaking. However, in our case, entering an ISBN would be optional for the user, so we still want the ID to be the unique identifier (this maps to a database table where the ID should be autoincremented).

Would you be interested in working on fixing this? If so, I've updat

[2021-02-20 11:59] kumawatanupriya commented on #1
@knjk04 raised a PR https://github.com/Project-Books/book-project/pull/631 , Please check.
Please comment is something needs to be changed or you would like a different approach.

[2021-02-20 15:14] glegshot commented on #232
@knjk04 ok,in that case we can go with an API that will accept the current password and the new password as the parameters and then update accordingly the user entry after necessary checks.

[2021-02-21 07:22] knjk04 commented on #280
@SeonghoLee4 How are you getting on with this?

[2021-02-21 07:22] knjk04 commented on #345
@ZackHollander How are you getting on with this?

[2021-02-21 10:00] knjk04 commented on #232
@glegshot Yes, let's do that. Are you happy to create an endpoint in a controller class for this? If so, I'll assign you to the issue.

[2021-02-21 10:23] knjk04 opened #632 "Fix running app using docker-compose build"
**Describe the bug**

Step 2 in the setup instructions in the README does not work on Windows.

[code]

The app should run the dev profile, not production.

[2021-02-21 19:54] ZackHollander commented on #345
just finished going through all the stuff you sent Kate. I am starting today.

[2021-02-23 01:09] RivaD2 commented on #625
@knjk04 I am pretty much done :) The remaining part is getting the image sizing/letter orientation for black logo to match that of the white logo.
I compared the provided black logo to the light logo and they are different as far as indentation/text direction go. For the white logo, the letters are stacked in a column, for black they are in a row.
Can you provide a bit of direction for me on how I

[2021-02-23 06:46] knjk04 commented on #625
@RivaD2 Great!

![logo-two-lines-black@1x](https://user-images.githubusercontent.com/11173328/108810269-aba80880-75a2-11eb-90b8-6f1a44c5d32a.png)
![image](https://user-images.githubusercontent.com/11173328/108810298-be224200-75a2-11eb-8dac-c0c38b51aac7.png)

Sorry, what do you mean by this? I thought they were both stacked in a column?

[2021-02-23 07:07] RivaD2 commented on #625
@knjk04 I see what is going on, my apologies. I was using the black logo from the `media/logo` folder rather than the black logo you shared with me in my open PR. The one in the `media/logo` folder is this:

![Screen Shot 2021-02-22 at 11 00 13 PM](https://user-images.githubusercontent.com/67027945/108811680-85fb0f00-7562-11eb-9137-3f5ca2d324e2.png)

I will make the change and we should be good to

[2021-02-23 08:07] knjk04 commented on #625
@RivaD2 No, I appreciate it wasn't clear. Perhaps we need to create subfolders in `media`. We use the one line black logo on the login screen and the one with two lines in the app bar.

The one with the PR, please. Thanks!

[2021-02-23 08:16] RivaD2 commented on #625
@knjk04 Alrighty!  I made the requested changes and added in an updated movie to the PR to show alll changes made. Hopefully I got it mostly right this time around:)

[2021-02-24 02:58] bemccandless commented on #208
Sorry, I won't be able to take this issue.  I was unable to get version 0.2.0 to start up correctly in my IDE.  I also don't understand this issue and the expected outcome.  The test I added for checking object equality worked without any additional updates to the Book object.

[code]

[2021-02-24 08:12] knjk04 opened #637 "SQLException: Field 'id' doesn't have a default value"
**Describe the bug**

Various tables do not have an auto-incrementing primary key. This is preventing a few people from running the app successfully.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app

**Expected behaviour**

Every table should have an auto-incrementing ID.

**Additional context**

Stack trace: https://gist.github.com/knjk04/24f46ab7de482603a829e42c6f523366

[2021-02-24 08:20] knjk04 opened #639 "Fix transient object exception"
**Describe the bug**

The test `createJsonRepresentationForBooks()` in `BookServiceTest.java` is failing because a 'tag' is not saved before flushing.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the `createJsonRepresentationForBooks() test

**Expected behaviour**

Test should pass.

**Additional context**

Stack trace: https://gist.github.com/knjk04/f0fb2886214dfeb8c3139943bda80189

[2021-02-24 08:41] knjk04 commented on #208
@bemccandless That's fine. I know a few people ran into some SQL issues that were preventing the app from running, but I'm working on fixing that. I'll have a look into this to see whether this is no longer an issue

[2021-02-25 05:57] vAdyar opened #641 "Broken link in Contribution.md file."
**Describe the bug**
https://github.com/Project-Books/book-project/blob/main/CONTRIBUTING.md

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://github.com/Project-Books/book-project'
2. Scroll down to 'Contribution'
3. Click on 'contributing document'
4. Scroll down to 'New Files' under '6. Code Contribution'
5. Click on the '

[2021-02-25 06:39] knjk04 commented on #641
Thanks for bringing this up! Would you be interested in creating a pull request for this?

[2021-02-25 06:47] knjk04 opened #642 "Fix data integrity violation exceptions"
**Describe the bug**

Various `BookTest` tests are failing due to a constraint violation in the table `book_tag`.

Failing tests:
- correctlyConvertEditionEndingIn1()
- correctlyConvertEditionEndingIn2()
- correctlyConvertEditionEndingIn3()
- correctlyConvertNthEdition()
- notAcceptBlankTitle()
- notAcceptNullTitle()
- notRemoveOrphanTags()

**To Reproduce**
Steps to reproduce the behaviour:
1. Ru

[2021-02-25 08:12] #642 closed

[2021-02-25 19:00] knjk04 opened #644 "Do not ignore tests"
If a test fails, we shouldn't add a ignore annotation as it is easy to brush off the failing test, even if there's an associated issue. It's better to fail the build so that we prioritise fixing the failing test.

Update the `Disabling failing tests` section in the Java style guide accordingly.

[2021-02-26 08:14] #599 closed

[2021-02-26 08:17] knjk04 opened #645 "Make the create account page responsive"
**Describe the bug**

The create account page is not responsive.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `localhost:3000/sign-up`
2. See error

**Expected behaviour**

Everything should be centred in the middle of the page, even for mobile devices.

**Screenshots**

At 2560x1440p:
![image](https://user-images.githubusercontent.com/11173328/109273971-ce3c5a80-780a-11eb-9dd3-b17

[2021-02-26 11:14] vAdyar commented on #641
Yea sure. You can assign it to me.

[2021-02-26 18:11] #641 closed

[2021-02-27 07:19] #507 closed

[2021-02-27 07:20] #359 closed

[2021-03-01 11:09] kumawatanupriya commented on #1
Hi @knjk04 created pull request , please check https://github.com/Project-Books/book-project/pull/647

[2021-03-03 08:18] knjk04 commented on #644
Added

[2021-03-03 08:18] #644 closed

[2021-03-05 14:40] kateerfle opened #654 "Fix Transient Property Value Exception for Predefined Shelf when Adding New Book"
**Describe the bug**

When sending a POST request to the server to add a Book, the predefinedShelf field is throwing a TransientPropertyValueException.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://github.com/kateerfle/book-project/tree/add-rest-endpoint-463
2. Fork and run the application as usual for the 0.2.0 branch
3. With both the backend, frontend, and database running

[2021-03-06 09:04] knjk04 commented on #280
Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-03-06 09:49] #1 closed

[2021-03-06 10:21] knjk04 opened #655 "Enable CSRF protection"
We are currently disabling CSRF protection in `SecurityConfiguration.java` but should not be.

[2021-03-06 15:13] hsergiu commented on #567
Would you let me do this one?

[2021-03-06 15:59] RivaD2 commented on #625
@knjk04 It seems that since the PR's are linked to issues, and we use the `closes #` syntax, that the issue should close automatically once PR is merged. In this case, since I can't close it, would you mind closin' this one? Thank you :)

[2021-03-06 16:03] knjk04 commented on #625
@RivaD2 I think they're not closing automatically because we didn't merge into the default branch (`main` in our case). I'll close this (thanks for the reminder!). Thanks again for all of the help!

[2021-03-06 16:03] #625 closed

[2021-03-07 11:12] knjk04 commented on #567
@hsergiu Sure, thanks! I've added more detail to the issue description. If you need a hand with anything, feel free to create a Q&A discussion on GitHub!

[2021-03-08 07:04] knjk04 commented on #567
@hsergiu If you've already started, I'd recommend rebasing from `0.2.0` to get some new changes to the create account page

[2021-03-08 07:15] knjk04 opened #656 "Create Shelf carousel component"
**Describe the solution you'd like**
Create a new shelf carousel component to go on the 'my books' page. It should have the following:
- Name of the shelf
- A 'VIEW ALL' link next to the shelf name
- A white shelf with a shadow
- Equally sized and spaced apart slots for books (a simple rectangle will suffice for now as placeholders). There should be at most six slots
- An 'Add book' slot at the en

[2021-03-08 07:35] kumawatanupriya commented on #80
@knjk04 Hi, May I work on it??

[2021-03-08 07:49] knjk04 commented on #80
@kumawatanupriya Sure, thanks again for your help!

[2021-03-08 09:31] hsergiu commented on #567
I understand. Thank you for the info.

[2021-03-10 01:02] ofvoler commented on #656
Can I try this?

[2021-03-12 07:20] VikramSitaram commented on #654
@knjk04 - Can i take a shot at this?

[2021-03-12 08:29] knjk04 commented on #654
@kateerfle Thanks for bringing this up! I think this is no longer an issue now, right?

[2021-03-12 15:13] kateerfle commented on #654
@knjk04 @VikramSitaram yes, now that we have changed our approach for the @PostMapping, this is no longer an issue.  I can delete it now then.  Thanks for offering to help though!

[2021-03-12 15:14] #654 closed

[2021-03-13 10:02] knjk04 opened #660 "Set up bot to follow-up"
Set up a bot on GitHub that checks up on people in the issue (or PR if they have) every 7 days. We should ask something along the lines of 'How are you getting on with this issue?'.

This will save us having to manually keep track of when and whom to ask

[2021-03-13 17:48] #567 closed

[2021-03-18 07:41] knjk04 commented on #80
@kumawatanupriya How are you getting on with this issue?

[2021-03-18 07:42] #645 closed

[2021-03-18 07:42] knjk04 commented on #280
@SeonghoLee4 How are you getting on with this?

[2021-03-18 09:32] kumawatanupriya commented on #80
@knjk04 didn't get time, will work on it in coming days

[2021-03-19 08:25] knjk04 commented on #656
@ofvoler How are you getting on with this?

[2021-03-19 08:36] knjk04 opened #661 "Replace Author first and last name with full name field"
[code]

Instead of having separate fields for an `Author`'s first and last name, it should be one field called `fullName`. This is in line with a future frontend change we will be making.

Branch from `0.2.0` and create a branch to go back into it

[2021-03-20 01:34] ofvoler commented on #656
Good! I mocked it out in HTML, and I've been catching up on React this week. I think I'll get started with the component on Monday.

[2021-03-20 15:37] knjk04 commented on #632
@amit1307 How are you getting on with this?

[2021-03-21 04:09] hieu-t-tran commented on #661
Hi Karan! Could I try working on this issue?

[2021-03-21 07:46] knjk04 commented on #661
Hi Hieu, sure. Thanks!

[2021-03-22 16:35] kumawatanupriya commented on #80
@knjk04 can you check this pull request https://github.com/Project-Books/book-project/pull/662

[2021-03-23 17:55] knjk04 commented on #580
Closing as we're now using Jira for design

[2021-03-23 17:55] knjk04 commented on #579
Closing as we're now using Jira for design

[2021-03-23 17:55] #579 closed

[2021-03-23 17:55] knjk04 commented on #580
Closing as we're now using Jira for design

[2021-03-23 17:55] #580 closed

[2021-03-23 17:55] knjk04 commented on #264
Closing as we're now using Jira for design

[2021-03-23 17:56] knjk04 commented on #265
Closing as we're now using Jira for design

[2021-03-23 17:56] #265 closed

[2021-03-23 17:56] knjk04 commented on #449
Closing as we're now using Jira for design

[2021-03-23 17:56] #449 closed

[2021-03-23 17:56] knjk04 commented on #264
Closing as we're now using Jira for design